{
      "openapi": "3.1.1",
      "info": {
        "title": "API2Cart OpenAPI",
        "version": "1.1",
        "description": "API2Cart",
        "termsOfService": "https://api2cart.com/terms-service",
        "contact": {
          "email": "contact@api2cart.com"
        }
      },
      "servers": [
        {
          "url": "https://api.api2cart.com/v1.1",
          "description": "API2Cart Production Server"
        }
      ],
      "tags": [
        { "name": "account" },
        { "name": "cart" },
        { "name": "product" },
        { "name": "marketplace" },
        { "name": "category" },
        { "name": "order" },
        { "name": "customer" },
        { "name": "attribute" },
        { "name": "tax" },
        { "name": "webhook" },
        { "name": "batch" }
      ],
      "paths": {"/account.failed_webhooks.json":{"get":{"tags":["account"],"summary":"account.failed_webhooks","description":"Abrufen einer Liste verpasster Webhooks zur erneuten Synchronisierung.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountFailedWebhooks","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"all_failed_webhook":{"type":"string"},"webhook":{"type":"array","items":{"type":"object","properties":{"webhook_id":{"type":"integer"},"entity_id":{"type":"string"},"time":{"$ref":"#/components/schemas/A2CDateTime"}}}}}}}}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"ids","description":"Liste der durch Kommas getrennten Webhook-IDs","schema":{"type":"string"},"example":"3,14,25","in":"query","required":false}]}},"/account.supported_platforms.json":{"get":{"tags":["account"],"summary":"account.supported_platforms","description":"Verwenden Sie diese Methode, um eine Liste der unterst\u00fctzten Plattformen und die f\u00fcr die Verbindung zu jeder einzelnen erforderlichen Parameter abzurufen.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountSupportedPlatforms","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_platforms":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"cart_method":{"type":"string"},"params":{"type":"object","properties":{"required":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}},"additional":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}}}}}}}}}}}}}},"parameters":[]}},"/account.cart.list.json":{"get":{"tags":["account"],"summary":"account.cart.list","description":"Mit dieser Methode k\u00f6nnen Sie eine Liste der mit Ihrem API2Cart-Konto verbundenen Online-Shops abrufen.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"carts_count":{"type":"integer"},"carts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"store_key":{"type":"string"},"cart_id":{"type":"string"},"total_calls":{"type":"string"}}}}}}}}}}}},"parameters":[{"name":"store_url","description":"Eine Webadresse eines Shops","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"store_key","description":"Shop anhand des Store-Schl\u00fcssels finden","schema":{"type":"string"},"example":"ab37fc230bc5df63a5be1b11220949be","in":"query","required":false},{"name":"request_from_date","description":"Abrufen von Entit\u00e4ten ab ihrem Erstellungsdatum","schema":{"type":"string"},"example":"2010-07-29","in":"query","required":false},{"name":"request_to_date","description":"Abrufen von Entit\u00e4ten bis zu ihrem Erstellungsdatum","schema":{"type":"string"},"example":"2100-08-29","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"force_all"},"example":"url,store_key","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"url,store_key","in":"query","required":false}]}},"/account.cart.add.json":{"post":{"tags":["account"],"summary":"account.cart.add","description":"Verwenden Sie diese Methode, um den Prozess der Verbindung von Shops mit API2Cart zu automatisieren.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCartAdd"}}}}}},"/account.config.update.json":{"put":{"tags":["account"],"summary":"account.config.update","description":"Verwenden Sie diese Methode, um die \u00c4nderung der Anmeldeinformationen f\u00fcr die Verbindung von Online-Shops zu automatisieren.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AccountConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated_items":{"type":"integer"}}}}}}}}},"parameters":[{"name":"replace_parameters","description":"Identifiziert, ob es notwendig ist, Parameter zu ersetzen","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"new_store_url","description":"Die Webadresse des Gesch\u00e4fts, das Sie aktualisieren m\u00f6chten, um es mit API2Cart zu verbinden","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"new_store_key","description":"Aktualisieren Sie den Store-Schl\u00fcssel","schema":{"type":"string"},"example":"b636495648de3086f6f57b1bd4be548f","in":"query","required":false},{"name":"bridge_url","description":"Dieser Parameter erm\u00f6glicht die Einrichtung eines Shops mit einer benutzerdefinierten Bridge-URL (auch m\u00fcssen Sie den Parameter store_root verwenden, wenn sich der Bridge-Ordner nicht im Stammverzeichnis des Shops befindet)","schema":{"type":"string"},"example":"https://your-store.com/custom/bridge/path/bridge.php","in":"query","required":false},{"name":"store_root","description":"Absoluter Pfad zum Stammverzeichnis des Shops (wird mit dem Parameter \"bridge_url\" verwendet)","schema":{"type":"string"},"example":"/home/www/stores/magento1922","in":"query","required":false},{"name":"db_tables_prefix","description":"Pr\u00e4fix der Datenbanktabellen","schema":{"type":"string"},"example":"oc_","in":"query","required":false},{"name":"user_agent","description":"Dieser Parameter erm\u00f6glicht es Ihnen, einen benutzerdefinierten User-Agent festzulegen, der in Anfragen an den Shop verwendet wird. Bitte verwenden Sie ihn mit Vorsicht, da die Firewall des Shops bestimmte Werte blockieren kann.","schema":{"type":"string"},"example":"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0","in":"query","required":false},{"name":"3dcart_private_key","description":"3DCart Privater Schl\u00fcssel","schema":{"type":"string"},"example":"7dba81f90bdbe25e7000e73214ca51b","in":"query","required":false},{"name":"3dcart_access_token","description":"3DCart-Token","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"3dcartapi_api_key","description":"3DCart-API-Schl\u00fcssel","schema":{"type":"string"},"example":"82cc921c6a5c67082cc921c6a5c6707e1d6e6862ba3201a","in":"query","required":false},{"name":"amazon_sp_client_id","description":"Amazon SP API-App-Client-ID","schema":{"type":"string"},"example":"amzn1.application-oa2-client.11e000e1f47d4998aca3733716d3b5a4","in":"query","required":false},{"name":"amazon_sp_client_secret","description":"Amazon SP API-App-Client-Geheimnis","schema":{"type":"string"},"example":"2c987428209f235443221255bde064f4bdf8a65165a80f5d22760a83cb","in":"query","required":false},{"name":"amazon_sp_refresh_token","description":"Amazon SP API OAuth-Aktualisierungstoken","schema":{"type":"string"},"example":"Atzr|IwEBIPUI-bwRTdDgKNQ_g56C30wGqymtx30c9MdDC7Emwmojhs20k5BBG2hHtJiGZ_7OfG7khd1RuQr6KEst4qyWbo_eXi5S_T_VOxzJUuksG1cFOGFpFK-cnhReNzAeZIpZeJT7_ROy1csEFlQfC8FJS3bsbSkkbTz2ZcTN7_7ey0HVlhyfFizgROeSeOI24Wjs9l_KKzZW0jvi_oC2cxlIcyknnHLK6KMNz2rTXqQJWRtlK9xPJDdbcUa5STA8MQru91cxNBpSkZN_cq9OOELhbsIGKD75y7nZ3yJU4uHQC_9iBQQoFm0biKgi-kEQwOhwws8","in":"query","required":false},{"name":"amazon_sp_aws_region","description":"Amazon AWS-Region","schema":{"type":"string"},"example":"us-east-1","in":"query","required":false},{"name":"amazon_sp_api_environment","description":"Amazon SP API-Umgebung","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"amazon_seller_id","description":"Amazon-Verk\u00e4ufer-ID (H\u00e4ndler-Token)","schema":{"type":"string"},"example":"13P636B2M1N4WR","in":"query","required":false},{"name":"aspdotnetstorefront_api_user","description":"Es ist ein AspDotNetStorefront-Konto, f\u00fcr das die API verf\u00fcgbar ist","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"aspdotnetstorefront_api_pass","description":"AspDotNetStorefront-API-Passwort","schema":{"type":"string"},"example":"f6471ef78f72b41849a8b8b67791b0b5","in":"query","required":false},{"name":"bigcommerceapi_admin_account","description":"Es ist ein BigCommerce-Konto, f\u00fcr das die API aktiviert ist","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"bigcommerceapi_api_path","description":"BigCommerce-API-URL","schema":{"type":"string"},"example":"http://mystore.bigcommerce.com/api/v1","in":"query","required":false},{"name":"bigcommerceapi_api_key","description":"BigCommerce-API-Schl\u00fcssel","schema":{"type":"string"},"example":"6b89704cd75738cb0f9f6468d5462aba","in":"query","required":false},{"name":"bigcommerceapi_client_id","description":"Client-ID der anfordernden Anwendung","schema":{"type":"string"},"example":"p1r37bt131z86675nofv9xmhietoe4t","in":"query","required":false},{"name":"bigcommerceapi_access_token","description":"Zugriffstoken, das der Anwendung den Zugriff auf Ressourcen im Namen eines Benutzers erlaubt","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"bigcommerceapi_context","description":"API-Pfadabschnitt, der f\u00fcr den Shop einzigartig ist","schema":{"type":"string"},"example":"stores/etplnf8o8v","in":"query","required":false},{"name":"bol_api_key","description":"Bol-API-Schl\u00fcssel","schema":{"type":"string"},"example":"51369628-feee-11ed-be56-0242ac120002","in":"query","required":false},{"name":"bol_api_secret","description":"Bol-API-Geheimnis","schema":{"type":"string"},"example":"8fGzEsbEP5z2MNZubmIil87m-sWzTkj?KDQKrmzmU!fA6aAUNMdKRp7LMWHwE!G37UMfnWByHBGSXJHkAG?QcuYTO2uklv4idIHwUMLHK!OO1yfRlWh!","in":"query","required":false},{"name":"bol_retailer_id","description":"Bol-H\u00e4ndler-ID","schema":{"type":"integer"},"example":"145001","in":"query","required":false},{"name":"demandware_client_id","description":"Demandware-Client-ID","schema":{"type":"string"},"example":"b849eb85-v8b9-1dw8-9fe2-97e1d6ffc7b0","in":"query","required":false},{"name":"demandware_api_password","description":"Demandware-API-Passwort","schema":{"type":"string"},"example":"testpassword","in":"query","required":false},{"name":"demandware_user_name","description":"Demandware-Benutzername","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"demandware_user_password","description":"Demandware-Benutzerpasswort","schema":{"type":"string"},"example":"12345","in":"query","required":false},{"name":"ebay_client_id","description":"Anwendungs-ID (AppID).","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"ebay_client_secret","description":"Geteiltes Geheimnis der eBay-Anwendung","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_runame","description":"Der RuName-Wert, den eBay Ihrer Anwendung zuweist.","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_access_token","description":"Wird zur Authentifizierung von API-Anfragen verwendet.","schema":{"type":"string"},"example":"v^1.1#i ... AjRV4yNjA=","in":"query","required":false},{"name":"ebay_refresh_token","description":"Wird verwendet, um das Zugriffstoken zu erneuern.","schema":{"type":"string"},"example":"v^1.1#i ... rAewqVasdA=","in":"query","required":false},{"name":"ebay_environment","description":"eBay-Umgebung","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"ebay_site_id","description":"Globale eBay-ID","schema":{"type":"integer","default":0},"example":"101","in":"query","required":false},{"name":"ecwid_acess_token","description":"Zugriffstoken, das der App den Zugriff auf Ressourcen im Namen eines Benutzers erlaubt","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"ecwid_store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lazada_app_id","description":"Lazada-App-ID","schema":{"type":"string"},"example":"112577","in":"query","required":false},{"name":"lazada_app_secret","description":"Lazada-App-Geheimnis","schema":{"type":"string"},"example":"er33raICJ79Q5b0EsR9stmRnjE9XQ2WH","in":"query","required":false},{"name":"lazada_refresh_token","description":"Lazada-Aktualisierungstoken","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"lazada_region","description":"Lazada-API-Endpunktregion","schema":{"type":"string"},"example":"Malaysia","in":"query","required":false},{"name":"etsy_keystring","description":"Etsy-Schl\u00fcsselzeichenfolge","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"etsy_shared_secret","description":"Gemeinsames Geheimnis von Etsy","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"etsy_access_token","description":"Zugriffstoken, das der App den Zugriff auf Ressourcen im Namen eines Benutzers erlaubt","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_token_secret","description":"Geheimer Token, der der App den Zugriff auf Ressourcen im Namen eines Benutzers erlaubt","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_client_id","description":"Etsy-Client-ID","schema":{"type":"string"},"example":"w0fi0igk2w29bjcd7ydr2s35","in":"query","required":false},{"name":"etsy_refresh_token","description":"Etsy-Aktualisierungstoken","schema":{"type":"string"},"example":"223577551.L07_RE-y7unmKf2dox4djsHkVxwpUfs1ikG_uQmHhF-aASEReNn_Qns1Wqn3dDa0ZMxrt9CIael3dgudeDZb31ZUdS","in":"query","required":false},{"name":"facebook_app_id","description":"Facebook-App-ID","schema":{"type":"string"},"example":"6516912365277570","in":"query","required":false},{"name":"facebook_app_secret","description":"Facebook-App-Geheimnis","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"facebook_access_token","description":"Facebook-Zugriffstoken","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUAhqbS58clzJwyp1rYRMpP31QJGziqtYbKypdVx3Cs0RpuufoUeLsbfX195XIB8VTlkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"facebook_business_id","description":"Facebook-Business-ID","schema":{"type":"string"},"example":"294042786906655","in":"query","required":false},{"name":"neto_api_key","description":"Neto API-Schl\u00fcssel","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"neto_api_username","description":"Neto-Benutzername","schema":{"type":"string"},"example":"mylogin","in":"query","required":false},{"name":"shopline_access_token","description":"Shopline APP-Schl\u00fcssel","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopline_app_key","description":"Shopline APP-Schl\u00fcssel","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"shopline_app_secret","description":"Shopline-App-Geheimnis","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopline_shared_secret","description":"Shopline Gemeinsames Geheimnis","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopify_access_token","description":"Zugriffstoken, das der App den Zugriff auf Ressourcen im Namen eines Benutzers erm\u00f6glicht","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopify_api_key","description":"Shopify API-Schl\u00fcssel","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"shopify_api_password","description":"Shopify API-Passwort","schema":{"type":"string"},"example":"860f3a6fc87632301a42cd88e4b5ab3d","in":"query","required":false},{"name":"shopify_shared_secret","description":"Gemeinsames Geheimnis","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"shoplazza_access_token","description":"Zugriffstoken, das der App den Zugriff auf Ressourcen im Namen eines Benutzers erm\u00f6glicht","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shoplazza_shared_secret","description":"Gemeinsames Geheimnis","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"miva_access_token","description":"Miva-Zugriffstoken","schema":{"type":"string"},"example":"227cbe434a1e358d72db0de993x9d9fd","in":"query","required":false},{"name":"miva_signature","description":"Miva-Signatur","schema":{"type":"string"},"example":"1hpkrebfdsObGTor/0Gk9XcNBUQohrxrw67Sg9AM9ps=","in":"query","required":false},{"name":"shopware_access_key","description":"Shopware-Zugriffsschl\u00fcssel","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_key","description":"Shopware API-Schl\u00fcssel","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_secret","description":"Geheimer Zugriffsschl\u00fcssel des Shopware-Clients","schema":{"type":"string"},"example":"V3NYNWg2b1dZdHBUWDN1cmdKdGhnenp5enVJYlJ0WlJvOFF2bnQ","in":"query","required":false},{"name":"volusion_login","description":"Es handelt sich um ein Volusion-Konto, f\u00fcr das die API aktiviert ist","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"volusion_password","description":"Volusion API-Passwort","schema":{"type":"string"},"example":"7943CA5F3990E00D9A4CCF0BD998211F","in":"query","required":false},{"name":"walmart_client_id","description":"Walmart-Client-ID. F\u00fcr die Region 'ca' verwenden Sie die Verbraucher-ID","schema":{"type":"string"},"example":"423f6A24-123z-8654-989u-6fa96478289","in":"query","required":false},{"name":"walmart_client_secret","description":"Walmart-Client-Geheimnis. F\u00fcr die Region 'ca' verwenden Sie den privaten Schl\u00fcssel","schema":{"type":"string"},"example":"1gf85fea-8974-2648-w12w-rt54284tdf54","in":"query","required":false},{"name":"walmart_environment","description":"Walmart-Umgebung","schema":{"type":"string","default":"production"},"example":"production","in":"query","required":false},{"name":"walmart_channel_type","description":"Walmart WM_CONSUMER.CHANNEL.TYPE-Header","schema":{"type":"string"},"example":"0f3e4dd4-0514-4346-b39d-af0e00ea066d","in":"query","required":false},{"name":"walmart_region","description":"Walmart-Region","schema":{"type":"string","default":"us"},"example":"us","in":"query","required":false},{"name":"square_client_id","description":"Square (Weebly) Client-ID","schema":{"type":"string"},"example":"sq0idp-qwer_1pvuTYe9cAf1lmxyQ","in":"query","required":false},{"name":"square_client_secret","description":"Square (Weebly) Client-Geheimnis","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"square_refresh_token","description":"Square (Weebly) Aktualisierungstoken","schema":{"type":"string"},"example":"EQAAlquVXMr6xIcPu7qPkIEAZ0thqChhQuowrvZIqOlwhOwhtmyh4ZRfesdRc434","in":"query","required":false},{"name":"squarespace_api_key","description":"Squarespace API-Schl\u00fcssel","schema":{"type":"string"},"example":"8f7849d5-1411-47f2-9722-aa81c2a48d95","in":"query","required":false},{"name":"squarespace_client_id","description":"Squarespace Connector Client-ID","schema":{"type":"string"},"example":"9UGbUtS2V96BxRGmfOjsGAhTdsr9Vxxx","in":"query","required":false},{"name":"squarespace_client_secret","description":"Geheimer Schl\u00fcssel des Squarespace Connectors","schema":{"type":"string"},"example":"GPZkUFkIKWg0KLE6rajsFMMYA9ma0udaaq2bYwBDXXX=","in":"query","required":false},{"name":"squarespace_access_token","description":"Squarespace-Zugriffstoken","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"squarespace_refresh_token","description":"Squarespace-Aktualisierungstoken","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"hybris_client_id","description":"Omni Commerce Connector Client-ID","schema":{"type":"string"},"example":"api_client_1","in":"query","required":false},{"name":"hybris_client_secret","description":"Geheimer Schl\u00fcssel des Omni Commerce Connector","schema":{"type":"string"},"example":"secret_phrase_1","in":"query","required":false},{"name":"hybris_username","description":"Benutzername","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"hybris_password","description":"Benutzerpasswort","schema":{"type":"string"},"example":"nimda","in":"query","required":false},{"name":"hybris_websites","description":"Websites zur Zuordnung von Stores","schema":{"type":"array","items":{"type":"string"}},"example":"hybris_websites[0][uid]=apparel-website&hybris_websites[0][url]=https://apparel.local/yacceleratorstorefront&hybris_websites[0][storeIds][0]=apparel-de&hybris_websites[0][storeIds][1]=apparel-uk","in":"query","required":false},{"name":"lightspeed_api_key","description":"LightSpeed API-Schl\u00fcssel","schema":{"type":"string"},"example":"cf5444729c2abd6b6a5d983691767cb5","in":"query","required":false},{"name":"lightspeed_api_secret","description":"LightSpeed API-Geheimnis","schema":{"type":"string"},"example":"2620ee52a8bc942f9d5d3a575f4d363e","in":"query","required":false},{"name":"commercehq_api_key","description":"CommerceHQ-API-Schl\u00fcssel","schema":{"type":"string"},"example":"sJrD-LM0eddhe63rfgfva0dDydXfre4","in":"query","required":false},{"name":"commercehq_api_password","description":"CommerceHQ-API-Passwort","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"wc_consumer_key","description":"Woocommerce-Verbraucherschl\u00fcssel","schema":{"type":"string"},"example":"ck_26d8e2ad604f3917e429df6961722282bdcf109d","in":"query","required":false},{"name":"wc_consumer_secret","description":"Geheimer Verbraucherschl\u00fcssel von Woocommerce","schema":{"type":"string"},"example":"cs_931ced666118a15c5f7b4a33a15gf5589cbeba55","in":"query","required":false},{"name":"magento_consumer_key","description":"Magento-Verbraucherschl\u00fcssel","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"magento_consumer_secret","description":"Magento-Verbrauchergeheimnis","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"magento_access_token","description":"Magento-Zugriffstoken","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"magento_token_secret","description":"Magento-Token-Geheimnis","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"prestashop_webservice_key","description":"Prestashop-Webdienstschl\u00fcssel","schema":{"type":"string"},"example":"CKJ1ZEWRJWRLTPVBQJ9FGGRORD4AGS96","in":"query","required":false},{"name":"wix_app_id","description":"Wix App-ID","schema":{"type":"string"},"example":"6b0b5b7b-7d87-45b5-bf34-ac6b438e63da","in":"query","required":false},{"name":"wix_app_secret_key","description":"Geheimer Schl\u00fcssel der Wix-App","schema":{"type":"string"},"example":"316c0a09-f195-42be-74f6-a02cebb9cae6","in":"query","required":false},{"name":"wix_instance_id","description":"Wix-Instanz-ID","schema":{"type":"string"},"example":"58b893a4-6b16-5c2f-qt78-qa3r61t32rt8","in":"query","required":false},{"name":"wix_refresh_token","description":"Wix-Aktualisierungstoken","schema":{"type":"string"},"example":"\n        OAUTH2.eyJraWQiOiJkZ0x3cjNRMCIsImFsZyI6IkhTMjU2In0.\n        eyJkYXRhIjoie1wiaWRcIjpcImJlZjM3MmRmLTUyNGItNDI3NS05M2RkL\n        Tg4NDBlOTU3ZWU2OFwifSIsImlhdCI6MTY0ODA0NTEyNiwiZXhwIjoxNzExMTE3MTI2fQ.\n        VRR2lGSbcTVmaArtmyyhy6o4WRDwTn-nlDCQpZ97eYw\n      ","in":"query","required":false},{"name":"mercado_libre_app_id","description":"Mercado Libre App-ID","schema":{"type":"string"},"example":"211188015100135","in":"query","required":false},{"name":"mercado_libre_app_secret_key","description":"Geheimer Schl\u00fcssel der Mercado Libre-App","schema":{"type":"string"},"example":"e2qoG2zklLlfP7cEngEJ94YjhkejkjAm","in":"query","required":false},{"name":"mercado_libre_refresh_token","description":"Mercado Libre-Aktualisierungstoken","schema":{"type":"string"},"example":"TG-63h13529vb5464110188d2x9-703754376","in":"query","required":false},{"name":"zid_client_id","description":"Zid-Client-ID","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"zid_client_secret","description":"Zid-Client-Geheimnis","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"zid_access_token","description":"Zid-Zugriffstoken","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_authorization","description":"Zid-Autorisierung","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_refresh_token","description":"Zid-Aktualisierungstoken","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"flipkart_client_id","description":"Flipkart-Client-ID","schema":{"type":"string"},"example":"19414773883a13a850b6a52350b7246499a24","in":"query","required":false},{"name":"flipkart_client_secret","description":"Flipkart-Client-Geheimnis","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"allegro_client_id","description":"Allegro-Client-ID","schema":{"type":"string"},"example":"2915e189ce3d23d23d2327d204ae6a0bd","in":"query","required":false},{"name":"allegro_client_secret","description":"Allegro-Client-Geheimnis","schema":{"type":"string"},"example":"DNHtqdL2WPIefeUhQWYgtXPS23fgbfgasdsGHHJGhg3RTFDQWFGZmVoFRT5IfkQj1E7eR5","in":"query","required":false},{"name":"allegro_access_token","description":"Allegro-Zugriffstoken","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_refresh_token","description":"Allegro-Aktualisierungstoken","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_environment","description":"Allegro-Umgebung","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"zoho_client_id","description":"Zoho-Client-ID","schema":{"type":"string"},"example":"1000.FLCHGI2LS1111111TOR4OGB697W4IX","in":"query","required":false},{"name":"zoho_client_secret","description":"Zoho-Client-Geheimnis","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"zoho_refresh_token","description":"Zoho-Aktualisierungstoken","schema":{"type":"string"},"example":"1000.11111111111111111111111111111111.1b3ca6f054341a111118abf928beb33b","in":"query","required":false},{"name":"zoho_region","description":"Zoho-API-Endpunktregion","schema":{"type":"string"},"example":"Europe","in":"query","required":false},{"name":"tiendanube_user_id","description":"Tiendanube-Benutzer-ID","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"tiendanube_access_token","description":"Tiendanube-Zugriffstoken","schema":{"type":"string"},"example":"75bde7bb0b437475423e7e87c142c06052f80199","in":"query","required":false},{"name":"tiendanube_client_secret","description":"Tiendanube-Client-Geheimnis","schema":{"type":"string"},"example":"5e3588f514a5ae0d0fa063d1b556531e25c83fa7e47472ed","in":"query","required":false},{"name":"otto_client_id","description":"Otto-Client-ID","schema":{"type":"string"},"example":"911a3dbf-d261-4763-cc81-052876465b55","in":"query","required":false},{"name":"otto_client_secret","description":"Otto-Client-Geheimnis","schema":{"type":"string"},"example":"9887a82a-2879-421e-a6wc-54e986b3458c","in":"query","required":false},{"name":"otto_app_id","description":"Otto-App-ID","schema":{"type":"string"},"example":"6eaef6a3-822e-425b-8mc9-53750063e34d","in":"query","required":false},{"name":"otto_refresh_token","description":"Otto-Aktualisierungstoken","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"otto_environment","description":"Otto-Umgebung","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"otto_access_token","description":"Otto-Zugriffstoken","schema":{"type":"string"},"example":"eyJhbGciOiJS34535f45f54f5656deyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"tiktokshop_app_key","description":"TikTok Shop App-Schl\u00fcssel","schema":{"type":"string"},"example":"6arbhkzno8nbv","in":"query","required":false},{"name":"tiktokshop_app_secret","description":"TikTok Shop App-Geheimnis","schema":{"type":"string"},"example":"d95820a05a0cd54fb394fcd26fgat63999b183bc","in":"query","required":false},{"name":"tiktokshop_refresh_token","description":"TikTok Shop Aktualisierungstoken","schema":{"type":"string"},"example":"TTP_NTUxZTNhYTQ2ZDk2YmRmZWNmYWY2YWY12345NGYwNjQ3YjkzYTllYjA0YmNlMw","in":"query","required":false},{"name":"tiktokshop_access_token","description":"TikTok Shop Zugriffstoken","schema":{"type":"string"},"example":"TTP_Fw8r12345kW03FYd09DG-9INtpw361hWthei12345iPJ5AUv99fLSCYD9-Uu12345TgNRzKZxi5-tfFMtdWqglEt5_iCk","in":"query","required":false},{"name":"salla_client_id","description":"Salla-Client-ID","schema":{"type":"string"},"example":"1bxxxcf9-5xx4-xxx-bxxf-929b8xxxxe11","in":"query","required":false},{"name":"salla_client_secret","description":"Salla-Client-Geheimnis","schema":{"type":"string"},"example":"8x88axxxc25e1fxxxa1c06fxxx150xx5","in":"query","required":false},{"name":"salla_refresh_token","description":"Salla Aktualisierungstoken","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"salla_access_token","description":"Salla-Zugriffstoken","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false}]}},"/attribute.info.json":{"get":{"tags":["attribute"],"summary":"attribute.info","description":"Abrufen von Informationen \u00fcber ein bestimmtes globales Attribut anhand seiner ID.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/StoreAttribute"}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"Attributsatz-ID","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"force_all"},"example":"force_all","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"name","in":"query","required":false}]}},"/attribute.count.json":{"get":{"tags":["attribute"],"summary":"attribute.count","description":"Anzahl der Attribute abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attributes_count":{"type":"integer"}}}}}}}}},"parameters":[{"name":"type","description":"Definiert den Attributtyp","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"attribute_set_id","description":"Elemente nach Attributsatz-ID filtern","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Artikel nach Sichtbarkeitsstatus filtern","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Definiert, ob die Option erforderlich ist","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Wahr, wenn das Attribut ein Systemattribut ist","schema":{"type":"boolean"},"example":false,"in":"query","required":false}]}},"/attribute.list.json":{"get":{"tags":["attribute"],"summary":"attribute.list","description":"Liste der globalen Attribute abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_List"}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_ids","description":"Filterattribute nach IDs","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"attribute_set_id","description":"Elemente nach Attributsatz-ID filtern","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Ruft Attribute anhand der Sprach-ID ab","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"type","description":"Definiert den Attributtyp","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"visible","description":"Artikel nach Sichtbarkeitsstatus filtern","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Definiert, ob die Option erforderlich ist","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Wahr, wenn das Attribut ein Systemattribut ist","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{return_code,return_message,pagination,result}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"id,name,code,type"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.add.json":{"post":{"tags":["attribute"],"summary":"attribute.add","description":"Neues Attribut hinzuf\u00fcgen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"type","description":"Definiert den Attributtyp","schema":{"type":"string","enum":["text","select","textarea","date","price","multiselect","boolean"]},"example":"text","in":"query","required":true},{"name":"name","description":"Definiert den Namen des Attributs","schema":{"type":"string"},"example":"Specification","in":"query","required":true},{"name":"code","description":"Entit\u00e4tscode","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Sichtbarkeitsstatus festlegen","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"required","description":"Definiert, ob die Option erforderlich ist","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"position","description":"Position des Attributs","schema":{"type":"integer","default":0},"example":5,"in":"query","required":false},{"name":"attribute_group_id","description":"Filtern nach Attributgruppen-ID","schema":{"type":"string"},"example":"202","in":"query","required":false},{"name":"is_global","description":"Speicherbereich f\u00fcr Attribute","schema":{"type":"string","default":"Store"},"example":"Global","in":"query","required":false},{"name":"is_searchable","description":"Attribut in der Schnellsuche verwenden","schema":{"type":"boolean","default":false},"example":false,"in":"query","required":false},{"name":"is_filterable","description":"Verwendung in der gefilterten Navigation","schema":{"type":"string","default":"No"},"example":"No","in":"query","required":false},{"name":"is_comparable","description":"Vergleichbar im Frontend","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_html_allowed_on_front","description":"Erlaube HTML-Tags im Frontend","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_filterable_in_search","description":"Verwendung in der gefilterten Navigation f\u00fcr Suchergebnisse","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_configurable","description":"Verwenden, um ein konfigurierbares Produkt zu erstellen","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_visible_in_advanced_search","description":"Verwendung in der erweiterten Suche","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_used_for_promo_rules","description":"Verwendung f\u00fcr Promo-Regelbedingungen","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_in_product_listing","description":"Wird in der Produktliste verwendet","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_for_sort_by","description":"Wird f\u00fcr die Sortierung in der Produktliste verwendet","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"apply_to","description":"Produkttypen, die dieses Attribut haben k\u00f6nnen","schema":{"type":"string","default":"all_types"},"example":"Global","in":"query","required":false}]}},"/attribute.update.json":{"put":{"tags":["attribute"],"summary":"attribute.update","description":"Attributdaten aktualisieren.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"name","description":"Definiert den neuen Namen des Attributs","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.delete","description":"Attribut aus dem Shop l\u00f6schen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/attribute.assign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.group","description":"Attribut der Gruppe zuweisen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"Attributgruppe_id","schema":{"type":"string"},"example":3,"in":"query","required":true},{"name":"attribute_set_id","description":"Attributsatz-ID","schema":{"type":"string"},"example":"4","in":"query","required":false}]}},"/attribute.assign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.set","description":"Attribut dem Attributsatz zuweisen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"Attributgruppe_id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"attribute_set_id","description":"Attributsatz-ID","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.attributeset.list.json":{"get":{"tags":["attribute"],"summary":"attribute.attributeset.list","description":"Attributsatzliste abrufen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAttributesetList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Attributeset_List"}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.group.list.json":{"get":{"tags":["attribute"],"summary":"attribute.group.list","description":"Attributgruppenliste abrufen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeGroupList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Group_List"}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_set_id","description":"Attributsatz-ID","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.type.list.json":{"get":{"tags":["attribute"],"summary":"attribute.type.list","description":"Liste der unterst\u00fctzten Attributtypen abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeTypeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attribute_type":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/attribute.unassign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.group","description":"Attribut von der Gruppe entfernen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"Kundengruppe_id","schema":{"type":"string"},"example":3,"in":"query","required":true}]}},"/attribute.unassign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.set","description":"Attribut aus dem Attributsatz entfernen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"Attributsatz-ID","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.value.add.json":{"post":{"tags":["attribute"],"summary":"attribute.value.add","description":"Neuen Wert zum Attribut hinzuf\u00fcgen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"attribute_id","description":"Attribut-ID","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Definiert den Namen des Attributwerts","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"code","description":"Entit\u00e4tscode","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"description","description":"Definiert die Beschreibung des Attributwerts","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.update.json":{"put":{"tags":["attribute"],"summary":"attribute.value.update","description":"Attributwert aktualisieren.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Definiert die ID des Attributwerts","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"Attribut-ID","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Definiert den Namen des Attributwerts","schema":{"type":"string"},"example":"Test name","in":"query","required":false},{"name":"description","description":"Definiert die neue Beschreibung des Attributwerts","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"code","description":"Entit\u00e4tscode","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.value.delete","description":"Attributwert l\u00f6schen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"Attribut-ID","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.info.json":{"get":{"tags":["basket"],"summary":"basket.info","description":"Warenkorb-Informationen abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Basket"}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"force_all"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/basket.item.add.json":{"post":{"tags":["basket"],"summary":"basket.item.add","description":"Artikel zum Warenkorb hinzuf\u00fcgen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketItemAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"added":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"customer_id","description":"Ruft Bestellungen ab, die durch Kunden-ID angegeben sind","schema":{"type":"string"},"example":"5","in":"query","required":true},{"name":"product_id","description":"Definiert die ID des Produkts, das dem Warenkorb hinzugef\u00fcgt werden soll","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"variant_id","description":"Definiert die Varianten des Produkts anhand der Varianten-ID","schema":{"type":"string"},"example":45,"in":"query","required":false},{"name":"quantity","description":"Definiert die Menge neuer Artikel","schema":{"type":"number","default":0},"example":6,"in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.list.json":{"get":{"tags":["basket"],"summary":"basket.live_shipping_service.list","description":"Liste der Live-Versanddienste abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"live_shipping_services":{"type":"array","items":{"$ref":"#/components/schemas/Basket_LiveShippingService"}}}}}}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.create.json":{"post":{"tags":["basket"],"summary":"basket.live_shipping_service.create","description":"Live-Versanddienst erstellen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"parameters":[{"name":"name","description":"Versanddienstname","schema":{"type":"string"},"example":"BestDelivery","in":"query","required":true},{"name":"callback","description":"Callback-URL, die Versandtarife zur\u00fcckgibt","schema":{"type":"string"},"example":"https://example.com/callback","in":"query","required":true},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.delete.json":{"delete":{"tags":["basket"],"summary":"basket.live_shipping_service.delete","description":"Live-Versanddienst l\u00f6schen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"integer"},"example":5,"in":"query","required":true}]}},"/batch.job.list.json":{"get":{"tags":["batch"],"summary":"batch.job.list","description":"Liste der letzten Jobs abrufen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Batch_Job_List"}}}}},"parameters":[{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Wird verwendet, um Entit\u00e4ten \u00fcber cursorbasierte Paginierung abzurufen (kann nicht mit anderen Filterparametern verwendet werden)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Filtert Batch-Jobs nach IDs","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"created_from","description":"Abrufen von Entit\u00e4ten ab ihrem Erstellungsdatum","schema":{"type":"string"},"example":"2010-07-29 13:45:52","in":"query","required":false},{"name":"created_to","description":"Abrufen von Entit\u00e4ten bis zu ihrem Erstellungsdatum","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_from","description":"Abrufen von Entit\u00e4ten entsprechend ihrem Verarbeitungsdatum und -uhrzeit","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_to","description":"Abrufen von Entit\u00e4ten entsprechend ihrem Verarbeitungsdatum und -uhrzeit","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"{return_code,return_message,pagination,result}"},"example":"{result}","in":"query","required":false}]}},"/batch.job.result.json":{"get":{"tags":["batch"],"summary":"batch.job.result","description":"Jobergebnisdaten abrufen","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobResult","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_Batch_Job_Result"}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/bridge.download.file":{"get":{"tags":["bridge"],"summary":"bridge.download","description":"Laden Sie die Bridge f\u00fcr den Shop herunter.</br>Bitte beachten Sie, dass diese Methode nicht funktioniert, wenn Sie sie \u00fcber Swagger UI aufrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDownload","responses":{"200":{"description":"successful operation","content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}}},"parameters":[{"name":"whitelabel","description":"Identifiziert, ob die Notwendigkeit besteht, die White-Label-Br\u00fccke herunterzuladen.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/bridge.update.json":{"post":{"tags":["bridge"],"summary":"bridge.update","description":"Aktualisieren Sie die Bridge im Shop.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/bridge.delete.json":{"post":{"tags":["bridge"],"summary":"bridge.delete","description":"L\u00f6schen Sie die Bridge aus dem Shop.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/cart.info.json":{"get":{"tags":["cart"],"summary":"cart.info","description":"Diese Methode erm\u00f6glicht es Ihnen, verschiedene Informationen \u00fcber den Shop zu erhalten, einschlie\u00dflich einer Liste der Shops (bei einer Multishop-Konfiguration), einer Liste der unterst\u00fctzten Sprachen, W\u00e4hrungen, Versanddienstleister, Lagerh\u00e4user und vieler anderer Informationen. Da diese Daten relativ stabil und selten ge\u00e4ndert werden, kann API2Cart bestimmte Daten zwischenspeichern, um die Shop-Belastung zu reduzieren und die Anfragen schneller auszuf\u00fchren. Wir empfehlen Ihnen, die Antwort dieser Methode auf Ihrer Seite zwischenzuspeichern, um Anfragen zu sparen. Falls Sie den Cache f\u00fcr einen bestimmten Shop l\u00f6schen m\u00fcssen, verwenden Sie die Methode cart.validate.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Cart"}}}}}}},"parameters":[{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result{name,url,stores_info{store_id,name,currency{id,iso3},store_owner_info}}}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"name,url","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"name,url","in":"query","required":false}]}},"/cart.validate.json":{"get":{"tags":["cart"],"summary":"cart.validate","description":"Diese Methode l\u00f6scht den Cache in API2Cart f\u00fcr einen bestimmten Shop und \u00fcberpr\u00fcft, ob die Verbindung zum Shop verf\u00fcgbar ist. Verwenden Sie diese Methode, wenn \u00c4nderungen an den Einstellungen des Shops vorgenommen wurden, z. B. wenn ein neues Plugin installiert oder entfernt wurde.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartValidate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"parameters":[{"name":"validate_version","description":"Geben Sie an, ob API2Cart die Warenkorbversion validieren soll","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.list.json":{"get":{"tags":["cart"],"summary":"cart.list","description":"Liste der unterst\u00fctzten Shopsysteme abrufen.","security":[{"ApiKeyAuth":[]}],"operationId":"CartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_carts":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"params":{"type":"array","items":{"type":"string"}}}}}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.bridge.json":{"get":{"tags":["cart"],"summary":"cart.bridge","description":"Bridge-Schl\u00fcssel und Shop-Schl\u00fcssel abrufen.","security":[{"ApiKeyAuth":[]}],"operationId":"CartBridge","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"},"bridge":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.disconnect.json":{"get":{"tags":["cart"],"summary":"cart.disconnect","description":"Verbindung mit dem Shop trennen und Sitzungsdaten l\u00f6schen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDisconnect","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"connection":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"delete_bridge","description":"Identifiziert, ob die Notwendigkeit besteht, die Br\u00fccke zu l\u00f6schen","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.methods.json":{"get":{"tags":["cart"],"summary":"cart.methods","description":"Gibt eine Liste der unterst\u00fctzten API-Methoden zur\u00fcck.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMethods","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"method":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/cart.config.json":{"get":{"tags":["cart"],"summary":"cart.config","description":"Liste der Warenkorbeinstellungen abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfig","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_name":{"type":"string"},"store_url":{"type":"string"},"db_prefix":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"store_name,store_url,db_prefix","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"store_name,store_url,db_prefix","in":"query","required":false}]}},"/cart.clear_cache.json":{"post":{"tags":["cart"],"summary":"cart.clear_cache","description":"Cache im Shop leeren.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartClearCache","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"cache_cleared":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"cache_type","description":"Definiert, welcher Cache geleert werden soll.","schema":{"type":"string"},"example":"storage_cache","in":"query","required":true}]}},"/cart.create.json":{"post":{"tags":["cart"],"summary":"cart.create","description":"Shop zum Konto hinzuf\u00fcgen.","security":[{"ApiKeyAuth":[]}],"operationId":"CartCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCreate"}}}}}},"/cart.delete.json":{"delete":{"tags":["cart"],"summary":"cart.delete","description":"Shop aus API2Cart entfernen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store":{"type":"string"}}}}}}}}},"parameters":[{"name":"delete_bridge","description":"Identifiziert, ob die Notwendigkeit besteht, die Br\u00fccke zu l\u00f6schen","schema":{"type":"boolean","default":true},"example":true,"in":"query","required":false}]}},"/cart.catalog_price_rules.count.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.count","description":"Anzahl der Rabatte f\u00fcr Katalogpreisregeln des Warenkorbs abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"catalog_price_rules_count":{"type":"string"}}}}}}}}},"parameters":[]}},"/cart.catalog_price_rules.list.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.list","description":"Rabatte f\u00fcr Katalogpreisregeln des Warenkorbs abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List"}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Wird verwendet, um Entit\u00e4ten \u00fcber cursorbasierte Paginierung abzurufen (kann nicht mit anderen Filterparametern verwendet werden)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Ruft Katalogpreisregeln anhand der IDs ab","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result{catalog_price_rules_count,catalog_price_rules{id,type,name,avail,usage_count,actions,conditions}}}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"id,name,description"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.config.update.json":{"put":{"tags":["cart"],"summary":"cart.config.update","description":"Verwenden Sie diese API-Methode, um benutzerdefinierte Daten in der Kundendatenbank zu aktualisieren.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object"}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartConfigUpdate"}}}}}},"/cart.coupon.count.json":{"get":{"tags":["cart"],"summary":"cart.coupon.count","description":"Diese Methode erm\u00f6glicht es Ihnen, die Anzahl der Gutscheine abzurufen. Auf einigen Plattformen k\u00f6nnen Sie Gutscheine nach ihrem Aktivierungsdatum filtern.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupons_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"avail","description":"Definiert den Sichtbarkeitsstatus der Kategorie","schema":{"type":"boolean","default":true},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Entit\u00e4t nach date_start filtern (gr\u00f6\u00dfer oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Entit\u00e4t nach date_start filtern (kleiner oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Entit\u00e4t nach date_end filtern (gr\u00f6\u00dfer oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Entit\u00e4t nach date_end filtern (kleiner oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false}]}},"/cart.coupon.list.json":{"get":{"tags":["cart"],"summary":"cart.coupon.list","description":"Warenkorb-Gutscheinrabatte abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Coupon_List"}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Wird verwendet, um Entit\u00e4ten \u00fcber cursorbasierte Paginierung abzurufen (kann nicht mit anderen Filterparametern verwendet werden)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"coupons_ids","description":"Gutscheine nach IDs filtern","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"store_id","description":"Filtert Gutscheine nach Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"avail","description":"Filtert Gutscheine nach Verf\u00fcgbarkeitsstatus","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Entit\u00e4t nach date_start filtern (gr\u00f6\u00dfer oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Entit\u00e4t nach date_start filtern (kleiner oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Entit\u00e4t nach date_end filtern (gr\u00f6\u00dfer oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Entit\u00e4t nach date_end filtern (kleiner oder gleich)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{pagination,result{coupon_count,coupon{id,code,name,conditions,actions{scope,amount,conditions{id,value,sub-conditions}},date_start,avail}}}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"id,code,name,description"},"example":"id,code,type,amount","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":"usage_history,type","in":"query","required":false}]}},"/cart.coupon.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.add","description":"Verwenden Sie diese Methode, um einen Gutschein mit bestimmten Bedingungen zu erstellen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupon_id":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCouponAdd"}}}}}},"/cart.coupon.delete.json":{"delete":{"tags":["cart"],"summary":"cart.coupon.delete","description":"Gutschein l\u00f6schen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.coupon.condition.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.condition.add","description":"Verwenden Sie diese Methode, um zus\u00e4tzliche Bedingungen f\u00fcr die Anwendung des Gutscheins hinzuzuf\u00fcgen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponConditionAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"coupon_id","description":"Gutschein-ID","schema":{"type":"string"},"example":"45845","in":"query","required":true},{"name":"entity","description":"Definiert den Typ der Bedingungsentit\u00e4t","schema":{"type":"string","enum":["order","order_shipping_address","product","customer"]},"example":"order","in":"query","required":true},{"name":"key","description":"Definiert den Attributschl\u00fcssel der Bedingungsentit\u00e4t","schema":{"type":"string","enum":["total","subtotal","shipping_total","total_quantity","total_weight","country","product_id","variant_id","category_id","customer_id","item_price","item_total_price","item_quantity","carrier_id"]},"example":"subtotal","in":"query","required":true},{"name":"operator","description":"Definiert den Bedingungsoperator","schema":{"type":"string"},"example":"==","in":"query","required":true},{"name":"value","description":"Definiert den Bedingungswert, kann durch Komma getrennt sein, je nach Operator.","schema":{"type":"string"},"example":"2","in":"query","required":true},{"name":"target","description":"Definiert den Bedingungsoperator","schema":{"type":"string","default":"coupon_prerequisite"},"example":"coupon_action","in":"query","required":false},{"name":"include_tax","description":"Gibt an, ob ein Rabatt f\u00fcr Steuern angewendet wird.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"include_shipping","description":"Gibt an, ob ein Rabatt f\u00fcr den Versand angewendet wird.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.count.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.count","description":"Anzahl der Geschenkkarten abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"gift_cards_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.list.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.list","description":"Liste der Geschenkkarten abrufen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_GiftCard_List"}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten abrufen m\u00f6chten","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Wird verwendet, um Entit\u00e4ten \u00fcber cursorbasierte Paginierung abzurufen (kann nicht mit anderen Filterparametern verwendet werden)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{pagination,result{gift_card{id,code,amount,status}}}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"id,code,name"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.giftcard.add.json":{"post":{"tags":["cart"],"summary":"cart.giftcard.add","description":"Verwenden Sie diese Methode, um eine Geschenkkarte mit einem bestimmten Betrag zu erstellen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"}}}}}}}}},"parameters":[{"name":"amount","description":"Definiert den Betrag der Geschenkkarte.","schema":{"type":"number"},"example":15.5,"in":"query","required":true},{"name":"code","description":"Geschenkkartencode","schema":{"type":"string"},"example":"GFT1 A4S5 AA11 RD61","in":"query","required":false},{"name":"owner_email","description":"E-Mail des Geschenkkartenbesitzers","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_email","description":"E-Mail des Geschenkkartenempf\u00e4ngers","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_name","description":"Name des Geschenkkartenempf\u00e4ngers","schema":{"type":"string"},"example":"John Doe","in":"query","required":false},{"name":"owner_name","description":"Name des Geschenkkartenbesitzers","schema":{"type":"string"},"example":"John Doe","in":"query","required":false}]}},"/cart.giftcard.delete.json":{"delete":{"tags":["cart"],"summary":"cart.giftcard.delete","description":"Geschenkkarte l\u00f6schen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/cart.meta_data.list.json":{"get":{"tags":["cart"],"summary":"cart.meta_data.list","description":"Mit dieser Methode k\u00f6nnen Sie eine Liste von Metadaten f\u00fcr verschiedene Entit\u00e4ten (Produkte, Optionen, Kunden, Bestellungen) abrufen. Normalerweise handelt es sich um Daten, die von Drittanbieter-Plugins erstellt wurden.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_MetaData_List"}}}}},"parameters":[{"name":"count","description":"Dieser Parameter legt die Anzahl der abzurufenden Entit\u00e4ten fest. Maximale Anzahl = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Wird verwendet, um Entit\u00e4ten \u00fcber cursorbasierte Paginierung abzurufen (kann nicht mit anderen Filterparametern verwendet werden)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"entity_id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":"1","in":"query","required":true},{"name":"entity","description":"Entit\u00e4t","schema":{"type":"string","default":"product"},"example":"order","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"key","description":"Schl\u00fcssel","schema":{"type":"string"},"example":"subtotal","in":"query","required":false},{"name":"response_fields","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string"},"example":"{result{items{key,value}}}","in":"query","required":false},{"name":"params","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie abrufen m\u00f6chten","schema":{"type":"string","default":"key,value"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Setzen Sie diesen Parameter, um auszuw\u00e4hlen, welche Entit\u00e4tsfelder Sie ignorieren m\u00f6chten. Funktioniert nur, wenn der Parameter `params` gleich force_all ist","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.meta_data.set.json":{"post":{"tags":["cart"],"summary":"cart.meta_data.set","description":"Metadaten f\u00fcr eine bestimmte Entit\u00e4t festlegen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"entity_id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":"1","in":"query","required":true},{"name":"key","description":"Schl\u00fcssel","schema":{"type":"string"},"example":"subtotal","in":"query","required":true},{"name":"value","description":"Wert","schema":{"type":"string"},"example":"2","in":"query","required":true},{"name":"namespace","description":"Metafeld-Namespace","schema":{"type":"string"},"example":"order","in":"query","required":true},{"name":"entity","description":"Entit\u00e4t","schema":{"type":"string","default":"product"},"example":"order","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Sprach-ID","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/cart.meta_data.unset.json":{"delete":{"tags":["cart"],"summary":"cart.meta_data.unset","description":"Metadaten f\u00fcr eine bestimmte Entit\u00e4t entfernen.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataUnset","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"entity_id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":"1","in":"query","required":true},{"name":"key","description":"Schl\u00fcssel","schema":{"type":"string"},"example":"subtotal","in":"query","required":true},{"name":"id","description":"Entit\u00e4ts-ID","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"entity","description":"Entit\u00e4t","schema":{"type":"string","default":"product"},"example":"order","in":"query","required":false},{"name":"store_id","description":"Shop-ID","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.plugin.list.json":{"get":{"tags":["cart"],"summary":"cart.plugin.list","description":"Abrufen einer Liste von Drittanbieter-Plugins, die im Shop installiert sind.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartPluginList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"all_plugins":{"type":"integer"},"plugins":{"type":"array","items":{"$ref":"#/components/schemas/PluginList"}}}}}}}}}},"parameters":[{"name":"start","description":"Dieser Parameter legt die Nummer fest, ab der Sie Entit\u00e4ten 
[...]
