{
      "openapi": "3.1.1",
      "info": {
        "title": "API2Cart OpenAPI",
        "version": "1.1",
        "description": "API2Cart",
        "termsOfService": "https://api2cart.com/terms-service",
        "contact": {
          "email": "contact@api2cart.com"
        }
      },
      "servers": [
        {
          "url": "https://api.api2cart.com/v1.1",
          "description": "API2Cart Production Server"
        }
      ],
      "tags": [
        { "name": "account" },
        { "name": "cart" },
        { "name": "product" },
        { "name": "marketplace" },
        { "name": "category" },
        { "name": "order" },
        { "name": "customer" },
        { "name": "attribute" },
        { "name": "tax" },
        { "name": "webhook" },
        { "name": "batch" }
      ],
      "paths": {"/account.failed_webhooks.json":{"get":{"tags":["account"],"summary":"account.failed_webhooks","description":"If the callback of your service for some reason could not accept webhooks from API2Cart, then with the help of this method you can get a list of missed webhooks to perform synchronization again using entity_id. Please note that we keep such records for 24 hours.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountFailedWebhooks","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"all_failed_webhook":{"type":"string"},"webhook":{"type":"array","items":{"type":"object","properties":{"webhook_id":{"type":"integer"},"entity_id":{"type":"string"},"time":{"$ref":"#/components/schemas/A2CDateTime"}}}}}}}}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"ids","description":"List of \u0441omma-separated webhook ids","schema":{"type":"string"},"example":"3,14,25","in":"query","required":false}]}},"/account.supported_platforms.json":{"get":{"tags":["account"],"summary":"account.supported_platforms","description":"Use this method to retrieve a list of supported platforms and the sets of parameters required for connecting to each of them. Note: some platforms may have multiple connection methods so that the response will contain multiple sets of parameters.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountSupportedPlatforms","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_platforms":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"cart_method":{"type":"string"},"params":{"type":"object","properties":{"required":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}},"additional":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}}}}}}}}}}}}}},"parameters":[]}},"/account.cart.list.json":{"get":{"tags":["account"],"summary":"account.cart.list","description":"This method lets you get a list of online stores connected to your API2Cart account. You can get the number of API requests to each store if you specify a period using parameters (request_from_date, request_to_date). The total_calls field is displayed only if there are parameters (request_from_date, request_to_date).","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"carts_count":{"type":"integer"},"carts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"store_key":{"type":"string"},"cart_id":{"type":"string"},"total_calls":{"type":"string"}}}}}}}}}}}},"parameters":[{"name":"store_url","description":"A web address of a store","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"store_key","description":"Find store by store key","schema":{"type":"string"},"example":"ab37fc230bc5df63a5be1b11220949be","in":"query","required":false},{"name":"request_from_date","description":"Retrieve entities from their creation date","schema":{"type":"string"},"example":"2010-07-29","in":"query","required":false},{"name":"request_to_date","description":"Retrieve entities to their creation date","schema":{"type":"string"},"example":"2100-08-29","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"force_all"},"example":"url,store_key","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"url,store_key","in":"query","required":false}]}},"/account.cart.add.json":{"post":{"tags":["account"],"summary":"account.cart.add","description":"Use this method to automate the process of connecting stores to API2Cart. The list of parameters will vary depending on the platform. To get a list of parameters that are specific to a particular shopping platform, you need to execute the account.supported_platforms.json method.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCartAdd"}}}}}},"/account.config.update.json":{"put":{"tags":["account"],"summary":"account.config.update","description":"Use this method to automate the change of credentials used to connect online stores. The list of supported parameters differs depending on the platform.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AccountConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated_items":{"type":"integer"}}}}}}}}},"parameters":[{"name":"replace_parameters","description":"Identifies if there is a necessity to replace parameters","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"new_store_url","description":"The web address of the store you want to update to connect to API2Cart","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"new_store_key","description":"Update store key","schema":{"type":"string"},"example":"b636495648de3086f6f57b1bd4be548f","in":"query","required":false},{"name":"bridge_url","description":"This parameter allows to set up store with custom bridge url (also you must use store_root parameter if a bridge folder is not in the root folder of the store)","schema":{"type":"string"},"example":"https://your-store.com/custom/bridge/path/bridge.php","in":"query","required":false},{"name":"store_root","description":"Absolute path to the store root directory (used with \"bridge_url\" parameter)","schema":{"type":"string"},"example":"/home/www/stores/magento1922","in":"query","required":false},{"name":"db_tables_prefix","description":"DB tables prefix","schema":{"type":"string"},"example":"oc_","in":"query","required":false},{"name":"user_agent","description":"This parameter allows you to set your custom user agent, which will be used in requests to the store. Please use it cautiously, as the store's firewall may block specific values.","schema":{"type":"string"},"example":"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0","in":"query","required":false},{"name":"3dcart_private_key","description":"3DCart Private Key","schema":{"type":"string"},"example":"7dba81f90bdbe25e7000e73214ca51b","in":"query","required":false},{"name":"3dcart_access_token","description":"3DCart Token","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"3dcartapi_api_key","description":"3DCart API Key","schema":{"type":"string"},"example":"82cc921c6a5c67082cc921c6a5c6707e1d6e6862ba3201a","in":"query","required":false},{"name":"amazon_sp_client_id","description":"Amazon SP API app client id","schema":{"type":"string"},"example":"amzn1.application-oa2-client.11e000e1f47d4998aca3733716d3b5a4","in":"query","required":false},{"name":"amazon_sp_client_secret","description":"Amazon SP API app client secret","schema":{"type":"string"},"example":"2c987428209f235443221255bde064f4bdf8a65165a80f5d22760a83cb","in":"query","required":false},{"name":"amazon_sp_refresh_token","description":"Amazon SP API OAuth refresh token","schema":{"type":"string"},"example":"Atzr|IwEBIPUI-bwRTdDgKNQ_g56C30wGqymtx30c9MdDC7Emwmojhs20k5BBG2hHtJiGZ_7OfG7khd1RuQr6KEst4qyWbo_eXi5S_T_VOxzJUuksG1cFOGFpFK-cnhReNzAeZIpZeJT7_ROy1csEFlQfC8FJS3bsbSkkbTz2ZcTN7_7ey0HVlhyfFizgROeSeOI24Wjs9l_KKzZW0jvi_oC2cxlIcyknnHLK6KMNz2rTXqQJWRtlK9xPJDdbcUa5STA8MQru91cxNBpSkZN_cq9OOELhbsIGKD75y7nZ3yJU4uHQC_9iBQQoFm0biKgi-kEQwOhwws8","in":"query","required":false},{"name":"amazon_sp_aws_region","description":"Amazon AWS Region","schema":{"type":"string"},"example":"us-east-1","in":"query","required":false},{"name":"amazon_sp_api_environment","description":"Amazon SP API environment","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"amazon_seller_id","description":"Amazon Seller ID (Merchant token)","schema":{"type":"string"},"example":"13P636B2M1N4WR","in":"query","required":false},{"name":"aspdotnetstorefront_api_user","description":"It's a AspDotNetStorefront account for which API is available","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"aspdotnetstorefront_api_pass","description":"AspDotNetStorefront API Password","schema":{"type":"string"},"example":"f6471ef78f72b41849a8b8b67791b0b5","in":"query","required":false},{"name":"americommerce_app_id","description":"Americommerce App ID","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"americommerce_app_secret","description":"Americommerce App Secret","schema":{"type":"string"},"example":"9fd3d282d65a007a2b9d541b5e0e410b2cecd6199632db53503b93637b8a6000","in":"query","required":false},{"name":"americommerce_access_token","description":"Americommerce Access Token","schema":{"type":"string"},"example":"1e721f59b610e2666caea03094600765","in":"query","required":false},{"name":"americommerce_refresh_token","description":"Americommerce Refresh Token","schema":{"type":"string"},"example":"520c011444af41d916543cdda859a5114","in":"query","required":false},{"name":"bigcommerceapi_admin_account","description":"It's a BigCommerce account for which API is enabled","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"bigcommerceapi_api_path","description":"BigCommerce API URL","schema":{"type":"string"},"example":"http://mystore.bigcommerce.com/api/v1","in":"query","required":false},{"name":"bigcommerceapi_api_key","description":"Bigcommerce API Key","schema":{"type":"string"},"example":"6b89704cd75738cb0f9f6468d5462aba","in":"query","required":false},{"name":"bigcommerceapi_client_id","description":"Client ID of the requesting app","schema":{"type":"string"},"example":"p1r37bt131z86675nofv9xmhietoe4t","in":"query","required":false},{"name":"bigcommerceapi_access_token","description":"Access token authorizing the app to access resources on behalf of a user","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"bigcommerceapi_context","description":"API Path section unique to the store","schema":{"type":"string"},"example":"stores/etplnf8o8v","in":"query","required":false},{"name":"bol_api_key","description":"Bol API Key","schema":{"type":"string"},"example":"51369628-feee-11ed-be56-0242ac120002","in":"query","required":false},{"name":"bol_api_secret","description":"Bol API Secret","schema":{"type":"string"},"example":"8fGzEsbEP5z2MNZubmIil87m-sWzTkj?KDQKrmzmU!fA6aAUNMdKRp7LMWHwE!G37UMfnWByHBGSXJHkAG?QcuYTO2uklv4idIHwUMLHK!OO1yfRlWh!","in":"query","required":false},{"name":"bol_retailer_id","description":"Bol Retailer ID","schema":{"type":"integer"},"example":"145001","in":"query","required":false},{"name":"demandware_client_id","description":"Demandware client id","schema":{"type":"string"},"example":"b849eb85-v8b9-1dw8-9fe2-97e1d6ffc7b0","in":"query","required":false},{"name":"demandware_api_password","description":"Demandware api password","schema":{"type":"string"},"example":"testpassword","in":"query","required":false},{"name":"demandware_user_name","description":"Demandware user name","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"demandware_user_password","description":"Demandware user password","schema":{"type":"string"},"example":"12345","in":"query","required":false},{"name":"ebay_client_id","description":"Application ID (AppID).","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"ebay_client_secret","description":"Shared Secret from eBay application","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_runame","description":"The RuName value that eBay assigns to your application.","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_access_token","description":"Used to authenticate API requests.","schema":{"type":"string"},"example":"v^1.1#i ... AjRV4yNjA=","in":"query","required":false},{"name":"ebay_refresh_token","description":"Used to renew the access token.","schema":{"type":"string"},"example":"v^1.1#i ... rAewqVasdA=","in":"query","required":false},{"name":"ebay_environment","description":"eBay environment","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"ebay_site_id","description":"eBay global ID","schema":{"type":"integer","default":0},"example":"101","in":"query","required":false},{"name":"ecwid_acess_token","description":"Access token authorizing the app to access resources on behalf of a user","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"ecwid_store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lazada_app_id","description":"Lazada App ID","schema":{"type":"string"},"example":"112577","in":"query","required":false},{"name":"lazada_app_secret","description":"Lazada App Secret","schema":{"type":"string"},"example":"er33raICJ79Q5b0EsR9stmRnjE9XQ2WH","in":"query","required":false},{"name":"lazada_refresh_token","description":"Lazada Refresh Token","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"lazada_region","description":"Lazada API endpoint Region","schema":{"type":"string"},"example":"Malaysia","in":"query","required":false},{"name":"etsy_keystring","description":"Etsy keystring","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"etsy_shared_secret","description":"Etsy shared secret","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"etsy_access_token","description":"Access token authorizing the app to access resources on behalf of a user","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_token_secret","description":"Secret token authorizing the app to access resources on behalf of a user","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_client_id","description":"Etsy Client Id","schema":{"type":"string"},"example":"w0fi0igk2w29bjcd7ydr2s35","in":"query","required":false},{"name":"etsy_refresh_token","description":"Etsy Refresh token","schema":{"type":"string"},"example":"223577551.L07_RE-y7unmKf2dox4djsHkVxwpUfs1ikG_uQmHhF-aASEReNn_Qns1Wqn3dDa0ZMxrt9CIael3dgudeDZb31ZUdS","in":"query","required":false},{"name":"facebook_app_id","description":"Facebook App ID","schema":{"type":"string"},"example":"6516912365277570","in":"query","required":false},{"name":"facebook_app_secret","description":"Facebook App Secret","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"facebook_access_token","description":"Facebook Access Token","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUAhqbS58clzJwyp1rYRMpP31QJGziqtYbKypdVx3Cs0RpuufoUeLsbfX195XIB8VTlkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"facebook_business_id","description":"Facebook Business ID","schema":{"type":"string"},"example":"294042786906655","in":"query","required":false},{"name":"neto_api_key","description":"Neto API Key","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"neto_api_username","description":"Neto User Name","schema":{"type":"string"},"example":"mylogin","in":"query","required":false},{"name":"shopline_access_token","description":"Shopline APP Key","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopline_app_key","description":"Shopline APP Key","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"shopline_app_secret","description":"Shopline App Secret","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopline_shared_secret","description":"Shopline Shared Secret","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopify_access_token","description":"Access token authorizing the app to access resources on behalf of a user","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopify_client_id","description":"Shopify Client ID","schema":{"type":"string"},"example":"b5defe55db3f6836fb4e0e6624ff9577","in":"query","required":false},{"name":"shopify_api_key","description":"Shopify API Key","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"shopify_api_password","description":"Shopify API Password","schema":{"type":"string"},"example":"860f3a6fc87632301a42cd88e4b5ab3d","in":"query","required":false},{"name":"shopify_shared_secret","description":"Shared secret","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"shopee_partner_id","description":"Shopee Partner ID","schema":{"type":"string"},"example":"1276777","in":"query","required":false},{"name":"shopee_partner_key","description":"Shopee Partner Key","schema":{"type":"string"},"example":"6a46494b4d746576554646626775617a577542774850636375464d6a736d5598","in":"query","required":false},{"name":"shopee_shop_id","description":"Shopee SHOP ID","schema":{"type":"string"},"example":"137968","in":"query","required":false},{"name":"shopee_refresh_token","description":"Shopee Refresh Token","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU987mVVb5br","in":"query","required":false},{"name":"shopee_region","description":"Shopee API endpoint Region. Use for Chinese Mainland or Brazil.","schema":{"type":"string"},"example":"CN","in":"query","required":false},{"name":"shopee_environment","description":"Shopee Environment","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"shoplazza_access_token","description":"Access token authorizing the app to access resources on behalf of a user","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shoplazza_shared_secret","description":"Shared secret","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"miva_access_token","description":"Miva access token","schema":{"type":"string"},"example":"227cbe434a1e358d72db0de993x9d9fd","in":"query","required":false},{"name":"miva_signature","description":"Miva signature","schema":{"type":"string"},"example":"1hpkrebfdsObGTor/0Gk9XcNBUQohrxrw67Sg9AM9ps=","in":"query","required":false},{"name":"shopware_access_key","description":"Shopware access key","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"unas_api_key","description":"UNAS API Key","schema":{"type":"string"},"example":"c238908e29ceb6e6ad3df15f89a6234709d3f000","in":"query","required":false},{"name":"shopware_api_key","description":"Shopware api key","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_secret","description":"Shopware client secret access key","schema":{"type":"string"},"example":"V3NYNWg2b1dZdHBUWDN1cmdKdGhnenp5enVJYlJ0WlJvOFF2bnQ","in":"query","required":false},{"name":"bigcartel_user_name","description":"Subdomain of store","schema":{"type":"string"},"example":"subdomain","in":"query","required":false},{"name":"bigcartel_password","description":"BigCartel account password","schema":{"type":"string"},"example":"4GrrZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"bricklink_consumer_key","description":"Bricklink Consumer Key","schema":{"type":"string"},"example":"26F6CDA087D9444EAA71AC09E7A1D39A","in":"query","required":false},{"name":"bricklink_consumer_secret","description":"Bricklink Consumer Secret","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"bricklink_token","description":"Bricklink Access Token","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"bricklink_token_secret","description":"Bricklink Access Token Secret","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"volusion_login","description":"It's a Volusion account for which API is enabled","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"volusion_password","description":"Volusion API Password","schema":{"type":"string"},"example":"7943CA5F3990E00D9A4CCF0BD998211F","in":"query","required":false},{"name":"walmart_client_id","description":"Walmart client ID. For the region 'ca' use Consumer ID","schema":{"type":"string"},"example":"423f6A24-123z-8654-989u-6fa96478289","in":"query","required":false},{"name":"walmart_client_secret","description":"Walmart client secret. For the region 'ca' use Private Key","schema":{"type":"string"},"example":"1gf85fea-8974-2648-w12w-rt54284tdf54","in":"query","required":false},{"name":"walmart_environment","description":"Walmart environment","schema":{"type":"string","default":"production"},"example":"production","in":"query","required":false},{"name":"walmart_channel_type","description":"Walmart WM_CONSUMER.CHANNEL.TYPE header","schema":{"type":"string"},"example":"0f3e4dd4-0514-4346-b39d-af0e00ea066d","in":"query","required":false},{"name":"walmart_region","description":"Walmart region","schema":{"type":"string","default":"us"},"example":"us","in":"query","required":false},{"name":"square_client_id","description":"Square (Weebly) Client ID","schema":{"type":"string"},"example":"sq0idp-qwer_1pvuTYe9cAf1lmxyQ","in":"query","required":false},{"name":"square_client_secret","description":"Square (Weebly) Client Secret","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"square_refresh_token","description":"Square (Weebly) Refresh Token","schema":{"type":"string"},"example":"EQAAlquVXMr6xIcPu7qPkIEAZ0thqChhQuowrvZIqOlwhOwhtmyh4ZRfesdRc434","in":"query","required":false},{"name":"squarespace_api_key","description":"Squarespace API Key","schema":{"type":"string"},"example":"8f7849d5-1411-47f2-9722-aa81c2a48d95","in":"query","required":false},{"name":"squarespace_client_id","description":"Squarespace Connector Client ID","schema":{"type":"string"},"example":"9UGbUtS2V96BxRGmfOjsGAhTdsr9Vxxx","in":"query","required":false},{"name":"squarespace_client_secret","description":"Squarespace Connector Client Secret","schema":{"type":"string"},"example":"GPZkUFkIKWg0KLE6rajsFMMYA9ma0udaaq2bYwBDXXX=","in":"query","required":false},{"name":"squarespace_access_token","description":"Squarespace access token","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"squarespace_refresh_token","description":"Squarespace refresh token","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"hybris_client_id","description":"Omni Commerce Connector Client ID","schema":{"type":"string"},"example":"api_client_1","in":"query","required":false},{"name":"hybris_client_secret","description":"Omni Commerce Connector Client Secret","schema":{"type":"string"},"example":"secret_phrase_1","in":"query","required":false},{"name":"hybris_username","description":"User Name","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"hybris_password","description":"User password","schema":{"type":"string"},"example":"nimda","in":"query","required":false},{"name":"hybris_websites","description":"Websites to stores mapping data","schema":{"type":"array","items":{"type":"string"}},"example":"hybris_websites[0][uid]=apparel-website&hybris_websites[0][url]=https://apparel.local/yacceleratorstorefront&hybris_websites[0][storeIds][0]=apparel-de&hybris_websites[0][storeIds][1]=apparel-uk","in":"query","required":false},{"name":"lightspeed_api_key","description":"LightSpeed api key","schema":{"type":"string"},"example":"cf5444729c2abd6b6a5d983691767cb5","in":"query","required":false},{"name":"lightspeed_api_secret","description":"LightSpeed api secret","schema":{"type":"string"},"example":"2620ee52a8bc942f9d5d3a575f4d363e","in":"query","required":false},{"name":"commercehq_api_key","description":"CommerceHQ api key","schema":{"type":"string"},"example":"sJrD-LM0eddhe63rfgfva0dDydXfre4","in":"query","required":false},{"name":"commercehq_api_password","description":"CommerceHQ api password","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"wc_consumer_key","description":"Woocommerce consumer key","schema":{"type":"string"},"example":"ck_26d8e2ad604f3917e429df6961722282bdcf109d","in":"query","required":false},{"name":"wc_consumer_secret","description":"Woocommerce consumer secret","schema":{"type":"string"},"example":"cs_931ced666118a15c5f7b4a33a15gf5589cbeba55","in":"query","required":false},{"name":"magento_consumer_key","description":"Magento Consumer Key","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"magento_consumer_secret","description":"Magento Consumer Secret","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"magento_access_token","description":"Magento Access Token","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"magento_token_secret","description":"Magento Token Secret","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"prestashop_webservice_key","description":"Prestashop webservice key","schema":{"type":"string"},"example":"CKJ1ZEWRJWRLTPVBQJ9FGGRORD4AGS96","in":"query","required":false},{"name":"wix_app_id","description":"Wix App ID","schema":{"type":"string"},"example":"6b0b5b7b-7d87-45b5-bf34-ac6b438e63da","in":"query","required":false},{"name":"wix_app_secret_key","description":"Wix App Secret Key","schema":{"type":"string"},"example":"316c0a09-f195-42be-74f6-a02cebb9cae6","in":"query","required":false},{"name":"wix_instance_id","description":"Wix Instance ID","schema":{"type":"string"},"example":"58b893a4-6b16-5c2f-qt78-qa3r61t32rt8","in":"query","required":false},{"name":"wix_refresh_token","description":"Wix refresh token","schema":{"type":"string"},"example":"\n        OAUTH2.eyJraWQiOiJkZ0x3cjNRMCIsImFsZyI6IkhTMjU2In0.\n        eyJkYXRhIjoie1wiaWRcIjpcImJlZjM3MmRmLTUyNGItNDI3NS05M2RkL\n        Tg4NDBlOTU3ZWU2OFwifSIsImlhdCI6MTY0ODA0NTEyNiwiZXhwIjoxNzExMTE3MTI2fQ.\n        VRR2lGSbcTVmaArtmyyhy6o4WRDwTn-nlDCQpZ97eYw\n      ","in":"query","required":false},{"name":"mercado_libre_app_id","description":"Mercado Libre App ID","schema":{"type":"string"},"example":"211188015100135","in":"query","required":false},{"name":"mercado_libre_app_secret_key","description":"Mercado Libre App Secret Key","schema":{"type":"string"},"example":"e2qoG2zklLlfP7cEngEJ94YjhkejkjAm","in":"query","required":false},{"name":"mercado_libre_refresh_token","description":"Mercado Libre Refresh Token","schema":{"type":"string"},"example":"TG-63h13529vb5464110188d2x9-703754376","in":"query","required":false},{"name":"zid_client_id","description":"Zid Client ID","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"zid_client_secret","description":"Zid Client Secret","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"zid_access_token","description":"Zid Access Token","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_authorization","description":"Zid Authorization","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_refresh_token","description":"Zid refresh token","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"flipkart_client_id","description":"Flipkart Client ID","schema":{"type":"string"},"example":"19414773883a13a850b6a52350b7246499a24","in":"query","required":false},{"name":"flipkart_client_secret","description":"Flipkart Client Secret","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"allegro_client_id","description":"Allegro Client ID","schema":{"type":"string"},"example":"2915e189ce3d23d23d2327d204ae6a0bd","in":"query","required":false},{"name":"allegro_client_secret","description":"Allegro Client Secret","schema":{"type":"string"},"example":"DNHtqdL2WPIefeUhQWYgtXPS23fgbfgasdsGHHJGhg3RTFDQWFGZmVoFRT5IfkQj1E7eR5","in":"query","required":false},{"name":"allegro_access_token","description":"Allegro Access Token","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_refresh_token","description":"Allegro Refresh Token","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_environment","description":"Allegro Environment","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"zoho_client_id","description":"Zoho Client ID","schema":{"type":"string"},"example":"1000.FLCHGI2LS1111111TOR4OGB697W4IX","in":"query","required":false},{"name":"zoho_client_secret","description":"Zoho Client Secret","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"zoho_refresh_token","description":"Zoho Refresh Token","schema":{"type":"string"},"example":"1000.11111111111111111111111111111111.1b3ca6f054341a111118abf928beb33b","in":"query","required":false},{"name":"zoho_region","description":"Zoho API endpoint Region","schema":{"type":"string"},"example":"Europe","in":"query","required":false},{"name":"tiendanube_user_id","description":"Tiendanube User ID","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"tiendanube_access_token","description":"Tiendanube Access Token","schema":{"type":"string"},"example":"75bde7bb0b437475423e7e87c142c06052f80199","in":"query","required":false},{"name":"tiendanube_client_secret","description":"Tiendanube Client Secret","schema":{"type":"string"},"example":"5e3588f514a5ae0d0fa063d1b556531e25c83fa7e47472ed","in":"query","required":false},{"name":"otto_client_id","description":"Otto Client ID","schema":{"type":"string"},"example":"911a3dbf-d261-4763-cc81-052876465b55","in":"query","required":false},{"name":"otto_client_secret","description":"Otto Client Secret","schema":{"type":"string"},"example":"9887a82a-2879-421e-a6wc-54e986b3458c","in":"query","required":false},{"name":"otto_app_id","description":"Otto App ID","schema":{"type":"string"},"example":"6eaef6a3-822e-425b-8mc9-53750063e34d","in":"query","required":false},{"name":"otto_refresh_token","description":"Otto Refresh Token","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"otto_environment","description":"Otto Environment","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"otto_access_token","description":"Otto Access Token","schema":{"type":"string"},"example":"eyJhbGciOiJS34535f45f54f5656deyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"tiktokshop_app_key","description":"TikTok Shop App Key","schema":{"type":"string"},"example":"6arbhkzno8nbv","in":"query","required":false},{"name":"tiktokshop_app_secret","description":"TikTok Shop App Secret","schema":{"type":"string"},"example":"d95820a05a0cd54fb394fcd26fgat63999b183bc","in":"query","required":false},{"name":"tiktokshop_refresh_token","description":"TikTok Shop Refresh Token","schema":{"type":"string"},"example":"TTP_NTUxZTNhYTQ2ZDk2YmRmZWNmYWY2YWY12345NGYwNjQ3YjkzYTllYjA0YmNlMw","in":"query","required":false},{"name":"tiktokshop_access_token","description":"TikTok Shop Access Token","schema":{"type":"string"},"example":"TTP_Fw8r12345kW03FYd09DG-9INtpw361hWthei12345iPJ5AUv99fLSCYD9-Uu12345TgNRzKZxi5-tfFMtdWqglEt5_iCk","in":"query","required":false},{"name":"salla_client_id","description":"Salla Client ID","schema":{"type":"string"},"example":"1bxxxcf9-5xx4-xxx-bxxf-929b8xxxxe11","in":"query","required":false},{"name":"salla_client_secret","description":"Salla Client Secret","schema":{"type":"string"},"example":"8x88axxxc25e1fxxxa1c06fxxx150xx5","in":"query","required":false},{"name":"salla_refresh_token","description":"Salla Refresh Token","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"salla_access_token","description":"Salla Access Token","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"temu_app_key","description":"Temu App Key","schema":{"type":"string"},"example":"4ebbc9190ae410443d65b4c2faca9811","in":"query","required":false},{"name":"temu_app_secret","description":"Temu App Secret","schema":{"type":"string"},"example":"4782d2d827276688bf4758bed55dbdd4bbe79a78","in":"query","required":false},{"name":"temu_access_token","description":"Temu Access Token","schema":{"type":"string"},"example":"uplv3hfyt5kcwoymrgnajnbl1ow5qxlz4sqhev6hl3xosz5dejrtyl2jre6","in":"query","required":false},{"name":"temu_region","description":"Temu API endpoint Region.","schema":{"type":"string"},"example":"US","in":"query","required":false},{"name":"scapi_client_id","description":"Salesforce Commerce API Client ID","schema":{"type":"string"},"example":"b941ec85-v6b2-1dw8-9fe2-98e1d6eec7b1","in":"query","required":false},{"name":"scapi_client_secret","description":"Salesforce Commerce API Client Secret","schema":{"type":"string"},"example":"testpassword","in":"query","required":false},{"name":"scapi_organization_id","description":"Salesforce Commerce Organization ID","schema":{"type":"string"},"example":"f_ecom_xxxx_001","in":"query","required":false},{"name":"scapi_short_code","description":"Salesforce Commerce Short Code","schema":{"type":"string"},"example":"zs5ksm25","in":"query","required":false},{"name":"scapi_scopes","description":"Salesforce Commerce API Scopes","schema":{"type":"string"},"example":"sfcc.catalogs,sfcc.orders,sfcc.products","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.info.json":{"get":{"tags":["attribute"],"summary":"attribute.info","description":"Get information about a specific global attribute by its ID.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/StoreAttribute"}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"Attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"force_all"},"example":"force_all","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"name","in":"query","required":false}]}},"/attribute.count.json":{"get":{"tags":["attribute"],"summary":"attribute.count","description":"Get attributes count","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attributes_count":{"type":"integer"}}}}}}}}},"parameters":[{"name":"type","description":"Defines attribute's type","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"attribute_set_id","description":"Filter items by attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Filter items by visibility status","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Defines if the option is required","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"True if attribute is system","schema":{"type":"boolean"},"example":false,"in":"query","required":false}]}},"/attribute.list.json":{"get":{"tags":["attribute"],"summary":"attribute.list","description":"Get a list of global attributes.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_List"}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_ids","description":"Filter attributes by ids","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"attribute_set_id","description":"Filter items by attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Retrieves attributes on specified language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"type","description":"Defines attribute's type","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"visible","description":"Filter items by visibility status","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Defines if the option is required","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"True if attribute is system","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{return_code,return_message,pagination,result}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"id,name,code,type"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.add.json":{"post":{"tags":["attribute"],"summary":"attribute.add","description":"Add new attribute","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"type","description":"Defines attribute's type","schema":{"type":"string","enum":["text","select","textarea","date","price","multiselect","boolean"]},"example":"text","in":"query","required":true},{"name":"name","description":"Defines attributes's name","schema":{"type":"string"},"example":"Specification","in":"query","required":true},{"name":"code","description":"Entity code","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Set visibility status","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"required","description":"Defines if the option is required","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"position","description":"Attribute`s position","schema":{"type":"integer","default":0},"example":5,"in":"query","required":false},{"name":"attribute_group_id","description":"Filter by attribute_group_id","schema":{"type":"string"},"example":"202","in":"query","required":false},{"name":"is_global","description":"Attribute saving scope","schema":{"type":"string","default":"Store"},"example":"Global","in":"query","required":false},{"name":"is_searchable","description":"Use attribute in Quick Search","schema":{"type":"boolean","default":false},"example":false,"in":"query","required":false},{"name":"is_filterable","description":"Use In Layered Navigation","schema":{"type":"string","default":"No"},"example":"No","in":"query","required":false},{"name":"is_comparable","description":"Comparable on Front-end","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_html_allowed_on_front","description":"Allow HTML Tags on Frontend","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_filterable_in_search","description":"Use In Search Results Layered Navigation","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_configurable","description":"Use To Create Configurable Product","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_visible_in_advanced_search","description":"Use in Advanced Search","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_used_for_promo_rules","description":"Use for Promo Rule Conditions","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_in_product_listing","description":"Used in Product Listing","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_for_sort_by","description":"Used for Sorting in Product Listing","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"apply_to","description":"Types of products which can have this attribute","schema":{"type":"string","default":"all_types"},"example":"Global","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.update.json":{"put":{"tags":["attribute"],"summary":"attribute.update","description":"Update attribute data","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"name","description":"Defines new attributes's name","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.delete","description":"Delete attribute from store","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/attribute.assign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.group","description":"Assign attribute to the group","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"Attribute group_id","schema":{"type":"string"},"example":3,"in":"query","required":true},{"name":"attribute_set_id","description":"Attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.assign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.set","description":"Assign attribute to the attribute set","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"Attribute group_id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"attribute_set_id","description":"Attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":true},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.attributeset.list.json":{"get":{"tags":["attribute"],"summary":"attribute.attributeset.list","description":"Get attribute_set list","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAttributesetList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Attributeset_List"}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.group.list.json":{"get":{"tags":["attribute"],"summary":"attribute.group.list","description":"Get attribute group list","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeGroupList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Group_List"}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_set_id","description":"Attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.type.list.json":{"get":{"tags":["attribute"],"summary":"attribute.type.list","description":"Get list of supported attributes types","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeTypeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attribute_type":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/attribute.unassign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.group","description":"Unassign attribute from group","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"Customer group_id","schema":{"type":"string"},"example":3,"in":"query","required":true},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.unassign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.set","description":"Unassign attribute from attribute set","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"Attribute set id","schema":{"type":"string"},"example":"4","in":"query","required":true},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.value.add.json":{"post":{"tags":["attribute"],"summary":"attribute.value.add","description":"Add new value to attribute.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"attribute_id","description":"Attribute Id","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Defines attribute value's name","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"code","description":"Entity code","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"description","description":"Defines attribute value's description","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.value.update.json":{"put":{"tags":["attribute"],"summary":"attribute.value.update","description":"Update attribute value.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Defines attribute value's id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"Attribute Id","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Defines attribute value's name","schema":{"type":"string"},"example":"Test name","in":"query","required":false},{"name":"description","description":"Defines new attribute value's description","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"code","description":"Entity code","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/attribute.value.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.value.delete","description":"Delete attribute value.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"Attribute Id","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.info.json":{"get":{"tags":["basket"],"summary":"basket.info","description":"Retrieve basket information.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Basket"}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"force_all"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/basket.item.add.json":{"post":{"tags":["basket"],"summary":"basket.item.add","description":"Add item to basket","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketItemAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"added":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"customer_id","description":"Retrieves orders specified by customer id","schema":{"type":"string"},"example":"5","in":"query","required":true},{"name":"product_id","description":"Defines id of the product which should be added to the basket","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"variant_id","description":"Defines product's variants specified by variant id","schema":{"type":"string"},"example":45,"in":"query","required":false},{"name":"quantity","description":"Defines new items quantity","schema":{"type":"number","default":0},"example":6,"in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/basket.live_shipping_service.list.json":{"get":{"tags":["basket"],"summary":"basket.live_shipping_service.list","description":"Retrieve a list of live shipping rate services.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"live_shipping_services":{"type":"array","items":{"$ref":"#/components/schemas/Basket_LiveShippingService"}}}}}}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.create.json":{"post":{"tags":["basket"],"summary":"basket.live_shipping_service.create","description":"Create live shipping rate service.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"parameters":[{"name":"name","description":"Shipping Service Name","schema":{"type":"string"},"example":"BestDelivery","in":"query","required":true},{"name":"callback","description":"Callback url that returns shipping rates. It should be able to accept POST requests with json data.","schema":{"type":"string"},"example":"https://example.com/callback","in":"query","required":true},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/basket.live_shipping_service.delete.json":{"delete":{"tags":["basket"],"summary":"basket.live_shipping_service.delete","description":"Delete live shipping rate service.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"integer"},"example":5,"in":"query","required":true}]}},"/batch.job.list.json":{"get":{"tags":["batch"],"summary":"batch.job.list","description":"Get list of recent jobs","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Batch_Job_List"}}}}},"parameters":[{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Filter batch jobs by ids","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"created_from","description":"Retrieve entities from their creation date","schema":{"type":"string"},"example":"2010-07-29 13:45:52","in":"query","required":false},{"name":"created_to","description":"Retrieve entities to their creation date","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_from","description":"Retrieve entities according to their processing datetime","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_to","description":"Retrieve entities according to their processing datetime","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"{return_code,return_message,pagination,result}"},"example":"{result}","in":"query","required":false}]}},"/batch.job.result.json":{"get":{"tags":["batch"],"summary":"batch.job.result","description":"Get job result data","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobResult","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_Batch_Job_Result"}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/bridge.download.file":{"get":{"tags":["bridge"],"summary":"bridge.download","description":"Download bridge for store.</br>Please note that the method would not work if you call it from Swagger UI.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDownload","responses":{"200":{"description":"successful operation","content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}}},"parameters":[{"name":"whitelabel","description":"Identifies if there is a necessity to download whitelabel bridge.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/bridge.update.json":{"post":{"tags":["bridge"],"summary":"bridge.update","description":"Update bridge in the store.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/bridge.delete.json":{"post":{"tags":["bridge"],"summary":"bridge.delete","description":"Delete bridge from the store.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/cart.info.json":{"get":{"tags":["cart"],"summary":"cart.info","description":"This method allows you to get various information about the store, including a list of stores (in the case of a multistore configuration), a list of supported languages, currencies, carriers, warehouses, and many other information. This information contains data that is relatively stable and rarely changes, so API2Cart can cache certain data to reduce the load on the store and speed up the execution of the request. We also recommend that you cache the response of this method on your side to save requests. If you need to clear the cache for a specific store, then use the cart.validate method.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Cart"}}}}}}},"parameters":[{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{result{name,url,stores_info{store_id,name,currency{id,iso3},store_owner_info}}}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"name,url","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"name,url","in":"query","required":false}]}},"/cart.validate.json":{"get":{"tags":["cart"],"summary":"cart.validate","description":"This method clears the cache in API2Cart for a particular store and checks whether the connection to the store is available. Use this method if there have been any changes in the settings on the stor\u0435, for example, if a new plugin has been installed or removed.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartValidate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"parameters":[{"name":"validate_version","description":"Specify if api2cart should validate cart version","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.list.json":{"get":{"tags":["cart"],"summary":"cart.list","description":"Get list of supported carts","security":[{"ApiKeyAuth":[]}],"operationId":"CartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_carts":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"params":{"type":"array","items":{"type":"string"}}}}}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.bridge.json":{"get":{"tags":["cart"],"summary":"cart.bridge","description":"Get bridge key and store key","security":[{"ApiKeyAuth":[]}],"operationId":"CartBridge","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"},"bridge":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.disconnect.json":{"get":{"tags":["cart"],"summary":"cart.disconnect","description":"Disconnect with the store and clear store session data.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDisconnect","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"connection":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"delete_bridge","description":"Identifies if there is a necessity to delete bridge","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.methods.json":{"get":{"tags":["cart"],"summary":"cart.methods","description":"Returns a list of supported API methods.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMethods","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"method":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/cart.config.json":{"get":{"tags":["cart"],"summary":"cart.config","description":"Get list of cart configs","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfig","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_name":{"type":"string"},"store_url":{"type":"string"},"db_prefix":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"store_name,store_url,db_prefix","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"store_name,store_url,db_prefix","in":"query","required":false}]}},"/cart.clear_cache.json":{"post":{"tags":["cart"],"summary":"cart.clear_cache","description":"Clear cache on store.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartClearCache","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"cache_cleared":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"cache_type","description":"Defines which cache should be cleared.","schema":{"type":"string"},"example":"storage_cache","in":"query","required":true}]}},"/cart.create.json":{"post":{"tags":["cart"],"summary":"cart.create","description":"Add store to the account","security":[{"ApiKeyAuth":[]}],"operationId":"CartCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCreate"}}}}}},"/cart.delete.json":{"delete":{"tags":["cart"],"summary":"cart.delete","description":"Remove store from API2Cart","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store":{"type":"string"}}}}}}}}},"parameters":[{"name":"delete_bridge","description":"Identifies if there is a necessity to delete bridge","schema":{"type":"boolean","default":true},"example":true,"in":"query","required":false}]}},"/cart.catalog_price_rules.count.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.count","description":"Get count of cart catalog price rules discounts.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"catalog_price_rules_count":{"type":"string"}}}}}}}}},"parameters":[]}},"/cart.catalog_price_rules.list.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.list","description":"Get cart catalog price rules discounts.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List"}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Retrieves  catalog_price_rules by ids","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{result{catalog_price_rules_count,catalog_price_rules{id,type,name,avail,usage_count,actions,conditions}}}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"id,name,description"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.config.update.json":{"put":{"tags":["cart"],"summary":"cart.config.update","description":"Use this API method to update custom data in client database.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object"}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartConfigUpdate"}}}}}},"/cart.coupon.count.json":{"get":{"tags":["cart"],"summary":"cart.coupon.count","description":"This method allows you to get the number of coupons. On some platforms, you can filter the coupons by the date they were active.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupons_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"avail","description":"Defines category's visibility status","schema":{"type":"boolean","default":true},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Filter entity by date_start (greater or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filter entity by date_start (less or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filter entity by date_end (greater or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filter entity by date_end (less or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false}]}},"/cart.coupon.list.json":{"get":{"tags":["cart"],"summary":"cart.coupon.list","description":"Get cart coupon discounts.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Coupon_List"}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"coupons_ids","description":"Filter coupons by ids","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"store_id","description":"Filter coupons by store id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Language id","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"avail","description":"Filter coupons by avail status","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"status","description":"Defines coupon's status","schema":{"type":"string"},"example":"disabled","in":"query","required":false},{"name":"date_start_from","description":"Filter entity by date_start (greater or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filter entity by date_start (less or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filter entity by date_end (greater or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filter entity by date_end (less or equal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{pagination,result{coupon_count,coupon{id,code,name,conditions,actions{scope,amount,conditions{id,value,sub-conditions}},date_start,avail}}}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"id,code,name,description"},"example":"id,code,type,amount","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":"usage_history,type","in":"query","required":false}]}},"/cart.coupon.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.add","description":"Use this method to create a coupon with specified conditions.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupon_id":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCouponAdd"}}}}}},"/cart.coupon.delete.json":{"delete":{"tags":["cart"],"summary":"cart.coupon.delete","description":"Delete coupon","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"Entity id","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.coupon.condition.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.condition.add","description":"Use this method to add additional conditions for coupon application.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponConditionAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"coupon_id","description":"Coupon Id","schema":{"type":"string"},"example":"45845","in":"query","required":true},{"name":"entity","description":"Defines condition entity type","schema":{"type":"string","enum":["order","order_shipping_address","product","customer"]},"example":"order","in":"query","required":true},{"name":"key","description":"Defines condition entity attribute key","schema":{"type":"string","enum":["total","subtotal","shipping_total","total_quantity","total_weight","country","product_id","variant_id","category_id","customer_id","item_price","item_total_price","item_quantity","carrier_id"]},"example":"subtotal","in":"query","required":true},{"name":"operator","description":"Defines condition operator","schema":{"type":"string"},"example":"==","in":"query","required":true},{"name":"value","description":"Defines condition value, can be comma separated according to the operator.","schema":{"type":"string"},"example":"2","in":"query","required":true},{"name":"target","description":"Defines condition operator","schema":{"type":"string","default":"coupon_prerequisite"},"example":"coupon_action","in":"query","required":false},{"name":"include_tax","description":"Indicates whether to apply a discount for taxes.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"include_shipping","description":"Indicates whether to apply a discount for shipping.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency_key</strong> return a cached response without re-executing the business logic. <strong>Please note that the cache lifetime is 15 minutes.</strong>","schema":{"type":"string"},"example":"098f6bcd4621d373cade4e832627b4f6","in":"query","required":false}]}},"/cart.giftcard.count.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.count","description":"Get gift cards count.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"gift_cards_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.list.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.list","description":"Get gift cards list.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_GiftCard_List"}}}}},"parameters":[{"name":"start","description":"This parameter sets the number from which you want to get entities","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"This parameter sets the entity amount that has to be retrieved. Max allowed count=250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"store_id","description":"Store Id","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string"},"example":"{pagination,result{gift_card{id,code,amount,status}}}","in":"query","required":false},{"name":"params","description":"Set this parameter in order to choose which entity fields you want to retrieve","schema":{"type":"string","default":"id,code,name"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.giftcard.add.json":{"post":{"tags":["cart"],"summary":"cart.giftcard.add","description":"Use this method to create a gift card for a specified amount.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"}}}}}}}}},"parameters":[{"name":"amount","description":"Defines the gift card amount value.","schema":{"type":"number"},"example":15.5,"in":"query","required":true},{"name":"code","description":"Gift card code","schema":{"type":"string"},"example":"GFT1 A4S5 AA11 RD61","in":"query","required":false},{"name":"owner_email","description":"Gift card owner email","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_email","description":"Gift card recipient email","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_name","description":"Gift card recipient name","schema":{"type":"string"},"example":"John Doe","in":"query","required":false},{"name":"owner_name","description":"Gift card owner name","schema":{"type":"string"},"example":"John Doe","in":"query","required":false},{"name":"idempotency_key","description":"A unique identifier associated with a specific request. Repeated requests with the same <strong>idempotency
[...]
