{
      "openapi": "3.1.1",
      "info": {
        "title": "API2Cart OpenAPI",
        "version": "1.1",
        "description": "API2Cart",
        "termsOfService": "https://api2cart.com/terms-service",
        "contact": {
          "email": "contact@api2cart.com"
        }
      },
      "servers": [
        {
          "url": "https://api.api2cart.com/v1.1",
          "description": "API2Cart Production Server"
        }
      ],
      "tags": [
        { "name": "account" },
        { "name": "cart" },
        { "name": "product" },
        { "name": "marketplace" },
        { "name": "category" },
        { "name": "order" },
        { "name": "customer" },
        { "name": "attribute" },
        { "name": "tax" },
        { "name": "webhook" },
        { "name": "batch" }
      ],
      "paths": {"/account.failed_webhooks.json":{"get":{"tags":["account"],"summary":"account.failed_webhooks","description":"Se il callback del tuo servizio non \u00e8 riuscito ad accettare i webhook da API2Cart per qualche motivo, puoi utilizzare questo metodo per ottenere un elenco dei webhook mancati e ripetere la sincronizzazione utilizzando l\u2019entity_id. Tieni presente che conserviamo tali registrazioni per 24 ore.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountFailedWebhooks","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"all_failed_webhook":{"type":"string"},"webhook":{"type":"array","items":{"type":"object","properties":{"webhook_id":{"type":"integer"},"entity_id":{"type":"string"},"time":{"$ref":"#/components/schemas/A2CDateTime"}}}}}}}}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"ids","description":"Elenco di ID webhook separati da virgole","schema":{"type":"string"},"example":"3,14,25","in":"query","required":false}]}},"/account.supported_platforms.json":{"get":{"tags":["account"],"summary":"account.supported_platforms","description":"Usa questo metodo per ottenere un elenco delle piattaforme supportate e dei set di parametri necessari per connettersi a ciascuna di esse. Nota: alcune piattaforme possono avere pi\u00f9 metodi di connessione, quindi la risposta conterr\u00e0 pi\u00f9 set di parametri.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountSupportedPlatforms","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_platforms":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"cart_method":{"type":"string"},"params":{"type":"object","properties":{"required":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}},"additional":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}}}}}}}}}}}}}},"parameters":[]}},"/account.cart.list.json":{"get":{"tags":["account"],"summary":"account.cart.list","description":"Questo metodo consente di ottenere un elenco dei negozi online collegati al proprio account API2Cart.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"carts_count":{"type":"integer"},"carts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"store_key":{"type":"string"},"cart_id":{"type":"string"},"total_calls":{"type":"string"}}}}}}}}}}}},"parameters":[{"name":"store_url","description":"Un indirizzo web di un negozio","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"store_key","description":"Trova negozio tramite la chiave del negozio","schema":{"type":"string"},"example":"ab37fc230bc5df63a5be1b11220949be","in":"query","required":false},{"name":"request_from_date","description":"Recupera entit\u00e0 dalla loro data di creazione","schema":{"type":"string"},"example":"2010-07-29","in":"query","required":false},{"name":"request_to_date","description":"Recupera entit\u00e0 fino alla loro data di creazione","schema":{"type":"string"},"example":"2100-08-29","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"force_all"},"example":"url,store_key","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"url,store_key","in":"query","required":false}]}},"/account.cart.add.json":{"post":{"tags":["account"],"summary":"account.cart.add","description":"Usa questo metodo per automatizzare il processo di connessione dei negozi ad API2Cart.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCartAdd"}}}}}},"/account.config.update.json":{"put":{"tags":["account"],"summary":"account.config.update","description":"Usa questo metodo per automatizzare la modifica delle credenziali utilizzate per connettere i negozi online.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AccountConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated_items":{"type":"integer"}}}}}}}}},"parameters":[{"name":"replace_parameters","description":"Identifica se \u00e8 necessario sostituire i parametri","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"new_store_url","description":"L'indirizzo web del negozio che vuoi aggiornare per connetterti a API2Cart","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"new_store_key","description":"Aggiorna la chiave del negozio","schema":{"type":"string"},"example":"b636495648de3086f6f57b1bd4be548f","in":"query","required":false},{"name":"bridge_url","description":"Questo parametro consente di configurare un negozio con un URL bridge personalizzato (devi anche usare il parametro store_root se la cartella bridge non si trova nella cartella principale del negozio)","schema":{"type":"string"},"example":"https://your-store.com/custom/bridge/path/bridge.php","in":"query","required":false},{"name":"store_root","description":"Percorso assoluto alla directory principale del negozio (utilizzato con il parametro \"bridge_url\")","schema":{"type":"string"},"example":"/home/www/stores/magento1922","in":"query","required":false},{"name":"db_tables_prefix","description":"Prefisso delle tabelle del database","schema":{"type":"string"},"example":"oc_","in":"query","required":false},{"name":"user_agent","description":"Questo parametro consente di impostare un user agent personalizzato, che verr\u00e0 utilizzato nelle richieste al negozio. Usalo con cautela, poich\u00e9 il firewall del negozio potrebbe bloccare determinati valori.","schema":{"type":"string"},"example":"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0","in":"query","required":false},{"name":"3dcart_private_key","description":"Chiave privata di 3DCart","schema":{"type":"string"},"example":"7dba81f90bdbe25e7000e73214ca51b","in":"query","required":false},{"name":"3dcart_access_token","description":"Token di 3DCart","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"3dcartapi_api_key","description":"Chiave API di 3DCart","schema":{"type":"string"},"example":"82cc921c6a5c67082cc921c6a5c6707e1d6e6862ba3201a","in":"query","required":false},{"name":"amazon_sp_client_id","description":"ID cliente dell'applicazione Amazon SP API","schema":{"type":"string"},"example":"amzn1.application-oa2-client.11e000e1f47d4998aca3733716d3b5a4","in":"query","required":false},{"name":"amazon_sp_client_secret","description":"Segreto cliente dell'applicazione Amazon SP API","schema":{"type":"string"},"example":"2c987428209f235443221255bde064f4bdf8a65165a80f5d22760a83cb","in":"query","required":false},{"name":"amazon_sp_refresh_token","description":"Token di aggiornamento OAuth Amazon SP API","schema":{"type":"string"},"example":"Atzr|IwEBIPUI-bwRTdDgKNQ_g56C30wGqymtx30c9MdDC7Emwmojhs20k5BBG2hHtJiGZ_7OfG7khd1RuQr6KEst4qyWbo_eXi5S_T_VOxzJUuksG1cFOGFpFK-cnhReNzAeZIpZeJT7_ROy1csEFlQfC8FJS3bsbSkkbTz2ZcTN7_7ey0HVlhyfFizgROeSeOI24Wjs9l_KKzZW0jvi_oC2cxlIcyknnHLK6KMNz2rTXqQJWRtlK9xPJDdbcUa5STA8MQru91cxNBpSkZN_cq9OOELhbsIGKD75y7nZ3yJU4uHQC_9iBQQoFm0biKgi-kEQwOhwws8","in":"query","required":false},{"name":"amazon_sp_aws_region","description":"Regione Amazon AWS","schema":{"type":"string"},"example":"us-east-1","in":"query","required":false},{"name":"amazon_sp_api_environment","description":"Ambiente Amazon SP API","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"amazon_seller_id","description":"ID venditore Amazon (token del commerciante)","schema":{"type":"string"},"example":"13P636B2M1N4WR","in":"query","required":false},{"name":"aspdotnetstorefront_api_user","description":"\u00c8 un account AspDotNetStorefront per il quale l'API \u00e8 disponibile","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"aspdotnetstorefront_api_pass","description":"Password API di AspDotNetStorefront","schema":{"type":"string"},"example":"f6471ef78f72b41849a8b8b67791b0b5","in":"query","required":false},{"name":"bigcommerceapi_admin_account","description":"\u00c8 un account BigCommerce per il quale l'API \u00e8 abilitata","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"bigcommerceapi_api_path","description":"URL API di BigCommerce","schema":{"type":"string"},"example":"http://mystore.bigcommerce.com/api/v1","in":"query","required":false},{"name":"bigcommerceapi_api_key","description":"Chiave API di BigCommerce","schema":{"type":"string"},"example":"6b89704cd75738cb0f9f6468d5462aba","in":"query","required":false},{"name":"bigcommerceapi_client_id","description":"ID client dell'applicazione richiedente","schema":{"type":"string"},"example":"p1r37bt131z86675nofv9xmhietoe4t","in":"query","required":false},{"name":"bigcommerceapi_access_token","description":"Token di accesso che autorizza l'applicazione ad accedere alle risorse per conto di un utente","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"bigcommerceapi_context","description":"Sezione del percorso API univoca per il negozio","schema":{"type":"string"},"example":"stores/etplnf8o8v","in":"query","required":false},{"name":"bol_api_key","description":"Chiave API di Bol","schema":{"type":"string"},"example":"51369628-feee-11ed-be56-0242ac120002","in":"query","required":false},{"name":"bol_api_secret","description":"Segreto API di Bol","schema":{"type":"string"},"example":"8fGzEsbEP5z2MNZubmIil87m-sWzTkj?KDQKrmzmU!fA6aAUNMdKRp7LMWHwE!G37UMfnWByHBGSXJHkAG?QcuYTO2uklv4idIHwUMLHK!OO1yfRlWh!","in":"query","required":false},{"name":"bol_retailer_id","description":"ID rivenditore di Bol","schema":{"type":"integer"},"example":"145001","in":"query","required":false},{"name":"demandware_client_id","description":"ID client di Demandware","schema":{"type":"string"},"example":"b849eb85-v8b9-1dw8-9fe2-97e1d6ffc7b0","in":"query","required":false},{"name":"demandware_api_password","description":"Password API di Demandware","schema":{"type":"string"},"example":"testpassword","in":"query","required":false},{"name":"demandware_user_name","description":"Nome utente Demandware","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"demandware_user_password","description":"Password utente Demandware","schema":{"type":"string"},"example":"12345","in":"query","required":false},{"name":"ebay_client_id","description":"ID dell'applicazione (AppID).","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"ebay_client_secret","description":"Segreto condiviso dell'applicazione eBay","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_runame","description":"Il valore RuName assegnato da eBay alla tua applicazione.","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_access_token","description":"Utilizzato per autenticare le richieste API.","schema":{"type":"string"},"example":"v^1.1#i ... AjRV4yNjA=","in":"query","required":false},{"name":"ebay_refresh_token","description":"Utilizzato per rinnovare il token di accesso.","schema":{"type":"string"},"example":"v^1.1#i ... rAewqVasdA=","in":"query","required":false},{"name":"ebay_environment","description":"Ambiente eBay","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"ebay_site_id","description":"ID globale eBay","schema":{"type":"integer","default":0},"example":"101","in":"query","required":false},{"name":"ecwid_acess_token","description":"Token di accesso che autorizza l'app ad accedere alle risorse per conto di un utente","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"ecwid_store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lazada_app_id","description":"ID dell'app di Lazada","schema":{"type":"string"},"example":"112577","in":"query","required":false},{"name":"lazada_app_secret","description":"Segreto dell'app di Lazada","schema":{"type":"string"},"example":"er33raICJ79Q5b0EsR9stmRnjE9XQ2WH","in":"query","required":false},{"name":"lazada_refresh_token","description":"Token di aggiornamento di Lazada","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"lazada_region","description":"Regione dell'endpoint API di Lazada","schema":{"type":"string"},"example":"Malaysia","in":"query","required":false},{"name":"etsy_keystring","description":"Stringa chiave di Etsy","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"etsy_shared_secret","description":"Segreto condiviso di Etsy","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"etsy_access_token","description":"Token di accesso che autorizza l'app ad accedere alle risorse per conto di un utente","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_token_secret","description":"Token segreto che autorizza l'app ad accedere alle risorse per conto di un utente","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_client_id","description":"ID cliente di Etsy","schema":{"type":"string"},"example":"w0fi0igk2w29bjcd7ydr2s35","in":"query","required":false},{"name":"etsy_refresh_token","description":"Token di aggiornamento di Etsy","schema":{"type":"string"},"example":"223577551.L07_RE-y7unmKf2dox4djsHkVxwpUfs1ikG_uQmHhF-aASEReNn_Qns1Wqn3dDa0ZMxrt9CIael3dgudeDZb31ZUdS","in":"query","required":false},{"name":"facebook_app_id","description":"ID dell'app di Facebook","schema":{"type":"string"},"example":"6516912365277570","in":"query","required":false},{"name":"facebook_app_secret","description":"Segreto dell'app di Facebook","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"facebook_access_token","description":"Token di accesso di Facebook","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUAhqbS58clzJwyp1rYRMpP31QJGziqtYbKypdVx3Cs0RpuufoUeLsbfX195XIB8VTlkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"facebook_business_id","description":"ID aziendale di Facebook","schema":{"type":"string"},"example":"294042786906655","in":"query","required":false},{"name":"neto_api_key","description":"Chiave API Neto","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"neto_api_username","description":"Nome utente di Neto","schema":{"type":"string"},"example":"mylogin","in":"query","required":false},{"name":"shopline_access_token","description":"Chiave dell'app di Shopline","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopline_app_key","description":"Chiave dell'app di Shopline","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"shopline_app_secret","description":"Segreto dell'app di Shopline","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopline_shared_secret","description":"Segreto Condiviso di Shopline","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopify_access_token","description":"Token di accesso che autorizza l'app ad accedere alle risorse per conto di un utente","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopify_api_key","description":"Chiave API Shopify","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"shopify_api_password","description":"Password API Shopify","schema":{"type":"string"},"example":"860f3a6fc87632301a42cd88e4b5ab3d","in":"query","required":false},{"name":"shopify_shared_secret","description":"Segreto condiviso","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"shopee_partner_id","description":"ID partner Shopee","schema":{"type":"string"},"example":"1276777","in":"query","required":false},{"name":"shopee_partner_key","description":"Chiave partner Shopee","schema":{"type":"string"},"example":"6a46494b4d746576554646626775617a577542774850636375464d6a736d5598","in":"query","required":false},{"name":"shopee_shop_id","description":"ID negozio Shopee","schema":{"type":"string"},"example":"137968","in":"query","required":false},{"name":"shopee_refresh_token","description":"Token di aggiornamento Shopee","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU987mVVb5br","in":"query","required":false},{"name":"shopee_region","description":"Regione endpoint API Shopee. Utilizzare per la Cina continentale o il Brasile.","schema":{"type":"string"},"example":"CN","in":"query","required":false},{"name":"shopee_environment","description":"Ambiente Shopee","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"shoplazza_access_token","description":"Token di accesso che autorizza l'app ad accedere alle risorse per conto di un utente","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shoplazza_shared_secret","description":"Segreto condiviso","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"miva_access_token","description":"Token di accesso Miva","schema":{"type":"string"},"example":"227cbe434a1e358d72db0de993x9d9fd","in":"query","required":false},{"name":"miva_signature","description":"Firma Miva","schema":{"type":"string"},"example":"1hpkrebfdsObGTor/0Gk9XcNBUQohrxrw67Sg9AM9ps=","in":"query","required":false},{"name":"shopware_access_key","description":"Chiave di accesso Shopware","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"unas_api_key","description":"Chiave API UNAS","schema":{"type":"string"},"example":"c238908e29ceb6e6ad3df15f89a6234709d3f000","in":"query","required":false},{"name":"shopware_api_key","description":"Chiave API Shopware","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_secret","description":"Chiave di accesso segreta del client Shopware","schema":{"type":"string"},"example":"V3NYNWg2b1dZdHBUWDN1cmdKdGhnenp5enVJYlJ0WlJvOFF2bnQ","in":"query","required":false},{"name":"bigcartel_user_name","description":"Sottodominio del negozio","schema":{"type":"string"},"example":"subdomain","in":"query","required":false},{"name":"bigcartel_password","description":"Password dell'account BigCartel","schema":{"type":"string"},"example":"4GrrZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"bricklink_consumer_key","description":"Chiave consumer di Bricklink","schema":{"type":"string"},"example":"26F6CDA087D9444EAA71AC09E7A1D39A","in":"query","required":false},{"name":"bricklink_consumer_secret","description":"Segreto consumer di Bricklink","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"bricklink_token","description":"Token di accesso Bricklink","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"bricklink_token_secret","description":"Segreto del token di accesso Bricklink","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"volusion_login","description":"\u00c8 un account Volusion per il quale l'API \u00e8 abilitata","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"volusion_password","description":"Password API di Volusion","schema":{"type":"string"},"example":"7943CA5F3990E00D9A4CCF0BD998211F","in":"query","required":false},{"name":"walmart_client_id","description":"ID cliente Walmart. Per la regione 'ca', utilizza l'ID consumatore","schema":{"type":"string"},"example":"423f6A24-123z-8654-989u-6fa96478289","in":"query","required":false},{"name":"walmart_client_secret","description":"Segreto cliente Walmart. Per la regione 'ca', utilizza la chiave privata","schema":{"type":"string"},"example":"1gf85fea-8974-2648-w12w-rt54284tdf54","in":"query","required":false},{"name":"walmart_environment","description":"Ambiente Walmart","schema":{"type":"string","default":"production"},"example":"production","in":"query","required":false},{"name":"walmart_channel_type","description":"Intestazione WM_CONSUMER.CHANNEL.TYPE di Walmart","schema":{"type":"string"},"example":"0f3e4dd4-0514-4346-b39d-af0e00ea066d","in":"query","required":false},{"name":"walmart_region","description":"Regione Walmart","schema":{"type":"string","default":"us"},"example":"us","in":"query","required":false},{"name":"square_client_id","description":"ID cliente Square (Weebly)","schema":{"type":"string"},"example":"sq0idp-qwer_1pvuTYe9cAf1lmxyQ","in":"query","required":false},{"name":"square_client_secret","description":"Segreto cliente Square (Weebly)","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"square_refresh_token","description":"Token di aggiornamento Square (Weebly)","schema":{"type":"string"},"example":"EQAAlquVXMr6xIcPu7qPkIEAZ0thqChhQuowrvZIqOlwhOwhtmyh4ZRfesdRc434","in":"query","required":false},{"name":"squarespace_api_key","description":"Chiave API di Squarespace","schema":{"type":"string"},"example":"8f7849d5-1411-47f2-9722-aa81c2a48d95","in":"query","required":false},{"name":"squarespace_client_id","description":"ID cliente del connettore Squarespace","schema":{"type":"string"},"example":"9UGbUtS2V96BxRGmfOjsGAhTdsr9Vxxx","in":"query","required":false},{"name":"squarespace_client_secret","description":"Segreto cliente del connettore Squarespace","schema":{"type":"string"},"example":"GPZkUFkIKWg0KLE6rajsFMMYA9ma0udaaq2bYwBDXXX=","in":"query","required":false},{"name":"squarespace_access_token","description":"Token di accesso di Squarespace","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"squarespace_refresh_token","description":"Token di aggiornamento di Squarespace","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"hybris_client_id","description":"ID cliente del connettore Omni Commerce","schema":{"type":"string"},"example":"api_client_1","in":"query","required":false},{"name":"hybris_client_secret","description":"Segreto cliente del connettore Omni Commerce","schema":{"type":"string"},"example":"secret_phrase_1","in":"query","required":false},{"name":"hybris_username","description":"Nome utente","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"hybris_password","description":"Password utente","schema":{"type":"string"},"example":"nimda","in":"query","required":false},{"name":"hybris_websites","description":"Dati di mappatura dei siti web ai negozi","schema":{"type":"array","items":{"type":"string"}},"example":"hybris_websites[0][uid]=apparel-website&hybris_websites[0][url]=https://apparel.local/yacceleratorstorefront&hybris_websites[0][storeIds][0]=apparel-de&hybris_websites[0][storeIds][1]=apparel-uk","in":"query","required":false},{"name":"lightspeed_api_key","description":"Chiave API LightSpeed","schema":{"type":"string"},"example":"cf5444729c2abd6b6a5d983691767cb5","in":"query","required":false},{"name":"lightspeed_api_secret","description":"Segreto dell'API LightSpeed","schema":{"type":"string"},"example":"2620ee52a8bc942f9d5d3a575f4d363e","in":"query","required":false},{"name":"commercehq_api_key","description":"Chiave API di CommerceHQ","schema":{"type":"string"},"example":"sJrD-LM0eddhe63rfgfva0dDydXfre4","in":"query","required":false},{"name":"commercehq_api_password","description":"Password API di CommerceHQ","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"wc_consumer_key","description":"Chiave del consumatore Woocommerce","schema":{"type":"string"},"example":"ck_26d8e2ad604f3917e429df6961722282bdcf109d","in":"query","required":false},{"name":"wc_consumer_secret","description":"Segreto del consumatore Woocommerce","schema":{"type":"string"},"example":"cs_931ced666118a15c5f7b4a33a15gf5589cbeba55","in":"query","required":false},{"name":"magento_consumer_key","description":"Chiave consumatore Magento","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"magento_consumer_secret","description":"Segreto consumatore Magento","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"magento_access_token","description":"Token di accesso Magento","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"magento_token_secret","description":"Segreto del token Magento","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"prestashop_webservice_key","description":"Chiave del servizio web Prestashop","schema":{"type":"string"},"example":"CKJ1ZEWRJWRLTPVBQJ9FGGRORD4AGS96","in":"query","required":false},{"name":"wix_app_id","description":"ID dell'app Wix","schema":{"type":"string"},"example":"6b0b5b7b-7d87-45b5-bf34-ac6b438e63da","in":"query","required":false},{"name":"wix_app_secret_key","description":"Chiave segreta dell'app Wix","schema":{"type":"string"},"example":"316c0a09-f195-42be-74f6-a02cebb9cae6","in":"query","required":false},{"name":"wix_instance_id","description":"ID istanza Wix","schema":{"type":"string"},"example":"58b893a4-6b16-5c2f-qt78-qa3r61t32rt8","in":"query","required":false},{"name":"wix_refresh_token","description":"Token di aggiornamento Wix","schema":{"type":"string"},"example":"\n        OAUTH2.eyJraWQiOiJkZ0x3cjNRMCIsImFsZyI6IkhTMjU2In0.\n        eyJkYXRhIjoie1wiaWRcIjpcImJlZjM3MmRmLTUyNGItNDI3NS05M2RkL\n        Tg4NDBlOTU3ZWU2OFwifSIsImlhdCI6MTY0ODA0NTEyNiwiZXhwIjoxNzExMTE3MTI2fQ.\n        VRR2lGSbcTVmaArtmyyhy6o4WRDwTn-nlDCQpZ97eYw\n      ","in":"query","required":false},{"name":"mercado_libre_app_id","description":"ID dell'app Mercado Libre","schema":{"type":"string"},"example":"211188015100135","in":"query","required":false},{"name":"mercado_libre_app_secret_key","description":"Chiave segreta dell'app Mercado Libre","schema":{"type":"string"},"example":"e2qoG2zklLlfP7cEngEJ94YjhkejkjAm","in":"query","required":false},{"name":"mercado_libre_refresh_token","description":"Token di aggiornamento Mercado Libre","schema":{"type":"string"},"example":"TG-63h13529vb5464110188d2x9-703754376","in":"query","required":false},{"name":"zid_client_id","description":"ID cliente di Zid","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"zid_client_secret","description":"Segreto cliente di Zid","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"zid_access_token","description":"Token di accesso Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_authorization","description":"Autorizzazione Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_refresh_token","description":"Token di aggiornamento Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"flipkart_client_id","description":"ID cliente Flipkart","schema":{"type":"string"},"example":"19414773883a13a850b6a52350b7246499a24","in":"query","required":false},{"name":"flipkart_client_secret","description":"Segreto cliente Flipkart","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"allegro_client_id","description":"ID cliente Allegro","schema":{"type":"string"},"example":"2915e189ce3d23d23d2327d204ae6a0bd","in":"query","required":false},{"name":"allegro_client_secret","description":"Segreto cliente Allegro","schema":{"type":"string"},"example":"DNHtqdL2WPIefeUhQWYgtXPS23fgbfgasdsGHHJGhg3RTFDQWFGZmVoFRT5IfkQj1E7eR5","in":"query","required":false},{"name":"allegro_access_token","description":"Token di accesso Allegro","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_refresh_token","description":"Token di aggiornamento Allegro","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_environment","description":"Ambiente Allegro","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"zoho_client_id","description":"ID cliente Zoho","schema":{"type":"string"},"example":"1000.FLCHGI2LS1111111TOR4OGB697W4IX","in":"query","required":false},{"name":"zoho_client_secret","description":"Segreto cliente Zoho","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"zoho_refresh_token","description":"Token di aggiornamento Zoho","schema":{"type":"string"},"example":"1000.11111111111111111111111111111111.1b3ca6f054341a111118abf928beb33b","in":"query","required":false},{"name":"zoho_region","description":"Regione dell'endpoint API Zoho","schema":{"type":"string"},"example":"Europe","in":"query","required":false},{"name":"tiendanube_user_id","description":"ID utente Tiendanube","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"tiendanube_access_token","description":"Token di accesso Tiendanube","schema":{"type":"string"},"example":"75bde7bb0b437475423e7e87c142c06052f80199","in":"query","required":false},{"name":"tiendanube_client_secret","description":"Segreto cliente Tiendanube","schema":{"type":"string"},"example":"5e3588f514a5ae0d0fa063d1b556531e25c83fa7e47472ed","in":"query","required":false},{"name":"otto_client_id","description":"ID cliente Otto","schema":{"type":"string"},"example":"911a3dbf-d261-4763-cc81-052876465b55","in":"query","required":false},{"name":"otto_client_secret","description":"Segreto cliente Otto","schema":{"type":"string"},"example":"9887a82a-2879-421e-a6wc-54e986b3458c","in":"query","required":false},{"name":"otto_app_id","description":"ID dell'app Otto","schema":{"type":"string"},"example":"6eaef6a3-822e-425b-8mc9-53750063e34d","in":"query","required":false},{"name":"otto_refresh_token","description":"Token di aggiornamento Otto","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"otto_environment","description":"Ambiente Otto","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"otto_access_token","description":"Token di accesso Otto","schema":{"type":"string"},"example":"eyJhbGciOiJS34535f45f54f5656deyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"tiktokshop_app_key","description":"Chiave dell'app TikTok Shop","schema":{"type":"string"},"example":"6arbhkzno8nbv","in":"query","required":false},{"name":"tiktokshop_app_secret","description":"Segreto dell'app TikTok Shop","schema":{"type":"string"},"example":"d95820a05a0cd54fb394fcd26fgat63999b183bc","in":"query","required":false},{"name":"tiktokshop_refresh_token","description":"Token di aggiornamento TikTok Shop","schema":{"type":"string"},"example":"TTP_NTUxZTNhYTQ2ZDk2YmRmZWNmYWY2YWY12345NGYwNjQ3YjkzYTllYjA0YmNlMw","in":"query","required":false},{"name":"tiktokshop_access_token","description":"Token di accesso TikTok Shop","schema":{"type":"string"},"example":"TTP_Fw8r12345kW03FYd09DG-9INtpw361hWthei12345iPJ5AUv99fLSCYD9-Uu12345TgNRzKZxi5-tfFMtdWqglEt5_iCk","in":"query","required":false},{"name":"salla_client_id","description":"ID cliente Salla","schema":{"type":"string"},"example":"1bxxxcf9-5xx4-xxx-bxxf-929b8xxxxe11","in":"query","required":false},{"name":"salla_client_secret","description":"Segreto cliente Salla","schema":{"type":"string"},"example":"8x88axxxc25e1fxxxa1c06fxxx150xx5","in":"query","required":false},{"name":"salla_refresh_token","description":"Token di aggiornamento Salla","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"salla_access_token","description":"Token di accesso Salla","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"temu_app_key","description":"Chiave app Temu","schema":{"type":"string"},"example":"4ebbc9190ae410443d65b4c2faca9811","in":"query","required":false},{"name":"temu_app_secret","description":"Segreto app Temu","schema":{"type":"string"},"example":"4782d2d827276688bf4758bed55dbdd4bbe79a78","in":"query","required":false},{"name":"temu_access_token","description":"Token di accesso Temu","schema":{"type":"string"},"example":"uplv3hfyt5kcwoymrgnajnbl1ow5qxlz4sqhev6hl3xosz5dejrtyl2jre6","in":"query","required":false},{"name":"temu_region","description":"Regione endpoint API di Temu.","schema":{"type":"string"},"example":"US","in":"query","required":false}]}},"/attribute.info.json":{"get":{"tags":["attribute"],"summary":"attribute.info","description":"Ottenere informazioni su un attributo globale specifico tramite il suo ID.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/StoreAttribute"}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"force_all"},"example":"force_all","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"name","in":"query","required":false}]}},"/attribute.count.json":{"get":{"tags":["attribute"],"summary":"attribute.count","description":"Ottenere il numero di attributi.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attributes_count":{"type":"integer"}}}}}}}}},"parameters":[{"name":"type","description":"Definisce il tipo di attributo","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"attribute_set_id","description":"Filtrare gli elementi per ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Filtrare gli elementi per stato di visibilit\u00e0","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Definisce se l'opzione \u00e8 obbligatoria","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Vero se l'attributo \u00e8 un attributo di sistema","schema":{"type":"boolean"},"example":false,"in":"query","required":false}]}},"/attribute.list.json":{"get":{"tags":["attribute"],"summary":"attribute.list","description":"Ottenere un elenco di attributi globali.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_List"}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_ids","description":"Filtrare attributi per ID","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"attribute_set_id","description":"Filtrare gli elementi per ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Recupera gli attributi specificati per ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"type","description":"Definisce il tipo di attributo","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"visible","description":"Filtrare gli elementi per stato di visibilit\u00e0","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Definisce se l'opzione \u00e8 obbligatoria","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Vero se l'attributo \u00e8 un attributo di sistema","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{return_code,return_message,pagination,result}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"id,name,code,type"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.add.json":{"post":{"tags":["attribute"],"summary":"attribute.add","description":"Aggiungere un nuovo attributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"type","description":"Definisce il tipo di attributo","schema":{"type":"string","enum":["text","select","textarea","date","price","multiselect","boolean"]},"example":"text","in":"query","required":true},{"name":"name","description":"Definisce il nome dell'attributo","schema":{"type":"string"},"example":"Specification","in":"query","required":true},{"name":"code","description":"Codice dell'entit\u00e0","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Impostare lo stato di visibilit\u00e0","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"required","description":"Definisce se l'opzione \u00e8 obbligatoria","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"position","description":"Posizione dell'attributo","schema":{"type":"integer","default":0},"example":5,"in":"query","required":false},{"name":"attribute_group_id","description":"Filtra per ID gruppo attributo","schema":{"type":"string"},"example":"202","in":"query","required":false},{"name":"is_global","description":"Ambito di salvataggio degli attributi","schema":{"type":"string","default":"Store"},"example":"Global","in":"query","required":false},{"name":"is_searchable","description":"Usa l'attributo nella ricerca rapida","schema":{"type":"boolean","default":false},"example":false,"in":"query","required":false},{"name":"is_filterable","description":"Usa nella navigazione filtrata","schema":{"type":"string","default":"No"},"example":"No","in":"query","required":false},{"name":"is_comparable","description":"Confrontabile nel Front-end","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_html_allowed_on_front","description":"Permetti tag HTML nel Front-end","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_filterable_in_search","description":"Usa nella navigazione filtrata nei risultati di ricerca","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_configurable","description":"Usa per creare un prodotto configurabile","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_visible_in_advanced_search","description":"Usa nella ricerca avanzata","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_used_for_promo_rules","description":"Usa per le condizioni delle regole promozionali","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_in_product_listing","description":"Utilizzato nell'elenco dei prodotti","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_for_sort_by","description":"Utilizzato per l'ordinamento nella lista dei prodotti","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"apply_to","description":"Tipi di prodotti che possono avere questo attributo","schema":{"type":"string","default":"all_types"},"example":"Global","in":"query","required":false}]}},"/attribute.update.json":{"put":{"tags":["attribute"],"summary":"attribute.update","description":"Aggiornare i dati dell\u2019attributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"name","description":"Definisce il nuovo nome dell'attributo","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.delete","description":"Eliminare un attributo dal negozio.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/attribute.assign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.group","description":"Assegnare un attributo al gruppo","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID gruppo attributi","schema":{"type":"string"},"example":3,"in":"query","required":true},{"name":"attribute_set_id","description":"ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":false}]}},"/attribute.assign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.set","description":"Assegnare un attributo al set di attributi","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID gruppo attributi","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"attribute_set_id","description":"ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.attributeset.list.json":{"get":{"tags":["attribute"],"summary":"attribute.attributeset.list","description":"Ottenere l\u2019elenco dei set di attributi","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAttributesetList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Attributeset_List"}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.group.list.json":{"get":{"tags":["attribute"],"summary":"attribute.group.list","description":"Ottenere l\u2019elenco dei gruppi di attributi","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeGroupList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Group_List"}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_set_id","description":"ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.type.list.json":{"get":{"tags":["attribute"],"summary":"attribute.type.list","description":"Ottenere un elenco dei tipi di attributi supportati.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeTypeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attribute_type":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/attribute.unassign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.group","description":"Rimuovere un attributo dal gruppo","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID gruppo cliente","schema":{"type":"string"},"example":3,"in":"query","required":true}]}},"/attribute.unassign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.set","description":"Rimuovere un attributo dal set di attributi","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"ID del set di attributi","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.value.add.json":{"post":{"tags":["attribute"],"summary":"attribute.value.add","description":"Aggiungere un nuovo valore all\u2019attributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"attribute_id","description":"ID attributo","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Definisce il nome del valore dell'attributo","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"code","description":"Codice dell'entit\u00e0","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"description","description":"Definisce la descrizione del valore dell'attributo","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.update.json":{"put":{"tags":["attribute"],"summary":"attribute.value.update","description":"Aggiornare il valore dell\u2019attributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Definisce l'ID del valore dell'attributo","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"ID attributo","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Definisce il nome del valore dell'attributo","schema":{"type":"string"},"example":"Test name","in":"query","required":false},{"name":"description","description":"Definisce la nuova descrizione del valore dell'attributo","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"code","description":"Codice dell'entit\u00e0","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.value.delete","description":"Eliminare il valore dell\u2019attributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"ID attributo","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.info.json":{"get":{"tags":["basket"],"summary":"basket.info","description":"Recuperare le informazioni del carrello.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Basket"}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"force_all"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/basket.item.add.json":{"post":{"tags":["basket"],"summary":"basket.item.add","description":"Aggiungere un articolo al carrello.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketItemAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"added":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"customer_id","description":"Recupera gli ordini specificati per ID cliente","schema":{"type":"string"},"example":"5","in":"query","required":true},{"name":"product_id","description":"Definisce l'ID del prodotto che deve essere aggiunto al carrello","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"variant_id","description":"Definisce le varianti del prodotto specificate dall'ID variante","schema":{"type":"string"},"example":45,"in":"query","required":false},{"name":"quantity","description":"Definisce la quantit\u00e0 di nuovi articoli","schema":{"type":"number","default":0},"example":6,"in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.list.json":{"get":{"tags":["basket"],"summary":"basket.live_shipping_service.list","description":"Recuperare l\u2019elenco dei servizi di tariffe di spedizione in tempo reale.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"live_shipping_services":{"type":"array","items":{"$ref":"#/components/schemas/Basket_LiveShippingService"}}}}}}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.create.json":{"post":{"tags":["basket"],"summary":"basket.live_shipping_service.create","description":"Creare un servizio di tariffe di spedizione in tempo reale.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"parameters":[{"name":"name","description":"Nome del servizio di spedizione","schema":{"type":"string"},"example":"BestDelivery","in":"query","required":true},{"name":"callback","description":"URL di callback che restituisce le tariffe di spedizione","schema":{"type":"string"},"example":"https://example.com/callback","in":"query","required":true},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.delete.json":{"delete":{"tags":["basket"],"summary":"basket.live_shipping_service.delete","description":"Eliminare il servizio di tariffe di spedizione in tempo reale.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"integer"},"example":5,"in":"query","required":true}]}},"/batch.job.list.json":{"get":{"tags":["batch"],"summary":"batch.job.list","description":"Ottenere l'elenco dei lavori recenti","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Batch_Job_List"}}}}},"parameters":[{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilizzato per recuperare entit\u00e0 tramite paginazione basata su cursore (non pu\u00f2 essere utilizzato con nessun altro parametro di filtro)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Filtra lavori in batch per ID","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"created_from","description":"Recupera entit\u00e0 dalla loro data di creazione","schema":{"type":"string"},"example":"2010-07-29 13:45:52","in":"query","required":false},{"name":"created_to","description":"Recupera entit\u00e0 fino alla loro data di creazione","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_from","description":"Recupera entit\u00e0 in base alla data e all'ora di elaborazione","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_to","description":"Recupera entit\u00e0 in base alla data e all'ora di elaborazione","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"{return_code,return_message,pagination,result}"},"example":"{result}","in":"query","required":false}]}},"/batch.job.result.json":{"get":{"tags":["batch"],"summary":"batch.job.result","description":"Ottenere i dati dei risultati del lavoro","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobResult","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_Batch_Job_Result"}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/bridge.download.file":{"get":{"tags":["bridge"],"summary":"bridge.download","description":"Scarica il bridge per il negozio.</br>Si noti che questo metodo non funzioner\u00e0 se viene chiamato da Swagger UI.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDownload","responses":{"200":{"description":"successful operation","content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}}},"parameters":[{"name":"whitelabel","description":"Identifica se \u00e8 necessario scaricare il bridge white label.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/bridge.update.json":{"post":{"tags":["bridge"],"summary":"bridge.update","description":"Aggiornare il bridge nel negozio.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/bridge.delete.json":{"post":{"tags":["bridge"],"summary":"bridge.delete","description":"Eliminare il bridge dal negozio.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/cart.info.json":{"get":{"tags":["cart"],"summary":"cart.info","description":"Questo metodo consente di ottenere varie informazioni sul negozio, inclusa una lista di negozi (nel caso di una configurazione multi-negozio), una lista delle lingue supportate, valute, corrieri, magazzini e molte altre informazioni. Questi dati sono relativamente stabili e cambiano raramente, quindi API2Cart pu\u00f2 memorizzare nella cache alcuni dati per ridurre il carico sul negozio e velocizzare l\u2019esecuzione delle richieste. Raccomandiamo inoltre di memorizzare nella cache la risposta di questo metodo per ridurre le richieste. Se \u00e8 necessario svuotare la cache per un negozio specifico, utilizzare il metodo cart.validate.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Cart"}}}}}}},"parameters":[{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result{name,url,stores_info{store_id,name,currency{id,iso3},store_owner_info}}}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"name,url","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"name,url","in":"query","required":false}]}},"/cart.validate.json":{"get":{"tags":["cart"],"summary":"cart.validate","description":"Questo metodo cancella la cache in API2Cart per un negozio specifico e verifica se la connessione al negozio \u00e8 disponibile. Usa questo metodo se sono state apportate modifiche alle impostazioni del negozio, ad esempio se \u00e8 stato installato o rimosso un nuovo plugin.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartValidate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"parameters":[{"name":"validate_version","description":"Specifica se API2Cart deve convalidare la versione del carrello","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.list.json":{"get":{"tags":["cart"],"summary":"cart.list","description":"Ottenere l\u2019elenco dei carrelli supportati.","security":[{"ApiKeyAuth":[]}],"operationId":"CartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_carts":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"params":{"type":"array","items":{"type":"string"}}}}}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.bridge.json":{"get":{"tags":["cart"],"summary":"cart.bridge","description":"Ottenere la chiave bridge e la chiave del negozio.","security":[{"ApiKeyAuth":[]}],"operationId":"CartBridge","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"},"bridge":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.disconnect.json":{"get":{"tags":["cart"],"summary":"cart.disconnect","description":"Disconnettersi dal negozio e cancellare i dati della sessione.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDisconnect","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"connection":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"delete_bridge","description":"Identifica se \u00e8 necessario eliminare il bridge","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.methods.json":{"get":{"tags":["cart"],"summary":"cart.methods","description":"Restituisce un elenco dei metodi API supportati.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMethods","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"method":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/cart.config.json":{"get":{"tags":["cart"],"summary":"cart.config","description":"Ottenere l\u2019elenco delle configurazioni del carrello.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfig","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_name":{"type":"string"},"store_url":{"type":"string"},"db_prefix":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"store_name,store_url,db_prefix","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"store_name,store_url,db_prefix","in":"query","required":false}]}},"/cart.clear_cache.json":{"post":{"tags":["cart"],"summary":"cart.clear_cache","description":"Svuotare la cache del negozio.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartClearCache","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"cache_cleared":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"cache_type","description":"Definisce quale cache deve essere cancellata.","schema":{"type":"string"},"example":"storage_cache","in":"query","required":true}]}},"/cart.create.json":{"post":{"tags":["cart"],"summary":"cart.create","description":"Aggiungere un negozio all\u2019account.","security":[{"ApiKeyAuth":[]}],"operationId":"CartCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCreate"}}}}}},"/cart.delete.json":{"delete":{"tags":["cart"],"summary":"cart.delete","description":"Rimuovere il negozio da API2Cart.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store":{"type":"string"}}}}}}}}},"parameters":[{"name":"delete_bridge","description":"Identifica se \u00e8 necessario eliminare il bridge","schema":{"type":"boolean","default":true},"example":true,"in":"query","required":false}]}},"/cart.catalog_price_rules.count.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.count","description":"Ottenere il numero di sconti delle regole di prezzo del catalogo del carrello.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"catalog_price_rules_count":{"type":"string"}}}}}}}}},"parameters":[]}},"/cart.catalog_price_rules.list.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.list","description":"Ottenere gli sconti delle regole di prezzo del catalogo del carrello.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List"}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilizzato per recuperare entit\u00e0 tramite paginazione basata su cursore (non pu\u00f2 essere utilizzato con nessun altro parametro di filtro)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Recupera regole di prezzo del catalogo per ID","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result{catalog_price_rules_count,catalog_price_rules{id,type,name,avail,usage_count,actions,conditions}}}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"id,name,description"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.config.update.json":{"put":{"tags":["cart"],"summary":"cart.config.update","description":"Usa questo metodo API per aggiornare i dati personalizzati nel database del cliente.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object"}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartConfigUpdate"}}}}}},"/cart.coupon.count.json":{"get":{"tags":["cart"],"summary":"cart.coupon.count","description":"Questo metodo consente di ottenere il numero di coupon. Su alcune piattaforme, \u00e8 possibile filtrarli in base alla data in cui sono stati attivi.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupons_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"avail","description":"Definisce lo stato di visibilit\u00e0 della categoria","schema":{"type":"boolean","default":true},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Filtrare l'entit\u00e0 per date_start (maggiore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filtrare entit\u00e0 per date_start (minore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filtrare entit\u00e0 per date_end (maggiore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filtrare entit\u00e0 per date_end (minore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false}]}},"/cart.coupon.list.json":{"get":{"tags":["cart"],"summary":"cart.coupon.list","description":"Ottenere gli sconti sui coupon del carrello.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Coupon_List"}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilizzato per recuperare entit\u00e0 tramite paginazione basata su cursore (non pu\u00f2 essere utilizzato con nessun altro parametro di filtro)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"coupons_ids","description":"Filtrare i coupon per ID","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"store_id","description":"Filtra i coupon in base all\u2019ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"avail","description":"Filtra i coupon per stato di disponibilit\u00e0","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"status","description":"Definisce lo stato del coupon","schema":{"type":"string"},"example":"disabled","in":"query","required":false},{"name":"date_start_from","description":"Filtrare l'entit\u00e0 per date_start (maggiore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filtrare entit\u00e0 per date_start (minore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filtrare entit\u00e0 per date_end (maggiore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filtrare entit\u00e0 per date_end (minore o uguale)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{pagination,result{coupon_count,coupon{id,code,name,conditions,actions{scope,amount,conditions{id,value,sub-conditions}},date_start,avail}}}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"id,code,name,description"},"example":"id,code,type,amount","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":"usage_history,type","in":"query","required":false}]}},"/cart.coupon.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.add","description":"Usa questo metodo per creare un coupon con condizioni specificate.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupon_id":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCouponAdd"}}}}}},"/cart.coupon.delete.json":{"delete":{"tags":["cart"],"summary":"cart.coupon.delete","description":"Eliminare il coupon.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.coupon.condition.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.condition.add","description":"Usa questo metodo per aggiungere condizioni aggiuntive per l\u2019applicazione del coupon.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponConditionAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"coupon_id","description":"ID del coupon","schema":{"type":"string"},"example":"45845","in":"query","required":true},{"name":"entity","description":"Definisce il tipo di entit\u00e0 della condizione","schema":{"type":"string","enum":["order","order_shipping_address","product","customer"]},"example":"order","in":"query","required":true},{"name":"key","description":"Definisce la chiave dell'attributo dell'entit\u00e0 della condizione","schema":{"type":"string","enum":["total","subtotal","shipping_total","total_quantity","total_weight","country","product_id","variant_id","category_id","customer_id","item_price","item_total_price","item_quantity","carrier_id"]},"example":"subtotal","in":"query","required":true},{"name":"operator","description":"Definisce l'operatore della condizione","schema":{"type":"string"},"example":"==","in":"query","required":true},{"name":"value","description":"Definisce il valore della condizione, pu\u00f2 essere separato da virgole a seconda dell'operatore.","schema":{"type":"string"},"example":"2","in":"query","required":true},{"name":"target","description":"Definisce l'operatore di condizione","schema":{"type":"string","default":"coupon_prerequisite"},"example":"coupon_action","in":"query","required":false},{"name":"include_tax","description":"Indica se applicare uno sconto sulle tasse.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"include_shipping","description":"Indica se applicare uno sconto sulla spedizione.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.count.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.count","description":"Ottenere il numero di carte regalo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"gift_cards_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.list.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.list","description":"Ottenere l\u2019elenco delle carte regalo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_GiftCard_List"}}}}},"parameters":[{"name":"start","description":"Questo parametro imposta il numero da cui si desidera ottenere entit\u00e0","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilizzato per recuperare entit\u00e0 tramite paginazione basata su cursore (non pu\u00f2 essere utilizzato con nessun altro parametro di filtro)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{pagination,result{gift_card{id,code,amount,status}}}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"id,code,name"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.giftcard.add.json":{"post":{"tags":["cart"],"summary":"cart.giftcard.add","description":"Usa questo metodo per creare una carta regalo per un importo specificato.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"}}}}}}}}},"parameters":[{"name":"amount","description":"Definisce il valore della carta regalo.","schema":{"type":"number"},"example":15.5,"in":"query","required":true},{"name":"code","description":"Codice della carta regalo","schema":{"type":"string"},"example":"GFT1 A4S5 AA11 RD61","in":"query","required":false},{"name":"owner_email","description":"Email del proprietario della carta regalo","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_email","description":"Email del destinatario della carta regalo","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_name","description":"Nome del destinatario della carta regalo","schema":{"type":"string"},"example":"John Doe","in":"query","required":false},{"name":"owner_name","description":"Nome del proprietario della carta regalo","schema":{"type":"string"},"example":"John Doe","in":"query","required":false}]}},"/cart.giftcard.delete.json":{"delete":{"tags":["cart"],"summary":"cart.giftcard.delete","description":"Eliminare una carta regalo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID dell'entit\u00e0","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/cart.meta_data.list.json":{"get":{"tags":["cart"],"summary":"cart.meta_data.list","description":"Utilizzando questo metodo, \u00e8 possibile ottenere un elenco di metadati per varie entit\u00e0 (prodotti, opzioni, clienti, ordini). Di solito, questi dati sono creati da plugin di terze parti.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_MetaData_List"}}}}},"parameters":[{"name":"count","description":"Questo parametro imposta la quantit\u00e0 di entit\u00e0 da recuperare. Conteggio massimo consentito = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilizzato per recuperare entit\u00e0 tramite paginazione basata su cursore (non pu\u00f2 essere utilizzato con nessun altro parametro di filtro)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"entity_id","description":"ID entit\u00e0","schema":{"type":"string"},"example":"1","in":"query","required":true},{"name":"entity","description":"Entit\u00e0","schema":{"type":"string","default":"product"},"example":"order","in":"query","required":false},{"name":"store_id","description":"ID del negozio","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID della lingua","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"key","description":"Chiave","schema":{"type":"string"},"example":"subtotal","in":"query","required":false},{"name":"response_fields","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string"},"example":"{result{items{key,value}}}","in":"query","required":false},{"name":"params","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi recuperare","schema":{"type":"string","default":"key,value"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Imposta questo parametro per scegliere quali campi di entit\u00e0 vuoi ignorare. Funziona solo se il parametro `params` \u00e8 uguale a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.meta_data.set.json":{"post":{"tags":["cart"],"summary":"cart.meta_data.set","description":"Impostare i metadati per una specifica entit\u00e0.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{
[...]
