{
      "openapi": "3.1.1",
      "info": {
        "title": "API2Cart OpenAPI",
        "version": "1.1",
        "description": "API2Cart",
        "termsOfService": "https://api2cart.com/terms-service",
        "contact": {
          "email": "contact@api2cart.com"
        }
      },
      "servers": [
        {
          "url": "https://api.api2cart.com/v1.1",
          "description": "API2Cart Production Server"
        }
      ],
      "tags": [
        { "name": "account" },
        { "name": "cart" },
        { "name": "product" },
        { "name": "marketplace" },
        { "name": "category" },
        { "name": "order" },
        { "name": "customer" },
        { "name": "attribute" },
        { "name": "tax" },
        { "name": "webhook" },
        { "name": "batch" }
      ],
      "paths": {"/account.failed_webhooks.json":{"get":{"tags":["account"],"summary":"account.failed_webhooks","description":"Obtener una lista de webhooks perdidos para la resincronizaci\u00f3n.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountFailedWebhooks","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"all_failed_webhook":{"type":"string"},"webhook":{"type":"array","items":{"type":"object","properties":{"webhook_id":{"type":"integer"},"entity_id":{"type":"string"},"time":{"$ref":"#/components/schemas/A2CDateTime"}}}}}}}}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"ids","description":"Lista de IDs de webhooks separados por comas","schema":{"type":"string"},"example":"3,14,25","in":"query","required":false}]}},"/account.supported_platforms.json":{"get":{"tags":["account"],"summary":"account.supported_platforms","description":"Usa este m\u00e9todo para obtener una lista de plataformas compatibles y los conjuntos de par\u00e1metros necesarios para conectarse a cada una de ellas.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountSupportedPlatforms","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_platforms":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"cart_method":{"type":"string"},"params":{"type":"object","properties":{"required":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}},"additional":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}}}}}}}}}}}}}},"parameters":[]}},"/account.cart.list.json":{"get":{"tags":["account"],"summary":"account.cart.list","description":"Este m\u00e9todo permite obtener una lista de tiendas en l\u00ednea conectadas a tu cuenta de API2Cart.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"carts_count":{"type":"integer"},"carts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"store_key":{"type":"string"},"cart_id":{"type":"string"},"total_calls":{"type":"string"}}}}}}}}}}}},"parameters":[{"name":"store_url","description":"Una direcci\u00f3n web de una tienda","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"store_key","description":"Encontrar tienda por clave de tienda","schema":{"type":"string"},"example":"ab37fc230bc5df63a5be1b11220949be","in":"query","required":false},{"name":"request_from_date","description":"Recuperar entidades desde su fecha de creaci\u00f3n","schema":{"type":"string"},"example":"2010-07-29","in":"query","required":false},{"name":"request_to_date","description":"Recuperar entidades hasta su fecha de creaci\u00f3n","schema":{"type":"string"},"example":"2100-08-29","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"force_all"},"example":"url,store_key","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"url,store_key","in":"query","required":false}]}},"/account.cart.add.json":{"post":{"tags":["account"],"summary":"account.cart.add","description":"Usa este m\u00e9todo para automatizar el proceso de conexi\u00f3n de tiendas con API2Cart.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCartAdd"}}}}}},"/account.config.update.json":{"put":{"tags":["account"],"summary":"account.config.update","description":"Usa este m\u00e9todo para automatizar el cambio de credenciales utilizadas para conectar tiendas en l\u00ednea.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AccountConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated_items":{"type":"integer"}}}}}}}}},"parameters":[{"name":"replace_parameters","description":"Identifica si es necesario reemplazar los par\u00e1metros","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"new_store_url","description":"La direcci\u00f3n web de la tienda que desea actualizar para conectarse a API2Cart","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"new_store_key","description":"Actualizar la clave de la tienda","schema":{"type":"string"},"example":"b636495648de3086f6f57b1bd4be548f","in":"query","required":false},{"name":"bridge_url","description":"Este par\u00e1metro permite configurar una tienda con una URL de puente personalizada (tambi\u00e9n debes usar el par\u00e1metro store_root si la carpeta del puente no est\u00e1 en la carpeta ra\u00edz de la tienda)","schema":{"type":"string"},"example":"https://your-store.com/custom/bridge/path/bridge.php","in":"query","required":false},{"name":"store_root","description":"Ruta absoluta al directorio ra\u00edz de la tienda (usado con el par\u00e1metro \"bridge_url\")","schema":{"type":"string"},"example":"/home/www/stores/magento1922","in":"query","required":false},{"name":"db_tables_prefix","description":"Prefijo de las tablas de la base de datos","schema":{"type":"string"},"example":"oc_","in":"query","required":false},{"name":"user_agent","description":"Este par\u00e1metro te permite establecer un agente de usuario personalizado que se utilizar\u00e1 en las solicitudes a la tienda. \u00dasalo con precauci\u00f3n, ya que el firewall de la tienda puede bloquear valores espec\u00edficos.","schema":{"type":"string"},"example":"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0","in":"query","required":false},{"name":"3dcart_private_key","description":"Clave privada de 3DCart","schema":{"type":"string"},"example":"7dba81f90bdbe25e7000e73214ca51b","in":"query","required":false},{"name":"3dcart_access_token","description":"Token de 3DCart","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"3dcartapi_api_key","description":"Clave API de 3DCart","schema":{"type":"string"},"example":"82cc921c6a5c67082cc921c6a5c6707e1d6e6862ba3201a","in":"query","required":false},{"name":"amazon_sp_client_id","description":"ID de cliente de la aplicaci\u00f3n Amazon SP API","schema":{"type":"string"},"example":"amzn1.application-oa2-client.11e000e1f47d4998aca3733716d3b5a4","in":"query","required":false},{"name":"amazon_sp_client_secret","description":"Secreto del cliente de la aplicaci\u00f3n Amazon SP API","schema":{"type":"string"},"example":"2c987428209f235443221255bde064f4bdf8a65165a80f5d22760a83cb","in":"query","required":false},{"name":"amazon_sp_refresh_token","description":"Token de actualizaci\u00f3n OAuth de Amazon SP API","schema":{"type":"string"},"example":"Atzr|IwEBIPUI-bwRTdDgKNQ_g56C30wGqymtx30c9MdDC7Emwmojhs20k5BBG2hHtJiGZ_7OfG7khd1RuQr6KEst4qyWbo_eXi5S_T_VOxzJUuksG1cFOGFpFK-cnhReNzAeZIpZeJT7_ROy1csEFlQfC8FJS3bsbSkkbTz2ZcTN7_7ey0HVlhyfFizgROeSeOI24Wjs9l_KKzZW0jvi_oC2cxlIcyknnHLK6KMNz2rTXqQJWRtlK9xPJDdbcUa5STA8MQru91cxNBpSkZN_cq9OOELhbsIGKD75y7nZ3yJU4uHQC_9iBQQoFm0biKgi-kEQwOhwws8","in":"query","required":false},{"name":"amazon_sp_aws_region","description":"Regi\u00f3n de Amazon AWS","schema":{"type":"string"},"example":"us-east-1","in":"query","required":false},{"name":"amazon_sp_api_environment","description":"Entorno Amazon SP API","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"amazon_seller_id","description":"ID de vendedor de Amazon (token de comerciante)","schema":{"type":"string"},"example":"13P636B2M1N4WR","in":"query","required":false},{"name":"aspdotnetstorefront_api_user","description":"Es una cuenta de AspDotNetStorefront para la cual la API est\u00e1 disponible","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"aspdotnetstorefront_api_pass","description":"Contrase\u00f1a de la API de AspDotNetStorefront","schema":{"type":"string"},"example":"f6471ef78f72b41849a8b8b67791b0b5","in":"query","required":false},{"name":"bigcommerceapi_admin_account","description":"Es una cuenta de BigCommerce para la cual la API est\u00e1 habilitada","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"bigcommerceapi_api_path","description":"URL de la API de BigCommerce","schema":{"type":"string"},"example":"http://mystore.bigcommerce.com/api/v1","in":"query","required":false},{"name":"bigcommerceapi_api_key","description":"Clave API de BigCommerce","schema":{"type":"string"},"example":"6b89704cd75738cb0f9f6468d5462aba","in":"query","required":false},{"name":"bigcommerceapi_client_id","description":"ID de cliente de la aplicaci\u00f3n solicitante","schema":{"type":"string"},"example":"p1r37bt131z86675nofv9xmhietoe4t","in":"query","required":false},{"name":"bigcommerceapi_access_token","description":"Token de acceso que autoriza a la aplicaci\u00f3n a acceder a recursos en nombre de un usuario","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"bigcommerceapi_context","description":"Secci\u00f3n del camino de la API \u00fanica para la tienda","schema":{"type":"string"},"example":"stores/etplnf8o8v","in":"query","required":false},{"name":"bol_api_key","description":"Clave API de Bol","schema":{"type":"string"},"example":"51369628-feee-11ed-be56-0242ac120002","in":"query","required":false},{"name":"bol_api_secret","description":"Secreto de la API de Bol","schema":{"type":"string"},"example":"8fGzEsbEP5z2MNZubmIil87m-sWzTkj?KDQKrmzmU!fA6aAUNMdKRp7LMWHwE!G37UMfnWByHBGSXJHkAG?QcuYTO2uklv4idIHwUMLHK!OO1yfRlWh!","in":"query","required":false},{"name":"bol_retailer_id","description":"ID de minorista de Bol","schema":{"type":"integer"},"example":"145001","in":"query","required":false},{"name":"demandware_client_id","description":"ID de cliente de Demandware","schema":{"type":"string"},"example":"b849eb85-v8b9-1dw8-9fe2-97e1d6ffc7b0","in":"query","required":false},{"name":"demandware_api_password","description":"Contrase\u00f1a de la API de Demandware","schema":{"type":"string"},"example":"testpassword","in":"query","required":false},{"name":"demandware_user_name","description":"Nombre de usuario de Demandware","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"demandware_user_password","description":"Contrase\u00f1a de usuario de Demandware","schema":{"type":"string"},"example":"12345","in":"query","required":false},{"name":"ebay_client_id","description":"ID de aplicaci\u00f3n (AppID).","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"ebay_client_secret","description":"Secreto compartido de la aplicaci\u00f3n de eBay","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_runame","description":"El valor de RuName que eBay asigna a su aplicaci\u00f3n.","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_access_token","description":"Se utiliza para autenticar solicitudes API.","schema":{"type":"string"},"example":"v^1.1#i ... AjRV4yNjA=","in":"query","required":false},{"name":"ebay_refresh_token","description":"Se utiliza para renovar el token de acceso.","schema":{"type":"string"},"example":"v^1.1#i ... rAewqVasdA=","in":"query","required":false},{"name":"ebay_environment","description":"Entorno de eBay","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"ebay_site_id","description":"ID global de eBay","schema":{"type":"integer","default":0},"example":"101","in":"query","required":false},{"name":"ecwid_acess_token","description":"Token de acceso que autoriza a la aplicaci\u00f3n a acceder a recursos en nombre de un usuario","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"ecwid_store_id","description":"ID de la tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lazada_app_id","description":"ID de la aplicaci\u00f3n de Lazada","schema":{"type":"string"},"example":"112577","in":"query","required":false},{"name":"lazada_app_secret","description":"Secreto de la aplicaci\u00f3n de Lazada","schema":{"type":"string"},"example":"er33raICJ79Q5b0EsR9stmRnjE9XQ2WH","in":"query","required":false},{"name":"lazada_refresh_token","description":"Token de actualizaci\u00f3n de Lazada","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"lazada_region","description":"Regi\u00f3n del punto final de la API de Lazada","schema":{"type":"string"},"example":"Malaysia","in":"query","required":false},{"name":"etsy_keystring","description":"Cadena de clave de Etsy","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"etsy_shared_secret","description":"Secreto compartido de Etsy","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"etsy_access_token","description":"Token de acceso que autoriza a la aplicaci\u00f3n a acceder a recursos en nombre de un usuario","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_token_secret","description":"Token secreto que autoriza a la aplicaci\u00f3n a acceder a recursos en nombre de un usuario","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_client_id","description":"ID de cliente de Etsy","schema":{"type":"string"},"example":"w0fi0igk2w29bjcd7ydr2s35","in":"query","required":false},{"name":"etsy_refresh_token","description":"Token de actualizaci\u00f3n de Etsy","schema":{"type":"string"},"example":"223577551.L07_RE-y7unmKf2dox4djsHkVxwpUfs1ikG_uQmHhF-aASEReNn_Qns1Wqn3dDa0ZMxrt9CIael3dgudeDZb31ZUdS","in":"query","required":false},{"name":"facebook_app_id","description":"ID de la aplicaci\u00f3n de Facebook","schema":{"type":"string"},"example":"6516912365277570","in":"query","required":false},{"name":"facebook_app_secret","description":"Secreto de la aplicaci\u00f3n de Facebook","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"facebook_access_token","description":"Token de acceso de Facebook","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUAhqbS58clzJwyp1rYRMpP31QJGziqtYbKypdVx3Cs0RpuufoUeLsbfX195XIB8VTlkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"facebook_business_id","description":"ID de negocio de Facebook","schema":{"type":"string"},"example":"294042786906655","in":"query","required":false},{"name":"neto_api_key","description":"Clave API de Neto","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"neto_api_username","description":"Nombre de usuario de Neto","schema":{"type":"string"},"example":"mylogin","in":"query","required":false},{"name":"shopline_access_token","description":"Clave de APP de Shopline","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopline_app_key","description":"Clave de APP de Shopline","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"shopline_app_secret","description":"Secreto de la aplicaci\u00f3n de Shopline","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopline_shared_secret","description":"Secreto Compartido de Shopline","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopify_access_token","description":"Token de acceso que autoriza a la aplicaci\u00f3n a acceder a recursos en nombre de un usuario","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopify_api_key","description":"Clave API de Shopify","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"shopify_api_password","description":"Contrase\u00f1a de API de Shopify","schema":{"type":"string"},"example":"860f3a6fc87632301a42cd88e4b5ab3d","in":"query","required":false},{"name":"shopify_shared_secret","description":"Secreto compartido","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"shopee_partner_id","description":"ID de socio de Shopee","schema":{"type":"string"},"example":"1276777","in":"query","required":false},{"name":"shopee_partner_key","description":"Clave de socio de Shopee","schema":{"type":"string"},"example":"6a46494b4d746576554646626775617a577542774850636375464d6a736d5598","in":"query","required":false},{"name":"shopee_shop_id","description":"ID de tienda Shopee","schema":{"type":"string"},"example":"137968","in":"query","required":false},{"name":"shopee_refresh_token","description":"Token de actualizaci\u00f3n de Shopee","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU987mVVb5br","in":"query","required":false},{"name":"shopee_region","description":"Regi\u00f3n del punto final de la API de Shopee. Usar para China continental o Brasil.","schema":{"type":"string"},"example":"CN","in":"query","required":false},{"name":"shopee_environment","description":"Entorno Shopee","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"shoplazza_access_token","description":"Token de acceso que autoriza a la aplicaci\u00f3n a acceder a recursos en nombre de un usuario","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shoplazza_shared_secret","description":"Secreto compartido","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"miva_access_token","description":"Token de acceso de Miva","schema":{"type":"string"},"example":"227cbe434a1e358d72db0de993x9d9fd","in":"query","required":false},{"name":"miva_signature","description":"Firma de Miva","schema":{"type":"string"},"example":"1hpkrebfdsObGTor/0Gk9XcNBUQohrxrw67Sg9AM9ps=","in":"query","required":false},{"name":"shopware_access_key","description":"Clave de acceso de Shopware","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_key","description":"Clave API de Shopware","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_secret","description":"Clave de acceso secreta del cliente de Shopware","schema":{"type":"string"},"example":"V3NYNWg2b1dZdHBUWDN1cmdKdGhnenp5enVJYlJ0WlJvOFF2bnQ","in":"query","required":false},{"name":"bigcartel_user_name","description":"Subdominio de la tienda","schema":{"type":"string"},"example":"subdomain","in":"query","required":false},{"name":"bigcartel_password","description":"Contrase\u00f1a de la cuenta BigCartel","schema":{"type":"string"},"example":"4GrrZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"volusion_login","description":"Es una cuenta de Volusion para la cual la API est\u00e1 habilitada","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"volusion_password","description":"Contrase\u00f1a de API de Volusion","schema":{"type":"string"},"example":"7943CA5F3990E00D9A4CCF0BD998211F","in":"query","required":false},{"name":"walmart_client_id","description":"ID de cliente de Walmart. Para la regi\u00f3n 'ca', use el ID de consumidor","schema":{"type":"string"},"example":"423f6A24-123z-8654-989u-6fa96478289","in":"query","required":false},{"name":"walmart_client_secret","description":"Secreto del cliente de Walmart. Para la regi\u00f3n 'ca', use la clave privada","schema":{"type":"string"},"example":"1gf85fea-8974-2648-w12w-rt54284tdf54","in":"query","required":false},{"name":"walmart_environment","description":"Entorno de Walmart","schema":{"type":"string","default":"production"},"example":"production","in":"query","required":false},{"name":"walmart_channel_type","description":"Encabezado WM_CONSUMER.CHANNEL.TYPE de Walmart","schema":{"type":"string"},"example":"0f3e4dd4-0514-4346-b39d-af0e00ea066d","in":"query","required":false},{"name":"walmart_region","description":"Regi\u00f3n de Walmart","schema":{"type":"string","default":"us"},"example":"us","in":"query","required":false},{"name":"square_client_id","description":"ID de cliente de Square (Weebly)","schema":{"type":"string"},"example":"sq0idp-qwer_1pvuTYe9cAf1lmxyQ","in":"query","required":false},{"name":"square_client_secret","description":"Secreto del cliente de Square (Weebly)","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"square_refresh_token","description":"Token de actualizaci\u00f3n de Square (Weebly)","schema":{"type":"string"},"example":"EQAAlquVXMr6xIcPu7qPkIEAZ0thqChhQuowrvZIqOlwhOwhtmyh4ZRfesdRc434","in":"query","required":false},{"name":"squarespace_api_key","description":"Clave API de Squarespace","schema":{"type":"string"},"example":"8f7849d5-1411-47f2-9722-aa81c2a48d95","in":"query","required":false},{"name":"squarespace_client_id","description":"ID de cliente del conector de Squarespace","schema":{"type":"string"},"example":"9UGbUtS2V96BxRGmfOjsGAhTdsr9Vxxx","in":"query","required":false},{"name":"squarespace_client_secret","description":"Secreto del cliente del conector de Squarespace","schema":{"type":"string"},"example":"GPZkUFkIKWg0KLE6rajsFMMYA9ma0udaaq2bYwBDXXX=","in":"query","required":false},{"name":"squarespace_access_token","description":"Token de acceso de Squarespace","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"squarespace_refresh_token","description":"Token de actualizaci\u00f3n de Squarespace","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"hybris_client_id","description":"ID de cliente del conector de Omni Commerce","schema":{"type":"string"},"example":"api_client_1","in":"query","required":false},{"name":"hybris_client_secret","description":"Secreto del cliente del conector de Omni Commerce","schema":{"type":"string"},"example":"secret_phrase_1","in":"query","required":false},{"name":"hybris_username","description":"Nombre de usuario","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"hybris_password","description":"Contrase\u00f1a de usuario","schema":{"type":"string"},"example":"nimda","in":"query","required":false},{"name":"hybris_websites","description":"Datos de mapeo de sitios web a tiendas","schema":{"type":"array","items":{"type":"string"}},"example":"hybris_websites[0][uid]=apparel-website&hybris_websites[0][url]=https://apparel.local/yacceleratorstorefront&hybris_websites[0][storeIds][0]=apparel-de&hybris_websites[0][storeIds][1]=apparel-uk","in":"query","required":false},{"name":"lightspeed_api_key","description":"Clave API de LightSpeed","schema":{"type":"string"},"example":"cf5444729c2abd6b6a5d983691767cb5","in":"query","required":false},{"name":"lightspeed_api_secret","description":"Secreto de la API de LightSpeed","schema":{"type":"string"},"example":"2620ee52a8bc942f9d5d3a575f4d363e","in":"query","required":false},{"name":"commercehq_api_key","description":"Clave API de CommerceHQ","schema":{"type":"string"},"example":"sJrD-LM0eddhe63rfgfva0dDydXfre4","in":"query","required":false},{"name":"commercehq_api_password","description":"Contrase\u00f1a de la API de CommerceHQ","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"wc_consumer_key","description":"Clave de consumidor de Woocommerce","schema":{"type":"string"},"example":"ck_26d8e2ad604f3917e429df6961722282bdcf109d","in":"query","required":false},{"name":"wc_consumer_secret","description":"Secreto de consumidor de Woocommerce","schema":{"type":"string"},"example":"cs_931ced666118a15c5f7b4a33a15gf5589cbeba55","in":"query","required":false},{"name":"magento_consumer_key","description":"Clave de consumidor de Magento","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"magento_consumer_secret","description":"Secreto de consumidor de Magento","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"magento_access_token","description":"Token de acceso de Magento","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"magento_token_secret","description":"Secreto del token de Magento","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"prestashop_webservice_key","description":"Clave del servicio web de Prestashop","schema":{"type":"string"},"example":"CKJ1ZEWRJWRLTPVBQJ9FGGRORD4AGS96","in":"query","required":false},{"name":"wix_app_id","description":"ID de aplicaci\u00f3n Wix","schema":{"type":"string"},"example":"6b0b5b7b-7d87-45b5-bf34-ac6b438e63da","in":"query","required":false},{"name":"wix_app_secret_key","description":"Clave secreta de la aplicaci\u00f3n Wix","schema":{"type":"string"},"example":"316c0a09-f195-42be-74f6-a02cebb9cae6","in":"query","required":false},{"name":"wix_instance_id","description":"ID de instancia de Wix","schema":{"type":"string"},"example":"58b893a4-6b16-5c2f-qt78-qa3r61t32rt8","in":"query","required":false},{"name":"wix_refresh_token","description":"Token de actualizaci\u00f3n de Wix","schema":{"type":"string"},"example":"\n        OAUTH2.eyJraWQiOiJkZ0x3cjNRMCIsImFsZyI6IkhTMjU2In0.\n        eyJkYXRhIjoie1wiaWRcIjpcImJlZjM3MmRmLTUyNGItNDI3NS05M2RkL\n        Tg4NDBlOTU3ZWU2OFwifSIsImlhdCI6MTY0ODA0NTEyNiwiZXhwIjoxNzExMTE3MTI2fQ.\n        VRR2lGSbcTVmaArtmyyhy6o4WRDwTn-nlDCQpZ97eYw\n      ","in":"query","required":false},{"name":"mercado_libre_app_id","description":"ID de aplicaci\u00f3n de Mercado Libre","schema":{"type":"string"},"example":"211188015100135","in":"query","required":false},{"name":"mercado_libre_app_secret_key","description":"Clave secreta de la aplicaci\u00f3n Mercado Libre","schema":{"type":"string"},"example":"e2qoG2zklLlfP7cEngEJ94YjhkejkjAm","in":"query","required":false},{"name":"mercado_libre_refresh_token","description":"Token de actualizaci\u00f3n de Mercado Libre","schema":{"type":"string"},"example":"TG-63h13529vb5464110188d2x9-703754376","in":"query","required":false},{"name":"zid_client_id","description":"ID de cliente de Zid","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"zid_client_secret","description":"Secreto del cliente de Zid","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"zid_access_token","description":"Token de acceso de Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_authorization","description":"Autorizaci\u00f3n de Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_refresh_token","description":"Token de actualizaci\u00f3n de Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"flipkart_client_id","description":"ID de cliente de Flipkart","schema":{"type":"string"},"example":"19414773883a13a850b6a52350b7246499a24","in":"query","required":false},{"name":"flipkart_client_secret","description":"Secreto del cliente de Flipkart","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"allegro_client_id","description":"ID de cliente de Allegro","schema":{"type":"string"},"example":"2915e189ce3d23d23d2327d204ae6a0bd","in":"query","required":false},{"name":"allegro_client_secret","description":"Secreto del cliente de Allegro","schema":{"type":"string"},"example":"DNHtqdL2WPIefeUhQWYgtXPS23fgbfgasdsGHHJGhg3RTFDQWFGZmVoFRT5IfkQj1E7eR5","in":"query","required":false},{"name":"allegro_access_token","description":"Token de acceso de Allegro","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_refresh_token","description":"Token de actualizaci\u00f3n de Allegro","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_environment","description":"Entorno de Allegro","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"zoho_client_id","description":"ID de cliente de Zoho","schema":{"type":"string"},"example":"1000.FLCHGI2LS1111111TOR4OGB697W4IX","in":"query","required":false},{"name":"zoho_client_secret","description":"Secreto del cliente de Zoho","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"zoho_refresh_token","description":"Token de actualizaci\u00f3n de Zoho","schema":{"type":"string"},"example":"1000.11111111111111111111111111111111.1b3ca6f054341a111118abf928beb33b","in":"query","required":false},{"name":"zoho_region","description":"Regi\u00f3n del endpoint de la API de Zoho","schema":{"type":"string"},"example":"Europe","in":"query","required":false},{"name":"tiendanube_user_id","description":"ID de usuario de Tiendanube","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"tiendanube_access_token","description":"Token de acceso de Tiendanube","schema":{"type":"string"},"example":"75bde7bb0b437475423e7e87c142c06052f80199","in":"query","required":false},{"name":"tiendanube_client_secret","description":"Secreto del cliente de Tiendanube","schema":{"type":"string"},"example":"5e3588f514a5ae0d0fa063d1b556531e25c83fa7e47472ed","in":"query","required":false},{"name":"otto_client_id","description":"ID de cliente de Otto","schema":{"type":"string"},"example":"911a3dbf-d261-4763-cc81-052876465b55","in":"query","required":false},{"name":"otto_client_secret","description":"Secreto del cliente de Otto","schema":{"type":"string"},"example":"9887a82a-2879-421e-a6wc-54e986b3458c","in":"query","required":false},{"name":"otto_app_id","description":"ID de aplicaci\u00f3n de Otto","schema":{"type":"string"},"example":"6eaef6a3-822e-425b-8mc9-53750063e34d","in":"query","required":false},{"name":"otto_refresh_token","description":"Token de actualizaci\u00f3n de Otto","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"otto_environment","description":"Entorno de Otto","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"otto_access_token","description":"Token de acceso de Otto","schema":{"type":"string"},"example":"eyJhbGciOiJS34535f45f54f5656deyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"tiktokshop_app_key","description":"Clave de aplicaci\u00f3n de TikTok Shop","schema":{"type":"string"},"example":"6arbhkzno8nbv","in":"query","required":false},{"name":"tiktokshop_app_secret","description":"Secreto de aplicaci\u00f3n de TikTok Shop","schema":{"type":"string"},"example":"d95820a05a0cd54fb394fcd26fgat63999b183bc","in":"query","required":false},{"name":"tiktokshop_refresh_token","description":"Token de actualizaci\u00f3n de TikTok Shop","schema":{"type":"string"},"example":"TTP_NTUxZTNhYTQ2ZDk2YmRmZWNmYWY2YWY12345NGYwNjQ3YjkzYTllYjA0YmNlMw","in":"query","required":false},{"name":"tiktokshop_access_token","description":"Token de acceso de TikTok Shop","schema":{"type":"string"},"example":"TTP_Fw8r12345kW03FYd09DG-9INtpw361hWthei12345iPJ5AUv99fLSCYD9-Uu12345TgNRzKZxi5-tfFMtdWqglEt5_iCk","in":"query","required":false},{"name":"salla_client_id","description":"ID de cliente de Salla","schema":{"type":"string"},"example":"1bxxxcf9-5xx4-xxx-bxxf-929b8xxxxe11","in":"query","required":false},{"name":"salla_client_secret","description":"Secreto del cliente de Salla","schema":{"type":"string"},"example":"8x88axxxc25e1fxxxa1c06fxxx150xx5","in":"query","required":false},{"name":"salla_refresh_token","description":"Token de actualizaci\u00f3n de Salla","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"salla_access_token","description":"Token de acceso de Salla","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"temu_app_key","description":"Clave de aplicaci\u00f3n de Temu","schema":{"type":"string"},"example":"4ebbc9190ae410443d65b4c2faca9811","in":"query","required":false},{"name":"temu_app_secret","description":"Secreto de la aplicaci\u00f3n Temu","schema":{"type":"string"},"example":"4782d2d827276688bf4758bed55dbdd4bbe79a78","in":"query","required":false},{"name":"temu_access_token","description":"Token de acceso de Temu","schema":{"type":"string"},"example":"uplv3hfyt5kcwoymrgnajnbl1ow5qxlz4sqhev6hl3xosz5dejrtyl2jre6","in":"query","required":false},{"name":"temu_region","description":"Regi\u00f3n del endpoint de la API de Temu.","schema":{"type":"string"},"example":"US","in":"query","required":false}]}},"/attribute.info.json":{"get":{"tags":["attribute"],"summary":"attribute.info","description":"Obtener informaci\u00f3n sobre un atributo global espec\u00edfico por su ID.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/StoreAttribute"}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"force_all"},"example":"force_all","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"name","in":"query","required":false}]}},"/attribute.count.json":{"get":{"tags":["attribute"],"summary":"attribute.count","description":"Obtener el n\u00famero de atributos.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attributes_count":{"type":"integer"}}}}}}}}},"parameters":[{"name":"type","description":"Define el tipo de atributo","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"attribute_set_id","description":"Filtrar elementos por ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Filtrar elementos por estado de visibilidad","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Define si la opci\u00f3n es obligatoria","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Verdadero si el atributo es de sistema","schema":{"type":"boolean"},"example":false,"in":"query","required":false}]}},"/attribute.list.json":{"get":{"tags":["attribute"],"summary":"attribute.list","description":"Obtener una lista de atributos globales.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_List"}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_ids","description":"Filtrar atributos por identificadores","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"attribute_set_id","description":"Filtrar elementos por ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"Recupera atributos por ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"type","description":"Define el tipo de atributo","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"visible","description":"Filtrar elementos por estado de visibilidad","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"Define si la opci\u00f3n es obligatoria","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Verdadero si el atributo es de sistema","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{return_code,return_message,pagination,result}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"id,name,code,type"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.add.json":{"post":{"tags":["attribute"],"summary":"attribute.add","description":"A\u00f1adir un nuevo atributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"type","description":"Define el tipo de atributo","schema":{"type":"string","enum":["text","select","textarea","date","price","multiselect","boolean"]},"example":"text","in":"query","required":true},{"name":"name","description":"Define el nombre del atributo","schema":{"type":"string"},"example":"Specification","in":"query","required":true},{"name":"code","description":"C\u00f3digo de entidad","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Establecer estado de visibilidad","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"required","description":"Define si la opci\u00f3n es obligatoria","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"position","description":"Posici\u00f3n del atributo","schema":{"type":"integer","default":0},"example":5,"in":"query","required":false},{"name":"attribute_group_id","description":"Filtrar por ID de grupo de atributos","schema":{"type":"string"},"example":"202","in":"query","required":false},{"name":"is_global","description":"\u00c1mbito de almacenamiento de atributos","schema":{"type":"string","default":"Store"},"example":"Global","in":"query","required":false},{"name":"is_searchable","description":"Usar atributo en b\u00fasqueda r\u00e1pida","schema":{"type":"boolean","default":false},"example":false,"in":"query","required":false},{"name":"is_filterable","description":"Usar en la navegaci\u00f3n filtrada","schema":{"type":"string","default":"No"},"example":"No","in":"query","required":false},{"name":"is_comparable","description":"Comparable en el Frontend","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_html_allowed_on_front","description":"Permitir etiquetas HTML en el Frontend","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_filterable_in_search","description":"Usar en la navegaci\u00f3n filtrada de los resultados de b\u00fasqueda","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_configurable","description":"Usar para crear un producto configurable","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_visible_in_advanced_search","description":"Usar en la b\u00fasqueda avanzada","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_used_for_promo_rules","description":"Usar para condiciones de reglas promocionales","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_in_product_listing","description":"Usado en la lista de productos","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_for_sort_by","description":"Usado para ordenar en la lista de productos","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"apply_to","description":"Tipos de productos que pueden tener este atributo","schema":{"type":"string","default":"all_types"},"example":"Global","in":"query","required":false}]}},"/attribute.update.json":{"put":{"tags":["attribute"],"summary":"attribute.update","description":"Actualizar los datos del atributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"name","description":"Define el nuevo nombre del atributo","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.delete","description":"Eliminar un atributo de la tienda.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/attribute.assign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.group","description":"Asignar atributo al grupo","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID de grupo de atributos","schema":{"type":"string"},"example":3,"in":"query","required":true},{"name":"attribute_set_id","description":"ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":false}]}},"/attribute.assign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.set","description":"Asignar atributo al conjunto de atributos","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID de grupo de atributos","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"attribute_set_id","description":"ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.attributeset.list.json":{"get":{"tags":["attribute"],"summary":"attribute.attributeset.list","description":"Obtener la lista de conjuntos de atributos","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAttributesetList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Attributeset_List"}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.group.list.json":{"get":{"tags":["attribute"],"summary":"attribute.group.list","description":"Obtener la lista de grupos de atributos","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeGroupList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Group_List"}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_set_id","description":"ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.type.list.json":{"get":{"tags":["attribute"],"summary":"attribute.type.list","description":"Obtener una lista de tipos de atributos compatibles.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeTypeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attribute_type":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/attribute.unassign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.group","description":"Desasignar atributo del grupo","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID de grupo de clientes","schema":{"type":"string"},"example":3,"in":"query","required":true}]}},"/attribute.unassign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.set","description":"Desasignar atributo del conjunto de atributos","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"ID de conjunto de atributos","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.value.add.json":{"post":{"tags":["attribute"],"summary":"attribute.value.add","description":"A\u00f1adir un nuevo valor al atributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"attribute_id","description":"ID de atributo","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Define el nombre del valor del atributo","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"code","description":"C\u00f3digo de entidad","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"description","description":"Define la descripci\u00f3n del valor del atributo","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.update.json":{"put":{"tags":["attribute"],"summary":"attribute.value.update","description":"Actualizar el valor del atributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"Define el ID del valor del atributo","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"ID de atributo","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"Define el nombre del valor del atributo","schema":{"type":"string"},"example":"Test name","in":"query","required":false},{"name":"description","description":"Define la nueva descripci\u00f3n del valor del atributo","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"code","description":"C\u00f3digo de entidad","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.value.delete","description":"Eliminar el valor del atributo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"ID de atributo","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.info.json":{"get":{"tags":["basket"],"summary":"basket.info","description":"Obtener informaci\u00f3n del carrito.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Basket"}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"force_all"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/basket.item.add.json":{"post":{"tags":["basket"],"summary":"basket.item.add","description":"Agregar art\u00edculo al carrito.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketItemAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"added":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"customer_id","description":"Recupera pedidos especificados por el ID del cliente","schema":{"type":"string"},"example":"5","in":"query","required":true},{"name":"product_id","description":"Define el ID del producto que debe agregarse al carrito","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"variant_id","description":"Define las variantes del producto especificadas por el ID de variante","schema":{"type":"string"},"example":45,"in":"query","required":false},{"name":"quantity","description":"Define la cantidad de nuevos art\u00edculos","schema":{"type":"number","default":0},"example":6,"in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.list.json":{"get":{"tags":["basket"],"summary":"basket.live_shipping_service.list","description":"Obtener la lista de servicios de tarifas de env\u00edo en vivo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"live_shipping_services":{"type":"array","items":{"$ref":"#/components/schemas/Basket_LiveShippingService"}}}}}}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.create.json":{"post":{"tags":["basket"],"summary":"basket.live_shipping_service.create","description":"Crear un servicio de tarifas de env\u00edo en vivo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"parameters":[{"name":"name","description":"Nombre del servicio de env\u00edo","schema":{"type":"string"},"example":"BestDelivery","in":"query","required":true},{"name":"callback","description":"URL de devoluci\u00f3n de llamada que devuelve las tarifas de env\u00edo","schema":{"type":"string"},"example":"https://example.com/callback","in":"query","required":true},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.delete.json":{"delete":{"tags":["basket"],"summary":"basket.live_shipping_service.delete","description":"Eliminar el servicio de tarifas de env\u00edo en vivo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID de entidad","schema":{"type":"integer"},"example":5,"in":"query","required":true}]}},"/batch.job.list.json":{"get":{"tags":["batch"],"summary":"batch.job.list","description":"Obtener la lista de trabajos recientes","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Batch_Job_List"}}}}},"parameters":[{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Se utiliza para recuperar entidades mediante paginaci\u00f3n basada en cursor (no se puede usar con ning\u00fan otro par\u00e1metro de filtrado)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Filtra trabajos por lotes por IDs","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"created_from","description":"Recuperar entidades desde su fecha de creaci\u00f3n","schema":{"type":"string"},"example":"2010-07-29 13:45:52","in":"query","required":false},{"name":"created_to","description":"Recuperar entidades hasta su fecha de creaci\u00f3n","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_from","description":"Recuperar entidades seg\u00fan su fecha y hora de procesamiento","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_to","description":"Recuperar entidades seg\u00fan su fecha y hora de procesamiento","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"{return_code,return_message,pagination,result}"},"example":"{result}","in":"query","required":false}]}},"/batch.job.result.json":{"get":{"tags":["batch"],"summary":"batch.job.result","description":"Obtener los datos del resultado del trabajo","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobResult","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_Batch_Job_Result"}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/bridge.download.file":{"get":{"tags":["bridge"],"summary":"bridge.download","description":"Descargar el bridge para la tienda.</br>Ten en cuenta que este m\u00e9todo no funcionar\u00e1 si lo llamas desde Swagger UI.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDownload","responses":{"200":{"description":"successful operation","content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}}},"parameters":[{"name":"whitelabel","description":"Identifica si es necesario descargar el puente de marca blanca.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/bridge.update.json":{"post":{"tags":["bridge"],"summary":"bridge.update","description":"Actualizar el bridge en la tienda.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/bridge.delete.json":{"post":{"tags":["bridge"],"summary":"bridge.delete","description":"Eliminar el bridge de la tienda.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/cart.info.json":{"get":{"tags":["cart"],"summary":"cart.info","description":"Este m\u00e9todo permite obtener diversa informaci\u00f3n sobre la tienda, incluyendo una lista de tiendas (en caso de configuraci\u00f3n multitienda), una lista de idiomas compatibles, monedas, transportistas, almacenes y muchas otras informaciones. Estos datos son relativamente estables y cambian rara vez, por lo que API2Cart puede almacenar en cach\u00e9 ciertos datos para reducir la carga en la tienda y acelerar la ejecuci\u00f3n de la solicitud. Tambi\u00e9n recomendamos que almacene en cach\u00e9 la respuesta de este m\u00e9todo en su sistema para reducir las solicitudes. Si necesita limpiar la cach\u00e9 de una tienda espec\u00edfica, use el m\u00e9todo cart.validate.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Cart"}}}}}}},"parameters":[{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result{name,url,stores_info{store_id,name,currency{id,iso3},store_owner_info}}}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"name,url","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"name,url","in":"query","required":false}]}},"/cart.validate.json":{"get":{"tags":["cart"],"summary":"cart.validate","description":"Este m\u00e9todo borra la cach\u00e9 en API2Cart para una tienda espec\u00edfica y verifica si la conexi\u00f3n con la tienda est\u00e1 disponible. Use este m\u00e9todo si ha habido cambios en la configuraci\u00f3n de la tienda, por ejemplo, si se ha instalado o eliminado un nuevo complemento.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartValidate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"parameters":[{"name":"validate_version","description":"Especifica si API2Cart debe validar la versi\u00f3n del carrito","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.list.json":{"get":{"tags":["cart"],"summary":"cart.list","description":"Obtener la lista de carros de compra compatibles.","security":[{"ApiKeyAuth":[]}],"operationId":"CartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_carts":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"params":{"type":"array","items":{"type":"string"}}}}}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.bridge.json":{"get":{"tags":["cart"],"summary":"cart.bridge","description":"Obtener clave de puente y clave de tienda.","security":[{"ApiKeyAuth":[]}],"operationId":"CartBridge","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"},"bridge":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.disconnect.json":{"get":{"tags":["cart"],"summary":"cart.disconnect","description":"Desconectar de la tienda y borrar los datos de sesi\u00f3n.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDisconnect","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"connection":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"delete_bridge","description":"Identifica si es necesario eliminar el puente","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.methods.json":{"get":{"tags":["cart"],"summary":"cart.methods","description":"Devuelve una lista de m\u00e9todos API compatibles.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMethods","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"method":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/cart.config.json":{"get":{"tags":["cart"],"summary":"cart.config","description":"Obtener la lista de configuraciones del carrito.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfig","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_name":{"type":"string"},"store_url":{"type":"string"},"db_prefix":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"store_name,store_url,db_prefix","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"store_name,store_url,db_prefix","in":"query","required":false}]}},"/cart.clear_cache.json":{"post":{"tags":["cart"],"summary":"cart.clear_cache","description":"Limpiar cach\u00e9 en la tienda.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartClearCache","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"cache_cleared":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"cache_type","description":"Define qu\u00e9 cach\u00e9 debe borrarse.","schema":{"type":"string"},"example":"storage_cache","in":"query","required":true}]}},"/cart.create.json":{"post":{"tags":["cart"],"summary":"cart.create","description":"A\u00f1adir tienda a la cuenta.","security":[{"ApiKeyAuth":[]}],"operationId":"CartCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCreate"}}}}}},"/cart.delete.json":{"delete":{"tags":["cart"],"summary":"cart.delete","description":"Eliminar tienda de API2Cart.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store":{"type":"string"}}}}}}}}},"parameters":[{"name":"delete_bridge","description":"Identifica si es necesario eliminar el puente","schema":{"type":"boolean","default":true},"example":true,"in":"query","required":false}]}},"/cart.catalog_price_rules.count.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.count","description":"Obtener el n\u00famero de descuentos de reglas de precios del cat\u00e1logo del carrito.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"catalog_price_rules_count":{"type":"string"}}}}}}}}},"parameters":[]}},"/cart.catalog_price_rules.list.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.list","description":"Obtener descuentos de reglas de precios del cat\u00e1logo del carrito.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List"}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Se utiliza para recuperar entidades mediante paginaci\u00f3n basada en cursor (no se puede usar con ning\u00fan otro par\u00e1metro de filtrado)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Recupera reglas de precios del cat\u00e1logo por IDs","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result{catalog_price_rules_count,catalog_price_rules{id,type,name,avail,usage_count,actions,conditions}}}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"id,name,description"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.config.update.json":{"put":{"tags":["cart"],"summary":"cart.config.update","description":"Use este m\u00e9todo API para actualizar datos personalizados en la base de datos del cliente.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object"}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartConfigUpdate"}}}}}},"/cart.coupon.count.json":{"get":{"tags":["cart"],"summary":"cart.coupon.count","description":"Este m\u00e9todo permite obtener el n\u00famero de cupones. En algunas plataformas, se pueden filtrar por la fecha en que estuvieron activos.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupons_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"avail","description":"Define el estado de visibilidad de la categor\u00eda","schema":{"type":"boolean","default":true},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Filtrar entidad por date_start (mayor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filtrar entidad por date_start (menor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filtrar entidad por date_end (mayor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filtrar entidad por date_end (menor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false}]}},"/cart.coupon.list.json":{"get":{"tags":["cart"],"summary":"cart.coupon.list","description":"Obtener descuentos de cupones del carrito.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Coupon_List"}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Se utiliza para recuperar entidades mediante paginaci\u00f3n basada en cursor (no se puede usar con ning\u00fan otro par\u00e1metro de filtrado)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"coupons_ids","description":"Filtrar cupones por identificaciones","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"store_id","description":"Filtra cupones por ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"avail","description":"Filtrar cupones por estado de disponibilidad","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Filtrar entidad por date_start (mayor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filtrar entidad por date_start (menor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filtrar entidad por date_end (mayor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filtrar entidad por date_end (menor o igual)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{pagination,result{coupon_count,coupon{id,code,name,conditions,actions{scope,amount,conditions{id,value,sub-conditions}},date_start,avail}}}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"id,code,name,description"},"example":"id,code,type,amount","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":"usage_history,type","in":"query","required":false}]}},"/cart.coupon.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.add","description":"Use este m\u00e9todo para crear un cup\u00f3n con condiciones espec\u00edficas.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupon_id":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCouponAdd"}}}}}},"/cart.coupon.delete.json":{"delete":{"tags":["cart"],"summary":"cart.coupon.delete","description":"Eliminar cup\u00f3n.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.coupon.condition.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.condition.add","description":"Use este m\u00e9todo para agregar condiciones adicionales para la aplicaci\u00f3n del cup\u00f3n.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponConditionAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"coupon_id","description":"ID del cup\u00f3n","schema":{"type":"string"},"example":"45845","in":"query","required":true},{"name":"entity","description":"Define el tipo de entidad de la condici\u00f3n","schema":{"type":"string","enum":["order","order_shipping_address","product","customer"]},"example":"order","in":"query","required":true},{"name":"key","description":"Define la clave de atributo de la entidad de condici\u00f3n","schema":{"type":"string","enum":["total","subtotal","shipping_total","total_quantity","total_weight","country","product_id","variant_id","category_id","customer_id","item_price","item_total_price","item_quantity","carrier_id"]},"example":"subtotal","in":"query","required":true},{"name":"operator","description":"Define el operador de condici\u00f3n","schema":{"type":"string"},"example":"==","in":"query","required":true},{"name":"value","description":"Define el valor de la condici\u00f3n, puede estar separado por comas seg\u00fan el operador.","schema":{"type":"string"},"example":"2","in":"query","required":true},{"name":"target","description":"Define el operador de condici\u00f3n","schema":{"type":"string","default":"coupon_prerequisite"},"example":"coupon_action","in":"query","required":false},{"name":"include_tax","description":"Indica si se aplica un descuento para impuestos.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"include_shipping","description":"Indica si se aplica un descuento para el env\u00edo.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.count.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.count","description":"Obtener el n\u00famero de tarjetas de regalo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"gift_cards_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.list.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.list","description":"Obtener la lista de tarjetas de regalo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_GiftCard_List"}}}}},"parameters":[{"name":"start","description":"Este par\u00e1metro establece el n\u00famero desde el cual desea obtener entidades","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Se utiliza para recuperar entidades mediante paginaci\u00f3n basada en cursor (no se puede usar con ning\u00fan otro par\u00e1metro de filtrado)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{pagination,result{gift_card{id,code,amount,status}}}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"id,code,name"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.giftcard.add.json":{"post":{"tags":["cart"],"summary":"cart.giftcard.add","description":"Use este m\u00e9todo para crear una tarjeta de regalo por un monto especificado.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"}}}}}}}}},"parameters":[{"name":"amount","description":"Define el valor de la tarjeta de regalo.","schema":{"type":"number"},"example":15.5,"in":"query","required":true},{"name":"code","description":"C\u00f3digo de tarjeta de regalo","schema":{"type":"string"},"example":"GFT1 A4S5 AA11 RD61","in":"query","required":false},{"name":"owner_email","description":"Correo electr\u00f3nico del propietario de la tarjeta de regalo","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_email","description":"Correo electr\u00f3nico del destinatario de la tarjeta de regalo","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_name","description":"Nombre del destinatario de la tarjeta de regalo","schema":{"type":"string"},"example":"John Doe","in":"query","required":false},{"name":"owner_name","description":"Nombre del propietario de la tarjeta de regalo","schema":{"type":"string"},"example":"John Doe","in":"query","required":false}]}},"/cart.giftcard.delete.json":{"delete":{"tags":["cart"],"summary":"cart.giftcard.delete","description":"Eliminar tarjeta de regalo.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de la entidad","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/cart.meta_data.list.json":{"get":{"tags":["cart"],"summary":"cart.meta_data.list","description":"Usando este m\u00e9todo, puedes obtener una lista de metadatos para varias entidades (productos, opciones, clientes, pedidos). Generalmente, estos datos son creados por complementos de terceros.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_MetaData_List"}}}}},"parameters":[{"name":"count","description":"Este par\u00e1metro establece la cantidad de entidades que se deben recuperar. Cantidad m\u00e1xima permitida = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Se utiliza para recuperar entidades mediante paginaci\u00f3n basada en cursor (no se puede usar con ning\u00fan otro par\u00e1metro de filtrado)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"entity_id","description":"ID de entidad","schema":{"type":"string"},"example":"1","in":"query","required":true},{"name":"entity","description":"Entidad","schema":{"type":"string","default":"product"},"example":"order","in":"query","required":false},{"name":"store_id","description":"ID de tienda","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de idioma","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"key","description":"Clave","schema":{"type":"string"},"example":"subtotal","in":"query","required":false},{"name":"response_fields","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string"},"example":"{result{items{key,value}}}","in":"query","required":false},{"name":"params","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea recuperar","schema":{"type":"string","default":"key,value"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"Establezca este par\u00e1metro para elegir qu\u00e9 campos de entidad desea ignorar. Funciona solo si el par\u00e1metro `params` es igual a force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.meta_data.set.json":{"post":{"tags":["cart"],"summary":"cart.meta_data.set","description":"Establecer metadatos para una entidad espec\u00edfica.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMetaDataSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"entity_id","description":"ID de entidad","schema":{"type":"string"},"example":"1","in":"query","required":true},{"name":"key","description":"Clave","schema":{"type":"string"},"example":"subtotal","in":"query","required":true},{"name":"value","description":"Valor","schema":{"type":"string"},"example":"2","in":"query","req
[...]
