{
      "openapi": "3.1.1",
      "info": {
        "title": "API2Cart OpenAPI",
        "version": "1.1",
        "description": "API2Cart",
        "termsOfService": "https://api2cart.com/terms-service",
        "contact": {
          "email": "contact@api2cart.com"
        }
      },
      "servers": [
        {
          "url": "https://api.api2cart.com/v1.1",
          "description": "API2Cart Production Server"
        }
      ],
      "tags": [
        { "name": "account" },
        { "name": "cart" },
        { "name": "product" },
        { "name": "marketplace" },
        { "name": "category" },
        { "name": "order" },
        { "name": "customer" },
        { "name": "attribute" },
        { "name": "tax" },
        { "name": "webhook" },
        { "name": "batch" }
      ],
      "paths": {"/account.failed_webhooks.json":{"get":{"tags":["account"],"summary":"account.failed_webhooks","description":"Si l\u2019URL de rappel de votre service n\u2019a pas pu accepter les webhooks d\u2019API2Cart pour une raison quelconque, vous pouvez utiliser cette m\u00e9thode pour obtenir la liste des webhooks manqu\u00e9s et effectuer \u00e0 nouveau la synchronisation \u00e0 l\u2019aide de l\u2019entity_id. Veuillez noter que ces enregistrements sont conserv\u00e9s pendant 24 heures.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountFailedWebhooks","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"all_failed_webhook":{"type":"string"},"webhook":{"type":"array","items":{"type":"object","properties":{"webhook_id":{"type":"integer"},"entity_id":{"type":"string"},"time":{"$ref":"#/components/schemas/A2CDateTime"}}}}}}}}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"ids","description":"Liste des ID de webhooks s\u00e9par\u00e9s par des virgules","schema":{"type":"string"},"example":"3,14,25","in":"query","required":false}]}},"/account.supported_platforms.json":{"get":{"tags":["account"],"summary":"account.supported_platforms","description":"Utilisez cette m\u00e9thode pour obtenir la liste des plateformes prises en charge et les ensembles de param\u00e8tres requis pour se connecter \u00e0 chacune d\u2019elles. Remarque : certaines plateformes peuvent avoir plusieurs m\u00e9thodes de connexion, la r\u00e9ponse contiendra donc plusieurs ensembles de param\u00e8tres.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountSupportedPlatforms","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_platforms":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"cart_method":{"type":"string"},"params":{"type":"object","properties":{"required":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}},"additional":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}}}}}}}}}}}}}}}},"parameters":[]}},"/account.cart.list.json":{"get":{"tags":["account"],"summary":"account.cart.list","description":"Cette m\u00e9thode vous permet d\u2019obtenir une liste des boutiques en ligne connect\u00e9es \u00e0 votre compte API2Cart.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"carts_count":{"type":"integer"},"carts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"store_key":{"type":"string"},"cart_id":{"type":"string"},"total_calls":{"type":"string"}}}}}}}}}}}},"parameters":[{"name":"store_url","description":"Une adresse web d'une boutique","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"store_key","description":"Trouver une boutique par cl\u00e9 de boutique","schema":{"type":"string"},"example":"ab37fc230bc5df63a5be1b11220949be","in":"query","required":false},{"name":"request_from_date","description":"R\u00e9cup\u00e9rer les entit\u00e9s \u00e0 partir de leur date de cr\u00e9ation","schema":{"type":"string"},"example":"2010-07-29","in":"query","required":false},{"name":"request_to_date","description":"R\u00e9cup\u00e9rer les entit\u00e9s jusqu'\u00e0 leur date de cr\u00e9ation","schema":{"type":"string"},"example":"2100-08-29","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"force_all"},"example":"url,store_key","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"url,store_key","in":"query","required":false}]}},"/account.cart.add.json":{"post":{"tags":["account"],"summary":"account.cart.add","description":"Utilisez cette m\u00e9thode pour automatiser le processus de connexion des magasins \u00e0 API2Cart.","security":[{"ApiKeyAuth":[]}],"operationId":"AccountCartAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCartAdd"}}}}}},"/account.config.update.json":{"put":{"tags":["account"],"summary":"account.config.update","description":"Utilisez cette m\u00e9thode pour automatiser la modification des informations d\u2019identification utilis\u00e9es pour connecter les magasins en ligne.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AccountConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated_items":{"type":"integer"}}}}}}}}},"parameters":[{"name":"replace_parameters","description":"Identifie s'il est n\u00e9cessaire de remplacer les param\u00e8tres","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"new_store_url","description":"L'adresse Web du magasin que vous souhaitez mettre \u00e0 jour pour le connecter \u00e0 API2Cart","schema":{"type":"string"},"example":"http://mystore.com","in":"query","required":false},{"name":"new_store_key","description":"Mettre \u00e0 jour la cl\u00e9 du magasin","schema":{"type":"string"},"example":"b636495648de3086f6f57b1bd4be548f","in":"query","required":false},{"name":"bridge_url","description":"Ce param\u00e8tre permet de configurer une boutique avec une URL de bridge personnalis\u00e9e (vous devez \u00e9galement utiliser le param\u00e8tre store_root si le dossier du bridge ne se trouve pas dans le dossier racine de la boutique)","schema":{"type":"string"},"example":"https://your-store.com/custom/bridge/path/bridge.php","in":"query","required":false},{"name":"store_root","description":"Chemin absolu vers le r\u00e9pertoire racine de la boutique (utilis\u00e9 avec le param\u00e8tre \"bridge_url\")","schema":{"type":"string"},"example":"/home/www/stores/magento1922","in":"query","required":false},{"name":"db_tables_prefix","description":"Pr\u00e9fixe des tables de la base de donn\u00e9es","schema":{"type":"string"},"example":"oc_","in":"query","required":false},{"name":"user_agent","description":"Ce param\u00e8tre vous permet de d\u00e9finir un agent utilisateur personnalis\u00e9 qui sera utilis\u00e9 dans les requ\u00eates vers la boutique. Veuillez l'utiliser avec prudence, car le pare-feu de la boutique peut bloquer certaines valeurs.","schema":{"type":"string"},"example":"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0","in":"query","required":false},{"name":"3dcart_private_key","description":"Cl\u00e9 priv\u00e9e de 3DCart","schema":{"type":"string"},"example":"7dba81f90bdbe25e7000e73214ca51b","in":"query","required":false},{"name":"3dcart_access_token","description":"Jeton de 3DCart","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"3dcartapi_api_key","description":"Cl\u00e9 API de 3DCart","schema":{"type":"string"},"example":"82cc921c6a5c67082cc921c6a5c6707e1d6e6862ba3201a","in":"query","required":false},{"name":"amazon_sp_client_id","description":"ID client de l'application Amazon SP API","schema":{"type":"string"},"example":"amzn1.application-oa2-client.11e000e1f47d4998aca3733716d3b5a4","in":"query","required":false},{"name":"amazon_sp_client_secret","description":"Secret client de l'application Amazon SP API","schema":{"type":"string"},"example":"2c987428209f235443221255bde064f4bdf8a65165a80f5d22760a83cb","in":"query","required":false},{"name":"amazon_sp_refresh_token","description":"Jeton d'actualisation OAuth Amazon SP API","schema":{"type":"string"},"example":"Atzr|IwEBIPUI-bwRTdDgKNQ_g56C30wGqymtx30c9MdDC7Emwmojhs20k5BBG2hHtJiGZ_7OfG7khd1RuQr6KEst4qyWbo_eXi5S_T_VOxzJUuksG1cFOGFpFK-cnhReNzAeZIpZeJT7_ROy1csEFlQfC8FJS3bsbSkkbTz2ZcTN7_7ey0HVlhyfFizgROeSeOI24Wjs9l_KKzZW0jvi_oC2cxlIcyknnHLK6KMNz2rTXqQJWRtlK9xPJDdbcUa5STA8MQru91cxNBpSkZN_cq9OOELhbsIGKD75y7nZ3yJU4uHQC_9iBQQoFm0biKgi-kEQwOhwws8","in":"query","required":false},{"name":"amazon_sp_aws_region","description":"R\u00e9gion Amazon AWS","schema":{"type":"string"},"example":"us-east-1","in":"query","required":false},{"name":"amazon_sp_api_environment","description":"Environnement Amazon SP API","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"amazon_seller_id","description":"ID du vendeur Amazon (jeton de commer\u00e7ant)","schema":{"type":"string"},"example":"13P636B2M1N4WR","in":"query","required":false},{"name":"aspdotnetstorefront_api_user","description":"C'est un compte AspDotNetStorefront pour lequel l'API est disponible","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"aspdotnetstorefront_api_pass","description":"Mot de passe de l'API AspDotNetStorefront","schema":{"type":"string"},"example":"f6471ef78f72b41849a8b8b67791b0b5","in":"query","required":false},{"name":"bigcommerceapi_admin_account","description":"C'est un compte BigCommerce pour lequel l'API est activ\u00e9e","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"bigcommerceapi_api_path","description":"URL de l'API BigCommerce","schema":{"type":"string"},"example":"http://mystore.bigcommerce.com/api/v1","in":"query","required":false},{"name":"bigcommerceapi_api_key","description":"Cl\u00e9 API BigCommerce","schema":{"type":"string"},"example":"6b89704cd75738cb0f9f6468d5462aba","in":"query","required":false},{"name":"bigcommerceapi_client_id","description":"ID client de l'application requ\u00e9rante","schema":{"type":"string"},"example":"p1r37bt131z86675nofv9xmhietoe4t","in":"query","required":false},{"name":"bigcommerceapi_access_token","description":"Jeton d'acc\u00e8s autorisant l'application \u00e0 acc\u00e9der aux ressources au nom d'un utilisateur","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"bigcommerceapi_context","description":"Section du chemin de l'API unique \u00e0 la boutique","schema":{"type":"string"},"example":"stores/etplnf8o8v","in":"query","required":false},{"name":"bol_api_key","description":"Cl\u00e9 API Bol","schema":{"type":"string"},"example":"51369628-feee-11ed-be56-0242ac120002","in":"query","required":false},{"name":"bol_api_secret","description":"Secret de l'API Bol","schema":{"type":"string"},"example":"8fGzEsbEP5z2MNZubmIil87m-sWzTkj?KDQKrmzmU!fA6aAUNMdKRp7LMWHwE!G37UMfnWByHBGSXJHkAG?QcuYTO2uklv4idIHwUMLHK!OO1yfRlWh!","in":"query","required":false},{"name":"bol_retailer_id","description":"ID de d\u00e9taillant Bol","schema":{"type":"integer"},"example":"145001","in":"query","required":false},{"name":"demandware_client_id","description":"ID client de Demandware","schema":{"type":"string"},"example":"b849eb85-v8b9-1dw8-9fe2-97e1d6ffc7b0","in":"query","required":false},{"name":"demandware_api_password","description":"Mot de passe de l'API Demandware","schema":{"type":"string"},"example":"testpassword","in":"query","required":false},{"name":"demandware_user_name","description":"Nom d'utilisateur Demandware","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"demandware_user_password","description":"Mot de passe utilisateur Demandware","schema":{"type":"string"},"example":"12345","in":"query","required":false},{"name":"ebay_client_id","description":"ID d'application (AppID).","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"ebay_client_secret","description":"Secret partag\u00e9 de l'application eBay","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_runame","description":"La valeur RuName qu'eBay attribue \u00e0 votre application.","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"ebay_access_token","description":"Utilis\u00e9 pour authentifier les requ\u00eates API.","schema":{"type":"string"},"example":"v^1.1#i ... AjRV4yNjA=","in":"query","required":false},{"name":"ebay_refresh_token","description":"Utilis\u00e9 pour renouveler le jeton d'acc\u00e8s.","schema":{"type":"string"},"example":"v^1.1#i ... rAewqVasdA=","in":"query","required":false},{"name":"ebay_environment","description":"Environnement eBay","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"ebay_site_id","description":"ID global eBay","schema":{"type":"integer","default":0},"example":"101","in":"query","required":false},{"name":"ecwid_acess_token","description":"Jeton d'acc\u00e8s autorisant l'application \u00e0 acc\u00e9der aux ressources au nom d'un utilisateur","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"ecwid_store_id","description":"ID de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lazada_app_id","description":"ID de l'application Lazada","schema":{"type":"string"},"example":"112577","in":"query","required":false},{"name":"lazada_app_secret","description":"Secret de l'application Lazada","schema":{"type":"string"},"example":"er33raICJ79Q5b0EsR9stmRnjE9XQ2WH","in":"query","required":false},{"name":"lazada_refresh_token","description":"Jeton de rafra\u00eechissement Lazada","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"lazada_region","description":"R\u00e9gion du point de terminaison de l'API Lazada","schema":{"type":"string"},"example":"Malaysia","in":"query","required":false},{"name":"etsy_keystring","description":"Cha\u00eene de cl\u00e9 Etsy","schema":{"type":"string"},"example":"a9psel85v1wy5faeyjw03y0r","in":"query","required":false},{"name":"etsy_shared_secret","description":"Secret partag\u00e9 Etsy","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"etsy_access_token","description":"Jeton d'acc\u00e8s autorisant l'application \u00e0 acc\u00e9der aux ressources au nom d'un utilisateur","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_token_secret","description":"Jeton secret autorisant l'application \u00e0 acc\u00e9der aux ressources au nom d'un utilisateur","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"etsy_client_id","description":"ID client Etsy","schema":{"type":"string"},"example":"w0fi0igk2w29bjcd7ydr2s35","in":"query","required":false},{"name":"etsy_refresh_token","description":"Jeton de rafra\u00eechissement Etsy","schema":{"type":"string"},"example":"223577551.L07_RE-y7unmKf2dox4djsHkVxwpUfs1ikG_uQmHhF-aASEReNn_Qns1Wqn3dDa0ZMxrt9CIael3dgudeDZb31ZUdS","in":"query","required":false},{"name":"facebook_app_id","description":"ID de l'application Facebook","schema":{"type":"string"},"example":"6516912365277570","in":"query","required":false},{"name":"facebook_app_secret","description":"Secret de l'application Facebook","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"facebook_access_token","description":"Jeton d'acc\u00e8s Facebook","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUAhqbS58clzJwyp1rYRMpP31QJGziqtYbKypdVx3Cs0RpuufoUeLsbfX195XIB8VTlkcxw4zewU337mVVb5br","in":"query","required":false},{"name":"facebook_business_id","description":"ID d'entreprise Facebook","schema":{"type":"string"},"example":"294042786906655","in":"query","required":false},{"name":"neto_api_key","description":"Cl\u00e9 API Neto","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"neto_api_username","description":"Nom d'utilisateur Neto","schema":{"type":"string"},"example":"mylogin","in":"query","required":false},{"name":"shopline_access_token","description":"Cl\u00e9 de l'application Shopline","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopline_app_key","description":"Cl\u00e9 de l'application Shopline","schema":{"type":"string"},"example":"737cf6bd2879cb6c7e5a8ff9cd63f3d46b0b5b7b","in":"query","required":false},{"name":"shopline_app_secret","description":"Secret de l'application Shopline","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopline_shared_secret","description":"Secret Partag\u00e9 de Shopline","schema":{"type":"string"},"example":"1701d123bb5cc14cd2732dcaed90638316c0a09","in":"query","required":false},{"name":"shopify_access_token","description":"Jeton d'acc\u00e8s autorisant l'application \u00e0 acc\u00e9der aux ressources au nom d'un utilisateur","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shopify_api_key","description":"Cl\u00e9 API Shopify","schema":{"type":"string"},"example":"bbca57d8ff3c3677128112c15556d9e3","in":"query","required":false},{"name":"shopify_api_password","description":"Mot de passe API Shopify","schema":{"type":"string"},"example":"860f3a6fc87632301a42cd88e4b5ab3d","in":"query","required":false},{"name":"shopify_shared_secret","description":"Secret partag\u00e9","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"shopee_partner_id","description":"ID partenaire Shopee","schema":{"type":"string"},"example":"1276777","in":"query","required":false},{"name":"shopee_partner_key","description":"Cl\u00e9 partenaire Shopee","schema":{"type":"string"},"example":"6a46494b4d746576554646626775617a577542774850636375464d6a736d5598","in":"query","required":false},{"name":"shopee_shop_id","description":"ID boutique Shopee","schema":{"type":"string"},"example":"137968","in":"query","required":false},{"name":"shopee_refresh_token","description":"Jeton de rafra\u00eechissement Shopee","schema":{"type":"string"},"example":"EAAPP06rM2n8BO4mZBuMPnu9zS0MaMbN7ue8aUkcxw4zewU987mVVb5br","in":"query","required":false},{"name":"shopee_region","description":"R\u00e9gion du point de terminaison de l\u2019API Shopee. Utiliser pour la Chine continentale ou le Br\u00e9sil.","schema":{"type":"string"},"example":"CN","in":"query","required":false},{"name":"shopee_environment","description":"Environnement Shopee","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"shoplazza_access_token","description":"Jeton d'acc\u00e8s autorisant l'application \u00e0 acc\u00e9der aux ressources au nom d'un utilisateur","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"shoplazza_shared_secret","description":"Secret partag\u00e9","schema":{"type":"string"},"example":"gmz3iz45x2","in":"query","required":false},{"name":"miva_access_token","description":"Jeton d'acc\u00e8s Miva","schema":{"type":"string"},"example":"227cbe434a1e358d72db0de993x9d9fd","in":"query","required":false},{"name":"miva_signature","description":"Signature Miva","schema":{"type":"string"},"example":"1hpkrebfdsObGTor/0Gk9XcNBUQohrxrw67Sg9AM9ps=","in":"query","required":false},{"name":"shopware_access_key","description":"Cl\u00e9 d'acc\u00e8s Shopware","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_key","description":"Cl\u00e9 API Shopware","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"shopware_api_secret","description":"Cl\u00e9 d'acc\u00e8s secr\u00e8te du client Shopware","schema":{"type":"string"},"example":"V3NYNWg2b1dZdHBUWDN1cmdKdGhnenp5enVJYlJ0WlJvOFF2bnQ","in":"query","required":false},{"name":"bigcartel_user_name","description":"Sous-domaine du magasin","schema":{"type":"string"},"example":"subdomain","in":"query","required":false},{"name":"bigcartel_password","description":"Mot de passe du compte BigCartel","schema":{"type":"string"},"example":"4GrrZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"bricklink_consumer_key","description":"Cl\u00e9 consommateur Bricklink","schema":{"type":"string"},"example":"26F6CDA087D9444EAA71AC09E7A1D39A","in":"query","required":false},{"name":"bricklink_consumer_secret","description":"Secret consommateur Bricklink","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"bricklink_token","description":"Jeton d\u2019acc\u00e8s Bricklink","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"bricklink_token_secret","description":"Secret du jeton d\u2019acc\u00e8s Bricklink","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"volusion_login","description":"C'est un compte Volusion pour lequel l'API est activ\u00e9e","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"volusion_password","description":"Mot de passe API Volusion","schema":{"type":"string"},"example":"7943CA5F3990E00D9A4CCF0BD998211F","in":"query","required":false},{"name":"walmart_client_id","description":"ID client Walmart. Pour la r\u00e9gion 'ca', utilisez l'ID consommateur","schema":{"type":"string"},"example":"423f6A24-123z-8654-989u-6fa96478289","in":"query","required":false},{"name":"walmart_client_secret","description":"Secret client Walmart. Pour la r\u00e9gion 'ca', utilisez la cl\u00e9 priv\u00e9e","schema":{"type":"string"},"example":"1gf85fea-8974-2648-w12w-rt54284tdf54","in":"query","required":false},{"name":"walmart_environment","description":"Environnement Walmart","schema":{"type":"string","default":"production"},"example":"production","in":"query","required":false},{"name":"walmart_channel_type","description":"En-t\u00eate WM_CONSUMER.CHANNEL.TYPE de Walmart","schema":{"type":"string"},"example":"0f3e4dd4-0514-4346-b39d-af0e00ea066d","in":"query","required":false},{"name":"walmart_region","description":"R\u00e9gion Walmart","schema":{"type":"string","default":"us"},"example":"us","in":"query","required":false},{"name":"square_client_id","description":"ID client Square (Weebly)","schema":{"type":"string"},"example":"sq0idp-qwer_1pvuTYe9cAf1lmxyQ","in":"query","required":false},{"name":"square_client_secret","description":"Secret client Square (Weebly)","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"square_refresh_token","description":"Jeton de rafra\u00eechissement Square (Weebly)","schema":{"type":"string"},"example":"EQAAlquVXMr6xIcPu7qPkIEAZ0thqChhQuowrvZIqOlwhOwhtmyh4ZRfesdRc434","in":"query","required":false},{"name":"squarespace_api_key","description":"Cl\u00e9 API Squarespace","schema":{"type":"string"},"example":"8f7849d5-1411-47f2-9722-aa81c2a48d95","in":"query","required":false},{"name":"squarespace_client_id","description":"ID client du connecteur Squarespace","schema":{"type":"string"},"example":"9UGbUtS2V96BxRGmfOjsGAhTdsr9Vxxx","in":"query","required":false},{"name":"squarespace_client_secret","description":"Secret client du connecteur Squarespace","schema":{"type":"string"},"example":"GPZkUFkIKWg0KLE6rajsFMMYA9ma0udaaq2bYwBDXXX=","in":"query","required":false},{"name":"squarespace_access_token","description":"Jeton d'acc\u00e8s Squarespace","schema":{"type":"string"},"example":"SWSCS3O1RJBSRNBYQLFIYJN2ZQ","in":"query","required":false},{"name":"squarespace_refresh_token","description":"Jeton de rafra\u00eechissement Squarespace","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"hybris_client_id","description":"ID client du connecteur Omni Commerce","schema":{"type":"string"},"example":"api_client_1","in":"query","required":false},{"name":"hybris_client_secret","description":"Secret client du connecteur Omni Commerce","schema":{"type":"string"},"example":"secret_phrase_1","in":"query","required":false},{"name":"hybris_username","description":"Nom d'utilisateur","schema":{"type":"string"},"example":"admin","in":"query","required":false},{"name":"hybris_password","description":"Mot de passe utilisateur","schema":{"type":"string"},"example":"nimda","in":"query","required":false},{"name":"hybris_websites","description":"Donn\u00e9es de correspondance des sites Web aux magasins","schema":{"type":"array","items":{"type":"string"}},"example":"hybris_websites[0][uid]=apparel-website&hybris_websites[0][url]=https://apparel.local/yacceleratorstorefront&hybris_websites[0][storeIds][0]=apparel-de&hybris_websites[0][storeIds][1]=apparel-uk","in":"query","required":false},{"name":"lightspeed_api_key","description":"Cl\u00e9 API LightSpeed","schema":{"type":"string"},"example":"cf5444729c2abd6b6a5d983691767cb5","in":"query","required":false},{"name":"lightspeed_api_secret","description":"Secret de l'API LightSpeed","schema":{"type":"string"},"example":"2620ee52a8bc942f9d5d3a575f4d363e","in":"query","required":false},{"name":"commercehq_api_key","description":"Cl\u00e9 API CommerceHQ","schema":{"type":"string"},"example":"sJrD-LM0eddhe63rfgfva0dDydXfre4","in":"query","required":false},{"name":"commercehq_api_password","description":"Mot de passe API de CommerceHQ","schema":{"type":"string"},"example":"4Grr_ZCLNNoSUuhAjesKuchxo9SL","in":"query","required":false},{"name":"wc_consumer_key","description":"Cl\u00e9 de consommateur Woocommerce","schema":{"type":"string"},"example":"ck_26d8e2ad604f3917e429df6961722282bdcf109d","in":"query","required":false},{"name":"wc_consumer_secret","description":"Secret du consommateur Woocommerce","schema":{"type":"string"},"example":"cs_931ced666118a15c5f7b4a33a15gf5589cbeba55","in":"query","required":false},{"name":"magento_consumer_key","description":"Cl\u00e9 de consommateur Magento","schema":{"type":"string"},"example":"ktv4n9rgrj0evjuy2t6p2xlb1f8u5pmy","in":"query","required":false},{"name":"magento_consumer_secret","description":"Secret de consommateur Magento","schema":{"type":"string"},"example":"a46abc3kxyinlbggy06i9g975xqo6gjq","in":"query","required":false},{"name":"magento_access_token","description":"Jeton d'acc\u00e8s Magento","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"magento_token_secret","description":"Secret du jeton Magento","schema":{"type":"string"},"example":"igse8e4rdmzkxdi937qe69d59en1imw","in":"query","required":false},{"name":"prestashop_webservice_key","description":"Cl\u00e9 du service web Prestashop","schema":{"type":"string"},"example":"CKJ1ZEWRJWRLTPVBQJ9FGGRORD4AGS96","in":"query","required":false},{"name":"wix_app_id","description":"ID d'application Wix","schema":{"type":"string"},"example":"6b0b5b7b-7d87-45b5-bf34-ac6b438e63da","in":"query","required":false},{"name":"wix_app_secret_key","description":"Cl\u00e9 secr\u00e8te de l'application Wix","schema":{"type":"string"},"example":"316c0a09-f195-42be-74f6-a02cebb9cae6","in":"query","required":false},{"name":"wix_instance_id","description":"ID d'instance Wix","schema":{"type":"string"},"example":"58b893a4-6b16-5c2f-qt78-qa3r61t32rt8","in":"query","required":false},{"name":"wix_refresh_token","description":"Jeton de rafra\u00eechissement Wix","schema":{"type":"string"},"example":"\n        OAUTH2.eyJraWQiOiJkZ0x3cjNRMCIsImFsZyI6IkhTMjU2In0.\n        eyJkYXRhIjoie1wiaWRcIjpcImJlZjM3MmRmLTUyNGItNDI3NS05M2RkL\n        Tg4NDBlOTU3ZWU2OFwifSIsImlhdCI6MTY0ODA0NTEyNiwiZXhwIjoxNzExMTE3MTI2fQ.\n        VRR2lGSbcTVmaArtmyyhy6o4WRDwTn-nlDCQpZ97eYw\n      ","in":"query","required":false},{"name":"mercado_libre_app_id","description":"ID d'application Mercado Libre","schema":{"type":"string"},"example":"211188015100135","in":"query","required":false},{"name":"mercado_libre_app_secret_key","description":"Cl\u00e9 secr\u00e8te de l'application Mercado Libre","schema":{"type":"string"},"example":"e2qoG2zklLlfP7cEngEJ94YjhkejkjAm","in":"query","required":false},{"name":"mercado_libre_refresh_token","description":"Jeton de rafra\u00eechissement Mercado Libre","schema":{"type":"string"},"example":"TG-63h13529vb5464110188d2x9-703754376","in":"query","required":false},{"name":"zid_client_id","description":"ID client de Zid","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"zid_client_secret","description":"Secret client de Zid","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"zid_access_token","description":"Jeton d'acc\u00e8s Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_authorization","description":"Autorisation Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"zid_refresh_token","description":"Jeton de rafra\u00eechissement Zid","schema":{"type":"string"},"example":"def50eyfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe657e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65d7e64a0cfe9fe65de64a0c865d","in":"query","required":false},{"name":"flipkart_client_id","description":"ID client Flipkart","schema":{"type":"string"},"example":"19414773883a13a850b6a52350b7246499a24","in":"query","required":false},{"name":"flipkart_client_secret","description":"Secret client Flipkart","schema":{"type":"string"},"example":"nl5l1lE0vxgv6cV111fHsdlOOIfb0Ms5IR7l4Igs","in":"query","required":false},{"name":"allegro_client_id","description":"ID client Allegro","schema":{"type":"string"},"example":"2915e189ce3d23d23d2327d204ae6a0bd","in":"query","required":false},{"name":"allegro_client_secret","description":"Secret client Allegro","schema":{"type":"string"},"example":"DNHtqdL2WPIefeUhQWYgtXPS23fgbfgasdsGHHJGhg3RTFDQWFGZmVoFRT5IfkQj1E7eR5","in":"query","required":false},{"name":"allegro_access_token","description":"Jeton d'acc\u00e8s Allegro","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_refresh_token","description":"Jeton de rafra\u00eechissement Allegro","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"allegro_environment","description":"Environnement Allegro","schema":{"type":"string","default":"production"},"example":"sandbox","in":"query","required":false},{"name":"zoho_client_id","description":"ID client Zoho","schema":{"type":"string"},"example":"1000.FLCHGI2LS1111111TOR4OGB697W4IX","in":"query","required":false},{"name":"zoho_client_secret","description":"Secret client Zoho","schema":{"type":"string"},"example":"c8d7077fce7b2b111111111898170695a01473a2ad","in":"query","required":false},{"name":"zoho_refresh_token","description":"Jeton de rafra\u00eechissement Zoho","schema":{"type":"string"},"example":"1000.11111111111111111111111111111111.1b3ca6f054341a111118abf928beb33b","in":"query","required":false},{"name":"zoho_region","description":"R\u00e9gion du point de terminaison de l'API Zoho","schema":{"type":"string"},"example":"Europe","in":"query","required":false},{"name":"tiendanube_user_id","description":"ID utilisateur Tiendanube","schema":{"type":"integer"},"example":1234,"in":"query","required":false},{"name":"tiendanube_access_token","description":"Jeton d'acc\u00e8s Tiendanube","schema":{"type":"string"},"example":"75bde7bb0b437475423e7e87c142c06052f80199","in":"query","required":false},{"name":"tiendanube_client_secret","description":"Secret client Tiendanube","schema":{"type":"string"},"example":"5e3588f514a5ae0d0fa063d1b556531e25c83fa7e47472ed","in":"query","required":false},{"name":"otto_client_id","description":"ID client Otto","schema":{"type":"string"},"example":"911a3dbf-d261-4763-cc81-052876465b55","in":"query","required":false},{"name":"otto_client_secret","description":"Secret client Otto","schema":{"type":"string"},"example":"9887a82a-2879-421e-a6wc-54e986b3458c","in":"query","required":false},{"name":"otto_app_id","description":"ID d'application Otto","schema":{"type":"string"},"example":"6eaef6a3-822e-425b-8mc9-53750063e34d","in":"query","required":false},{"name":"otto_refresh_token","description":"Jeton de rafra\u00eechissement Otto","schema":{"type":"string"},"example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IsfddfdfdeyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"otto_environment","description":"Environnement Otto","schema":{"type":"string"},"example":"sandbox","in":"query","required":false},{"name":"otto_access_token","description":"Jeton d'acc\u00e8s Otto","schema":{"type":"string"},"example":"eyJhbGciOiJS34535f45f54f5656deyJ1c2VyX25hbWUiOiI5NDUxMzE1MSIsInNjb3BlIjpbImFsbGVncm86YXBpOm9yZGVyczpyZWFkIiwiYWxsZWdybzphcGk6cHJvZmlsZTp3cml0ZSIsImFsbGVncm86YXBpOnNhbGU6b2ZmZXJzOndyaXRlIiwiYWxsZWdybzphcGk6YmlsbGluZzpyZWFkIiwiYWxsZWdybzphcGk6Y2FtcGFpZ25zIiwiYWxsZWdybzphcGk6ZGlzcHV0ZXMiLCJhbGxlZ3JvOmFwaTpzYWxlOm9mZmVyczpyZWFkIiwiYWxsZWdybzphcGk6YmlkcyIsImFsbGVncm86YXBpOm9yZGVyczp3cml0ZSIsImFsbGVncm86YXBpOnBheW1lbnRzOndyaXRlIiwiYWxsZWdybzphcGk6c2FsZTpzZXR0aW5nczp3cml0ZSIsImFsbGVncm86YXBpOnByb2ZpbGU6cmVhZCIsImFsbGVncm86YXBpOnJhdGluZ3MiLCJhbGxlZ3JvOmFwaTpzYWxlOnNldHRpbmdzOnJlYWQiLCJhbGxlZ3JvOmFwaTpwYXltZW50czpyZWFkIiwiYWxsZWdybzphcGk6bWVzc2FnaW5nIl0sI","in":"query","required":false},{"name":"tiktokshop_app_key","description":"Cl\u00e9 de l'application TikTok Shop","schema":{"type":"string"},"example":"6arbhkzno8nbv","in":"query","required":false},{"name":"tiktokshop_app_secret","description":"Secret de l'application TikTok Shop","schema":{"type":"string"},"example":"d95820a05a0cd54fb394fcd26fgat63999b183bc","in":"query","required":false},{"name":"tiktokshop_refresh_token","description":"Jeton de rafra\u00eechissement TikTok Shop","schema":{"type":"string"},"example":"TTP_NTUxZTNhYTQ2ZDk2YmRmZWNmYWY2YWY12345NGYwNjQ3YjkzYTllYjA0YmNlMw","in":"query","required":false},{"name":"tiktokshop_access_token","description":"Jeton d'acc\u00e8s TikTok Shop","schema":{"type":"string"},"example":"TTP_Fw8r12345kW03FYd09DG-9INtpw361hWthei12345iPJ5AUv99fLSCYD9-Uu12345TgNRzKZxi5-tfFMtdWqglEt5_iCk","in":"query","required":false},{"name":"salla_client_id","description":"ID client Salla","schema":{"type":"string"},"example":"1bxxxcf9-5xx4-xxx-bxxf-929b8xxxxe11","in":"query","required":false},{"name":"salla_client_secret","description":"Secret client Salla","schema":{"type":"string"},"example":"8x88axxxc25e1fxxxa1c06fxxx150xx5","in":"query","required":false},{"name":"salla_refresh_token","description":"Jeton de rafra\u00eechissement Salla","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"salla_access_token","description":"Jeton d'acc\u00e8s Salla","schema":{"type":"string"},"example":"oxy_rt_zxxxxiY2xxZWWxxxxlU-tROxxxxx2JzS2fwzxxxxxkU.p3xxxkCIyFexxxxP50WwZYfhw5_wg1xxxxV5F-8xxXc","in":"query","required":false},{"name":"temu_app_key","description":"Cl\u00e9 d\u2019application Temu","schema":{"type":"string"},"example":"4ebbc9190ae410443d65b4c2faca9811","in":"query","required":false},{"name":"temu_app_secret","description":"Secret de l\u2019application Temu","schema":{"type":"string"},"example":"4782d2d827276688bf4758bed55dbdd4bbe79a78","in":"query","required":false},{"name":"temu_access_token","description":"Jeton d\u2019acc\u00e8s Temu","schema":{"type":"string"},"example":"uplv3hfyt5kcwoymrgnajnbl1ow5qxlz4sqhev6hl3xosz5dejrtyl2jre6","in":"query","required":false},{"name":"temu_region","description":"R\u00e9gion du point de terminaison de l\u2019API Temu.","schema":{"type":"string"},"example":"US","in":"query","required":false}]}},"/attribute.info.json":{"get":{"tags":["attribute"],"summary":"attribute.info","description":"Obtenir des informations sur un attribut global sp\u00e9cifique par son ID.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/StoreAttribute"}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"force_all"},"example":"force_all","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"name","in":"query","required":false}]}},"/attribute.count.json":{"get":{"tags":["attribute"],"summary":"attribute.count","description":"Obtenir le nombre d\u2019attributs.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attributes_count":{"type":"integer"}}}}}}}}},"parameters":[{"name":"type","description":"D\u00e9finit le type d'attribut","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"attribute_set_id","description":"Filtrer les \u00e9l\u00e9ments par ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"Filtrer les articles par statut de visibilit\u00e9","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"D\u00e9finit si l'option est requise","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Vrai si l'attribut est un attribut syst\u00e8me","schema":{"type":"boolean"},"example":false,"in":"query","required":false}]}},"/attribute.list.json":{"get":{"tags":["attribute"],"summary":"attribute.list","description":"Obtenir une liste d\u2019attributs globaux.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_List"}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_ids","description":"Filtrer les attributs par ID","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"attribute_set_id","description":"Filtrer les \u00e9l\u00e9ments par ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"R\u00e9cup\u00e8re les attributs sp\u00e9cifi\u00e9s par ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"type","description":"D\u00e9finit le type d'attribut","schema":{"type":"string"},"example":"text","in":"query","required":false},{"name":"visible","description":"Filtrer les articles par statut de visibilit\u00e9","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"required","description":"D\u00e9finit si l'option est requise","schema":{"type":"boolean"},"example":true,"in":"query","required":false},{"name":"system","description":"Vrai si l'attribut est un attribut syst\u00e8me","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{return_code,return_message,pagination,result}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"id,name,code,type"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.add.json":{"post":{"tags":["attribute"],"summary":"attribute.add","description":"Ajouter un nouvel attribut.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"type","description":"D\u00e9finit le type d'attribut","schema":{"type":"string","enum":["text","select","textarea","date","price","multiselect","boolean"]},"example":"text","in":"query","required":true},{"name":"name","description":"D\u00e9finit le nom de l'attribut","schema":{"type":"string"},"example":"Specification","in":"query","required":true},{"name":"code","description":"Code de l'entit\u00e9","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"visible","description":"D\u00e9finir le statut de visibilit\u00e9","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"required","description":"D\u00e9finit si l'option est requise","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"position","description":"Position de l'attribut","schema":{"type":"integer","default":0},"example":5,"in":"query","required":false},{"name":"attribute_group_id","description":"Filtrer par ID de groupe d'attributs","schema":{"type":"string"},"example":"202","in":"query","required":false},{"name":"is_global","description":"Port\u00e9e de sauvegarde des attributs","schema":{"type":"string","default":"Store"},"example":"Global","in":"query","required":false},{"name":"is_searchable","description":"Utiliser l'attribut dans la recherche rapide","schema":{"type":"boolean","default":false},"example":false,"in":"query","required":false},{"name":"is_filterable","description":"Utiliser dans la navigation filtr\u00e9e","schema":{"type":"string","default":"No"},"example":"No","in":"query","required":false},{"name":"is_comparable","description":"Comparable sur le Front-end","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_html_allowed_on_front","description":"Autoriser les balises HTML sur le Front-end","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_filterable_in_search","description":"Utiliser dans la navigation filtr\u00e9e des r\u00e9sultats de recherche","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_configurable","description":"Utiliser pour cr\u00e9er un produit configurable","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_visible_in_advanced_search","description":"Utiliser dans la recherche avanc\u00e9e","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"is_used_for_promo_rules","description":"Utiliser pour les conditions des r\u00e8gles promotionnelles","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_in_product_listing","description":"Utilis\u00e9 dans la liste des produits","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"used_for_sort_by","description":"Utilis\u00e9 pour le tri dans la liste des produits","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"apply_to","description":"Types de produits pouvant avoir cet attribut","schema":{"type":"string","default":"all_types"},"example":"Global","in":"query","required":false}]}},"/attribute.update.json":{"put":{"tags":["attribute"],"summary":"attribute.update","description":"Mettre \u00e0 jour les donn\u00e9es de l\u2019attribut.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"name","description":"D\u00e9finit le nouveau nom de l'attribut","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.delete","description":"Supprimer un attribut du magasin.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/attribute.assign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.group","description":"Attribuer un attribut au groupe","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID du groupe d'attributs","schema":{"type":"string"},"example":3,"in":"query","required":true},{"name":"attribute_set_id","description":"ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":false}]}},"/attribute.assign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.assign.set","description":"Attribuer un attribut \u00e0 l\u2019ensemble d\u2019attributs","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAssignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"assigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID du groupe d'attributs","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"attribute_set_id","description":"ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.attributeset.list.json":{"get":{"tags":["attribute"],"summary":"attribute.attributeset.list","description":"Obtenir la liste des ensembles d\u2019attributs","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeAttributesetList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Attributeset_List"}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.group.list.json":{"get":{"tags":["attribute"],"summary":"attribute.group.list","description":"Obtenir la liste des groupes d\u2019attributs","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeGroupList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Attribute_Group_List"}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"attribute_set_id","description":"ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"id,name"},"example":"id,name","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"id,name","in":"query","required":false}]}},"/attribute.type.list.json":{"get":{"tags":["attribute"],"summary":"attribute.type.list","description":"Obtenir une liste des types d\u2019attributs pris en charge.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeTypeList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"attribute_type":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/attribute.unassign.group.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.group","description":"D\u00e9sattribuer un attribut du groupe","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignGroup","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"group_id","description":"ID du groupe de clients","schema":{"type":"string"},"example":3,"in":"query","required":true}]}},"/attribute.unassign.set.json":{"post":{"tags":["attribute"],"summary":"attribute.unassign.set","description":"D\u00e9sattribuer un attribut de l\u2019ensemble d\u2019attributs","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeUnassignSet","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"unassigned":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_set_id","description":"ID d'ensemble d'attributs","schema":{"type":"string"},"example":"4","in":"query","required":true}]}},"/attribute.value.add.json":{"post":{"tags":["attribute"],"summary":"attribute.value.add","description":"Ajouter une nouvelle valeur \u00e0 l\u2019attribut.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"}}}}}}}}},"parameters":[{"name":"attribute_id","description":"ID d\u2019attribut","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"D\u00e9finit le nom de la valeur de l'attribut","schema":{"type":"string"},"example":"Test name","in":"query","required":true},{"name":"code","description":"Code de l'entit\u00e9","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"description","description":"D\u00e9finit la description de la valeur de l'attribut","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.update.json":{"put":{"tags":["attribute"],"summary":"attribute.value.update","description":"Mettre \u00e0 jour la valeur de l\u2019attribut.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"D\u00e9finit l'ID de la valeur de l'attribut","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"ID d\u2019attribut","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"name","description":"D\u00e9finit le nom de la valeur de l'attribut","schema":{"type":"string"},"example":"Test name","in":"query","required":false},{"name":"description","description":"D\u00e9finit la nouvelle description de la valeur de l'attribut","schema":{"type":"string"},"example":"Test value","in":"query","required":false},{"name":"code","description":"Code de l'entit\u00e9","schema":{"type":"string"},"example":"code","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false}]}},"/attribute.value.delete.json":{"delete":{"tags":["attribute"],"summary":"attribute.value.delete","description":"Supprimer la valeur de l\u2019attribut.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"AttributeValueDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"attribute_id","description":"ID d\u2019attribut","schema":{"type":"string"},"example":"156","in":"query","required":true},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.info.json":{"get":{"tags":["basket"],"summary":"basket.info","description":"R\u00e9cup\u00e9rer les informations du panier.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Basket"}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{result}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"force_all"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/basket.item.add.json":{"post":{"tags":["basket"],"summary":"basket.item.add","description":"Ajouter un article au panier.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketItemAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"added":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"customer_id","description":"R\u00e9cup\u00e8re les commandes sp\u00e9cifi\u00e9es par l\u2019identifiant du client","schema":{"type":"string"},"example":"5","in":"query","required":true},{"name":"product_id","description":"D\u00e9finit l'ID du produit qui doit \u00eatre ajout\u00e9 au panier","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"variant_id","description":"D\u00e9finit les variantes du produit sp\u00e9cifi\u00e9es par l'ID de variante","schema":{"type":"string"},"example":45,"in":"query","required":false},{"name":"quantity","description":"D\u00e9finit la quantit\u00e9 de nouveaux articles","schema":{"type":"number","default":0},"example":6,"in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.list.json":{"get":{"tags":["basket"],"summary":"basket.live_shipping_service.list","description":"R\u00e9cup\u00e9rer une liste des services de tarification d\u2019exp\u00e9dition en direct.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"live_shipping_services":{"type":"array","items":{"$ref":"#/components/schemas/Basket_LiveShippingService"}}}}}}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.create.json":{"post":{"tags":["basket"],"summary":"basket.live_shipping_service.create","description":"Cr\u00e9er un service de tarification d\u2019exp\u00e9dition en direct.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"integer"}}}}}}}}},"parameters":[{"name":"name","description":"Nom du service de livraison","schema":{"type":"string"},"example":"BestDelivery","in":"query","required":true},{"name":"callback","description":"URL de rappel qui retourne les tarifs d'exp\u00e9dition","schema":{"type":"string"},"example":"https://example.com/callback","in":"query","required":true},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/basket.live_shipping_service.delete.json":{"delete":{"tags":["basket"],"summary":"basket.live_shipping_service.delete","description":"Supprimer le service de tarification d\u2019exp\u00e9dition en direct.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BasketLiveShippingServiceDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"id","description":"ID d'entit\u00e9","schema":{"type":"integer"},"example":5,"in":"query","required":true}]}},"/batch.job.list.json":{"get":{"tags":["batch"],"summary":"batch.job.list","description":"Obtenir la liste des t\u00e2ches r\u00e9centes","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Batch_Job_List"}}}}},"parameters":[{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilis\u00e9 pour r\u00e9cup\u00e9rer des entit\u00e9s via la pagination bas\u00e9e sur le curseur (ne peut pas \u00eatre utilis\u00e9 avec un autre param\u00e8tre de filtrage)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"Filtre les travaux en lot par identifiants","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"created_from","description":"R\u00e9cup\u00e9rer les entit\u00e9s \u00e0 partir de leur date de cr\u00e9ation","schema":{"type":"string"},"example":"2010-07-29 13:45:52","in":"query","required":false},{"name":"created_to","description":"R\u00e9cup\u00e9rer les entit\u00e9s jusqu'\u00e0 leur date de cr\u00e9ation","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_from","description":"R\u00e9cup\u00e9rer les entit\u00e9s en fonction de leur date et heure de traitement","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"processed_to","description":"R\u00e9cup\u00e9rer les entit\u00e9s en fonction de leur date et heure de traitement","schema":{"type":"string"},"example":"2100-08-29 13:45:52","in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"{return_code,return_message,pagination,result}"},"example":"{result}","in":"query","required":false}]}},"/batch.job.result.json":{"get":{"tags":["batch"],"summary":"batch.job.result","description":"Obtenir les donn\u00e9es des r\u00e9sultats du travail","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BatchJobResult","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_Batch_Job_Result"}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true}]}},"/bridge.download.file":{"get":{"tags":["bridge"],"summary":"bridge.download","description":"T\u00e9l\u00e9chargez le bridge pour la boutique.</br>Veuillez noter que cette m\u00e9thode ne fonctionnera pas si vous l\u2019appelez depuis Swagger UI.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDownload","responses":{"200":{"description":"successful operation","content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}}},"parameters":[{"name":"whitelabel","description":"Identifie si le t\u00e9l\u00e9chargement du pont en marque blanche est n\u00e9cessaire.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/bridge.update.json":{"post":{"tags":["bridge"],"summary":"bridge.update","description":"Mettre \u00e0 jour le bridge dans la boutique.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"updated":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/bridge.delete.json":{"post":{"tags":["bridge"],"summary":"bridge.delete","description":"Supprimer le bridge de la boutique.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"BridgeDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"parameters":[]}},"/cart.info.json":{"get":{"tags":["cart"],"summary":"cart.info","description":"Cette m\u00e9thode permet d\u2019obtenir diverses informations sur le magasin, y compris une liste des magasins (dans le cas d\u2019une configuration multi-magasins), une liste des langues prises en charge, des devises, des transporteurs, des entrep\u00f4ts et de nombreuses autres informations. Ces donn\u00e9es sont relativement stables et changent rarement, donc API2Cart peut mettre en cache certaines donn\u00e9es pour r\u00e9duire la charge du magasin et acc\u00e9l\u00e9rer l\u2019ex\u00e9cution des requ\u00eates. Nous recommandons \u00e9galement de mettre en cache la r\u00e9ponse de cette m\u00e9thode de votre c\u00f4t\u00e9 afin de r\u00e9duire les requ\u00eates. Si vous devez vider le cache d\u2019un magasin sp\u00e9cifique, utilisez la m\u00e9thode cart.validate.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartInfo","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"$ref":"#/components/schemas/Cart"}}}}}}},"parameters":[{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{result{name,url,stores_info{store_id,name,currency{id,iso3},store_owner_info}}}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"name,url","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"name,url","in":"query","required":false}]}},"/cart.validate.json":{"get":{"tags":["cart"],"summary":"cart.validate","description":"Cette m\u00e9thode vide le cache dans API2Cart pour une boutique sp\u00e9cifique et v\u00e9rifie si la connexion \u00e0 la boutique est disponible. Utilisez cette m\u00e9thode si des modifications ont \u00e9t\u00e9 apport\u00e9es aux param\u00e8tres de la boutique, par exemple, si un nouveau plugin a \u00e9t\u00e9 install\u00e9 ou supprim\u00e9.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartValidate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"string"}}}}}}}}},"parameters":[{"name":"validate_version","description":"Sp\u00e9cifiez si API2Cart doit valider la version du panier","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.list.json":{"get":{"tags":["cart"],"summary":"cart.list","description":"Obtenir la liste des plateformes de e-commerce prises en charge.","security":[{"ApiKeyAuth":[]}],"operationId":"CartList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"supported_carts":{"type":"array","items":{"type":"object","properties":{"cart_id":{"type":"string"},"cart_name":{"type":"string"},"cart_versions":{"type":"string"},"params":{"type":"array","items":{"type":"string"}}}}}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.bridge.json":{"get":{"tags":["cart"],"summary":"cart.bridge","description":"Obtenir la cl\u00e9 du pont et la cl\u00e9 de la boutique.","security":[{"ApiKeyAuth":[]}],"operationId":"CartBridge","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"},"bridge":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[]}},"/cart.disconnect.json":{"get":{"tags":["cart"],"summary":"cart.disconnect","description":"D\u00e9connecter du magasin et effacer les donn\u00e9es de session.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDisconnect","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"connection":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"delete_bridge","description":"Identifie si la suppression du pont est n\u00e9cessaire","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false}]}},"/cart.methods.json":{"get":{"tags":["cart"],"summary":"cart.methods","description":"Renvoie une liste des m\u00e9thodes API prises en charge.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartMethods","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"method":{"type":"array","items":{"type":"string"}}}}}}}}}},"parameters":[]}},"/cart.config.json":{"get":{"tags":["cart"],"summary":"cart.config","description":"Obtenir la liste des configurations du panier.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfig","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_name":{"type":"string"},"store_url":{"type":"string"},"db_prefix":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"store_name,store_url,db_prefix"},"example":"store_name,store_url,db_prefix","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"store_name,store_url,db_prefix","in":"query","required":false}]}},"/cart.clear_cache.json":{"post":{"tags":["cart"],"summary":"cart.clear_cache","description":"Vider le cache du magasin.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartClearCache","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"cache_cleared":{"type":"string"}}}}}}}}},"deprecated":true,"parameters":[{"name":"cache_type","description":"D\u00e9finit quel cache doit \u00eatre vid\u00e9.","schema":{"type":"string"},"example":"storage_cache","in":"query","required":true}]}},"/cart.create.json":{"post":{"tags":["cart"],"summary":"cart.create","description":"Ajouter une boutique au compte.","security":[{"ApiKeyAuth":[]}],"operationId":"CartCreate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store_key":{"type":"string"}}}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCreate"}}}}}},"/cart.delete.json":{"delete":{"tags":["cart"],"summary":"cart.delete","description":"Supprimer une boutique de API2Cart.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"store":{"type":"string"}}}}}}}}},"parameters":[{"name":"delete_bridge","description":"Identifie si la suppression du pont est n\u00e9cessaire","schema":{"type":"boolean","default":true},"example":true,"in":"query","required":false}]}},"/cart.catalog_price_rules.count.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.count","description":"Obtenir le nombre de r\u00e9ductions des r\u00e8gles de prix du catalogue du panier.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"catalog_price_rules_count":{"type":"string"}}}}}}}}},"parameters":[]}},"/cart.catalog_price_rules.list.json":{"get":{"tags":["cart"],"summary":"cart.catalog_price_rules.list","description":"Obtenir les r\u00e9ductions des r\u00e8gles de prix du catalogue du panier.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCatalogPriceRulesList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Catalog_PriceRules_List"}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilis\u00e9 pour r\u00e9cup\u00e9rer des entit\u00e9s via la pagination bas\u00e9e sur le curseur (ne peut pas \u00eatre utilis\u00e9 avec un autre param\u00e8tre de filtrage)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"ids","description":"R\u00e9cup\u00e8re les r\u00e8gles de prix du catalogue par identifiants","schema":{"type":"string"},"example":"24,25","in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{result{catalog_price_rules_count,catalog_price_rules{id,type,name,avail,usage_count,actions,conditions}}}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"id,name,description"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.config.update.json":{"put":{"tags":["cart"],"summary":"cart.config.update","description":"Utilisez cette m\u00e9thode API pour mettre \u00e0 jour les donn\u00e9es personnalis\u00e9es dans la base de donn\u00e9es client.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartConfigUpdate","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object"}}}}}}},"deprecated":true,"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartConfigUpdate"}}}}}},"/cart.coupon.count.json":{"get":{"tags":["cart"],"summary":"cart.coupon.count","description":"Cette m\u00e9thode permet d\u2019obtenir le nombre de coupons. Sur certaines plateformes, vous pouvez filtrer les coupons par leur date d\u2019activation.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupons_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"avail","description":"D\u00e9finit le statut de visibilit\u00e9 de la cat\u00e9gorie","schema":{"type":"boolean","default":true},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Filtrer l'entit\u00e9 par date_start (sup\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filtrer l'entit\u00e9 par date_start (inf\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filtrer l'entit\u00e9 par date_end (sup\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filtrer l'entit\u00e9 par date_end (inf\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false}]}},"/cart.coupon.list.json":{"get":{"tags":["cart"],"summary":"cart.coupon.list","description":"Obtenir les r\u00e9ductions de coupons du panier.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_Coupon_List"}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilis\u00e9 pour r\u00e9cup\u00e9rer des entit\u00e9s via la pagination bas\u00e9e sur le curseur (ne peut pas \u00eatre utilis\u00e9 avec un autre param\u00e8tre de filtrage)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"coupons_ids","description":"Filtrer les coupons par identifiants","schema":{"type":"string"},"example":"1,2,3","in":"query","required":false},{"name":"store_id","description":"Filtre les coupons par identifiant de boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"lang_id","description":"ID de langue","schema":{"type":"string"},"example":3,"in":"query","required":false},{"name":"avail","description":"Filtre les coupons par statut de disponibilit\u00e9","schema":{"type":"boolean"},"example":false,"in":"query","required":false},{"name":"date_start_from","description":"Filtrer l'entit\u00e9 par date_start (sup\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_start_to","description":"Filtrer l'entit\u00e9 par date_start (inf\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_from","description":"Filtrer l'entit\u00e9 par date_end (sup\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"date_end_to","description":"Filtrer l'entit\u00e9 par date_end (inf\u00e9rieur ou \u00e9gal)","schema":{"type":"string"},"example":"2016-12-29 16:44:30","in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{pagination,result{coupon_count,coupon{id,code,name,conditions,actions{scope,amount,conditions{id,value,sub-conditions}},date_start,avail}}}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"id,code,name,description"},"example":"id,code,type,amount","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":"usage_history,type","in":"query","required":false}]}},"/cart.coupon.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.add","description":"Utilisez cette m\u00e9thode pour cr\u00e9er un coupon avec des conditions sp\u00e9cifi\u00e9es.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"coupon_id":{"type":"string"}}}}}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartCouponAdd"}}}}}},"/cart.coupon.delete.json":{"delete":{"tags":["cart"],"summary":"cart.coupon.delete","description":"Supprimer le coupon.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponDelete","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"deleted":{"type":"string"}}}}}}}}},"parameters":[{"name":"id","description":"ID de l'entit\u00e9","schema":{"type":"string"},"example":10,"in":"query","required":true},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.coupon.condition.add.json":{"post":{"tags":["cart"],"summary":"cart.coupon.condition.add","description":"Utilisez cette m\u00e9thode pour ajouter des conditions suppl\u00e9mentaires \u00e0 l\u2019application du coupon.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartCouponConditionAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"status":{"type":"boolean"}}}}}}}}},"parameters":[{"name":"coupon_id","description":"ID du coupon","schema":{"type":"string"},"example":"45845","in":"query","required":true},{"name":"entity","description":"D\u00e9finit le type d'entit\u00e9 de la condition","schema":{"type":"string","enum":["order","order_shipping_address","product","customer"]},"example":"order","in":"query","required":true},{"name":"key","description":"D\u00e9finit la cl\u00e9 d'attribut de l'entit\u00e9 de condition","schema":{"type":"string","enum":["total","subtotal","shipping_total","total_quantity","total_weight","country","product_id","variant_id","category_id","customer_id","item_price","item_total_price","item_quantity","carrier_id"]},"example":"subtotal","in":"query","required":true},{"name":"operator","description":"D\u00e9finit l'op\u00e9rateur de condition","schema":{"type":"string"},"example":"==","in":"query","required":true},{"name":"value","description":"D\u00e9finit la valeur de la condition, peut \u00eatre s\u00e9par\u00e9e par des virgules selon l'op\u00e9rateur.","schema":{"type":"string"},"example":"2","in":"query","required":true},{"name":"target","description":"D\u00e9finit l'op\u00e9rateur de condition","schema":{"type":"string","default":"coupon_prerequisite"},"example":"coupon_action","in":"query","required":false},{"name":"include_tax","description":"Indique si une remise est appliqu\u00e9e pour les taxes.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"include_shipping","description":"Indique si une remise est appliqu\u00e9e pour l'exp\u00e9dition.","schema":{"type":"boolean","default":false},"example":true,"in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.count.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.count","description":"Obtenir le nombre de cartes-cadeaux.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardCount","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"gift_cards_count":{"type":"string"}}}}}}}}},"parameters":[{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false}]}},"/cart.giftcard.list.json":{"get":{"tags":["cart"],"summary":"cart.giftcard.list","description":"Obtenir la liste des cartes-cadeaux.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardList","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Model_Response_Cart_GiftCard_List"}}}}},"parameters":[{"name":"start","description":"Ce param\u00e8tre d\u00e9finit le num\u00e9ro \u00e0 partir duquel vous souhaitez r\u00e9cup\u00e9rer des entit\u00e9s","schema":{"type":"integer","default":0},"example":0,"in":"query","required":false},{"name":"count","description":"Ce param\u00e8tre d\u00e9finit le nombre d'entit\u00e9s \u00e0 r\u00e9cup\u00e9rer. Nombre maximum autoris\u00e9 = 250","schema":{"type":"integer","default":10},"example":20,"in":"query","required":false},{"name":"page_cursor","description":"Utilis\u00e9 pour r\u00e9cup\u00e9rer des entit\u00e9s via la pagination bas\u00e9e sur le curseur (ne peut pas \u00eatre utilis\u00e9 avec un autre param\u00e8tre de filtrage)","schema":{"type":"string"},"example":"","in":"query","required":false},{"name":"store_id","description":"Identifiant de la boutique","schema":{"type":"string"},"example":"1","in":"query","required":false},{"name":"response_fields","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string"},"example":"{pagination,result{gift_card{id,code,amount,status}}}","in":"query","required":false},{"name":"params","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez r\u00e9cup\u00e9rer","schema":{"type":"string","default":"id,code,name"},"example":"id,model,price,images","in":"query","required":false},{"name":"exclude","description":"D\u00e9finissez ce param\u00e8tre pour choisir quels champs d'entit\u00e9 vous souhaitez ignorer. Fonctionne uniquement si le param\u00e8tre `params` est \u00e9gal \u00e0 force_all","schema":{"type":"string"},"example":false,"in":"query","required":false}]}},"/cart.giftcard.add.json":{"post":{"tags":["cart"],"summary":"cart.giftcard.add","description":"Utilisez cette m\u00e9thode pour cr\u00e9er une carte-cadeau d\u2019un montant sp\u00e9cifi\u00e9.","security":[{"ApiKeyAuth":[],"StoreKeyAuth":[]}],"operationId":"CartGiftcardAdd","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"return_code":{"type":"integer"},"return_message":{"type":"string"},"result":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"}}}}}}}}},"parameters":[{"name":"amount","description":"D\u00e9finit la valeur de la carte-cadeau.","schema":{"type":"number"},"example":15.5,"in":"query","required":true},{"name":"code","description":"Code de carte-cadeau","schema":{"type":"string"},"example":"GFT1 A4S5 AA11 RD61","in":"query","required":false},{"name":"owner_email","description":"Email du propri\u00e9taire de la carte cadeau","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_email","description":"Email du destinataire de la carte cadeau","schema":{"type":"string"},"example":"jubari@hannsgroup.com","in":"query","required":false},{"name":"recipient_name","description":"Nom du destinataire de la carte cadeau","schema":{"type":"string"},"example":"John Doe","in":"query","required":false},{"name":"owner_name","de
[...]
